{% extends '_base.html' %}
{% load helpers %}

{% block content %}
<div class="pull-right">
    {% if perms.tenancy.add_tenant %}
		<a href="{% url 'tenancy:tenant_add' %}" class="btn btn-primary">
			<span class="fa fa-plus" aria-hidden="true"></span>
			Add a tenant
		</a>
        <a href="{% url 'tenancy:tenant_import' %}" class="btn btn-info">
            <span class="fa fa-download" aria-hidden="true"></span>
            Import tenants
        </a>
    {% endif %}
    {% include 'inc/export_button.html' with obj_type='tenants' %}
</div>
<h1>{% block title %}Tenants{% endblock %}</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_edit_url='tenancy:tenant_bulk_edit' bulk_delete_url='tenancy:tenant_bulk_delete' %}
    </div>
    <div class="col-md-3">
		{% include 'inc/search_panel.html' %}
    </div>
</div>
{% endblock %}
