# We can't remove volumes in a compose override, for the test configuration using the final containers
# we don't want the volumes so this is the default override file to add the volumes in the dev case
# any override will need to include these volumes to use them.
# see:  https://github.com/docker/compose/issues/3729
---
version: "3.4"
services:
  nautobot:
    volumes:
      - ./nautobot_config.py:/opt/nautobot/nautobot_config.py
      - ../:/source
  celery_worker:
    volumes:
      - ./nautobot_config.py:/opt/nautobot/nautobot_config.py
      - ../:/source
  celery_beat:
    volumes:
      - ./nautobot_config.py:/opt/nautobot/nautobot_config.py
      - ../:/source
  mkdocs:
    volumes:
      - ../:/source
  nodejs:
    # Changed from node:slim because slim doesn't include git and openssh-client
    image: node:18
    environment:
      PORT: "3000"
      # DEBUG: "express:*" # nodejs web server debug logging
    ports:
      - "3000:3000"
    working_dir: /opt/node/nautobot
    user: node
    volumes:
      - ../nautobot/ui/:/opt/node/nautobot
      - ../examples/:/opt/examples
      - ../:/source
    command: >
      bash -c "npm install && npm run start"  # TODO: running npm install every time is slow, can we persist a volume?
    depends_on:
      - nautobot
