---
version: "3.4"
services:
  db:
    image: postgres:13
    env_file:
      - dev.env
    volumes:
      - pgdata_nautobot:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 5s
      timeout: 5s
      retries: 50
volumes:
  pgdata_nautobot:
