# Used to integrate with Microsoft VS Code dev containers feature.
---
version: "3.4"
services:
  nautobot:
    command: "sleep infinity"
    volumes:
      - ./nautobot_config.py:/opt/nautobot/nautobot_config.py
      - ../:/source
  worker:
    volumes:
      - ./nautobot_config.py:/opt/nautobot/nautobot_config.py
      - ../:/source
