# Used to run the final container images vs the dev containers
---
services:
  nautobot:
    build:
      target: final
    image: "local/nautobot-final:local-py${PYTHON_VER}"
    ports:
      - 8443:8443
  celery_worker:
    image: "local/nautobot-final:local-py${PYTHON_VER}"
    entrypoint: "nautobot-server celery worker -l INFO --events"
  celery_beat:
    image: "local/nautobot-final:local-py${PYTHON_VER}"
