---
version: "3.4"
services:
  nautobot:
    build:
      args:
        PYTHON_VER: "${PYTHON_VER}"
      context: ../
      dockerfile: docker/Dockerfile
      target: dev
    image: "networktocode/nautobot-dev-py${PYTHON_VER}:local"
    ports:
      - "8080:8080"
    depends_on:
      - postgres
      - redis
    env_file:
      - dev.env
    tty: true
  worker:
    image: "networktocode/nautobot-dev-py${PYTHON_VER}:local"
    entrypoint: "nautobot-server rqworker"
    depends_on:
      - nautobot
    env_file:
      - ./dev.env
    tty: true
  postgres:
    image: postgres:13
    env_file:
      - dev.env
    volumes:
      - pgdata_nautobot:/var/lib/postgresql/data
  redis:
    image: redis:6-alpine
    command:
      - sh
      - -c # this is to evaluate the $REDIS_PASSWORD from the env
      - redis-server --appendonly yes --requirepass $$REDIS_PASSWORD ## $$ because of docker-compose
    env_file:
      - dev.env
volumes:
  pgdata_nautobot:
