{% extends 'base.html' %}

{% block header %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a href="{% url 'user:profile' %}" class="nav-link{% if active_tab == "profile" %} active{% endif %}">Profile</a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="{% url 'user:preferences' %}" class="nav-link{% if active_tab == "preferences" %} active{% endif %}">Preferences</a>
        </li>
        {% if is_django_auth_user %}
            <li class="nav-item" role="presentation">
                <a href="{% url 'user:change_password' %}" class="nav-link{% if active_tab == "change_password" %} active{% endif %}">Change Password</a>
            </li>
        {% endif %}
        <li class="nav-item" role="presentation">
            <a href="{% url 'user:token_list' %}" class="nav-link{% if active_tab == "api_tokens" %} active{% endif %}">API Tokens</a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="{% url 'user:advanced_settings_edit' %}" class="nav-link{% if active_tab == "advanced_settings" %} active{% endif %}">Advanced Settings</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {% block usercontent %}{% endblock %}
{% endblock %}
