{% extends 'users/base.html' %}
{% load form_helpers %}

{% block title %}Change Password{% endblock %}

{% block usercontent %}
    <form action="." method="post" class="form form-horizontal col-md-10 offset-md-1">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="card bg-danger">
                <div class="card-header"><strong>Errors</strong></div>
                <div class="card-body">
                    {{ form.non_field_errors }}
                </div>
            </div>
        {% endif %}
        <div class="card mb-3">
            <div class="card-header"><strong>Password</strong></div>
            <div class="card-body">
                {% render_field form.old_password %}
                {% render_field form.new_password1 %}
                {% render_field form.new_password2 %}
            </div>
        </div>
        <div class="text-end">
            <button type="submit" name="_update" class="btn btn-primary">Update</button>
            <a href="{% url 'user:profile' %}" class="btn btn-outline-secondary">Cancel</a>
        </div>
    </form>
{% endblock %}
