{% extends 'users/base.html' %}
{% load helpers %}

{% block usercontent %}
    <small class="text-secondary">User login</small>
    <h5>{{ request.user.username }}</h5>
    <small class="text-secondary">Full name</small>
    <h5>{{ request.user.first_name }} {{ request.user.last_name }}</h5>
    <small class="text-secondary">Email</small>
    <h5>{{ request.user.email }}</h5>
    <small class="text-secondary">Registered</small>
    <h5>{{ request.user.date_joined }}</h5>
    <small class="text-secondary">Groups</small>
    <h5>{{ request.user.groups.all|join:', ' }}</h5>
    <small class="text-secondary">Admin access</small>
    <h5>{{ request.user.is_staff|yesno|capfirst }}</h5>
{% endblock %}
