{% extends '_base.html' %}
{% load render_table from django_tables2 %}
{% load form_helpers %}

{% block title %}Console Connections Import{% endblock %}

{% block content %}
<h1>Console Connections Import</h1>
<div class="row">
	<div class="col-md-6">
		<form action="." method="post" class="form">
		    {% csrf_token %}
		    {% render_form form %}
            <div class="form-group">
                <div class="col-md-12 text-right">
		            <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
		</form>
    </div>
    <div class="col-md-6">
		<h4>CSV Format</h4>
		<table class="table">
			<thead>
				<tr>
					<th>Field</th>
					<th>Description</th>
					<th>Example</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Console server</td>
					<td>Device name or {ID}</td>
					<td>abc1-cs3</td>
				</tr>
				<tr>
					<td>Console server port</td>
					<td>Full CS port name</td>
					<td>Port 35</td>
				</tr>
				<tr>
					<td>Device</td>
					<td>Device name or {ID}</td>
					<td>abc1-switch7</td>
				</tr>
				<tr>
					<td>Console Port</td>
					<td>Console port name</td>
					<td>Console</td>
				</tr>
				<tr>
					<td>Connection Status</td>
					<td>"planned" or "connected"</td>
					<td>planned</td>
				</tr>
			</tbody>
		</table>
		<h4>Example</h4>
		<pre>abc1-cs3,Port 35,abc1-switch7,Console,planned</pre>
	</div>
</div>
{% endblock %}
