{% extends 'dcim/device_component.html' %}
{% load helpers %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Console Server Port</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Device</td>
                        <td>
                            <a href="{{ instance.device.get_absolute_url }}">{{ instance.device }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ instance.name }}</td>
                    </tr>
                    <tr>
                        <td>Label</td>
                        <td>{{ instance.label|placeholder }}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ instance.get_type_display }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ instance.description|placeholder }}</td>
                    </tr>
                </table>
            </div>
            {% include 'extras/inc/tags_panel.html' with tags=instance.tags.all %}
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Connection</strong>
                </div>
                {% if instance.cable %}
                    <table class="table table-hover panel-body attr-table">
                        {% if instance.connected_endpoint %}
                            <tr>
                                <td>Device</td>
                                <td>
                                    <a href="{{ instance.connected_endpoint.device.get_absolute_url }}">{{ instance.connected_endpoint.device }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>
                                    <a href="{{ instance.connected_endpoint.get_absolute_url }}">{{ instance.connected_endpoint.name }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>{{ instance.connected_endpoint.get_type_display|placeholder }}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{ instance.connected_endpoint.description|placeholder }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>Cable</td>
                            <td>
                                <a href="{{ instance.cable.get_absolute_url }}">{{ instance.cable }}</a>
                                <a href="{% url 'dcim:consoleserverport_trace' pk=instance.pk %}" class="btn btn-primary btn-xs" title="Trace">
                                    <i class="fa fa-share-alt" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>Connection Status</td>
                            <td>
                                {% if instance.connection_status %}
                                    <span class="label label-success">{{ instance.get_connection_status_display }}</span>
                                {% else %}
                                    <span class="label label-info">{{ instance.get_connection_status_display }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                {% else %}
                    <div class="panel-body text-muted">
                        Not connected
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
