{% extends 'dcim/device_component.html' %}
{% load helpers %}
{% load plugins %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Console Server Port</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Device</td>
                        <td>
                            <a href="{{ instance.device.get_absolute_url }}">{{ instance.device }}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{ instance.name }}</td>
                    </tr>
                    <tr>
                        <td>Label</td>
                        <td>{{ instance.label|placeholder }}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{ instance.get_type_display }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{ instance.description|placeholder }}</td>
                    </tr>
                </table>
            </div>
            {% include 'extras/inc/tags_panel.html' with tags=instance.tags.all %}
            {% plugin_left_page instance %}
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Connection</strong>
                </div>
                {% if instance.cable %}
                    <table class="table table-hover panel-body attr-table">
                        <tr>
                            <td>Cable</td>
                            <td>
                                <a href="{{ instance.cable.get_absolute_url }}">{{ instance.cable }}</a>
                                <a href="{% url 'dcim:consoleserverport_trace' pk=instance.pk %}" class="btn btn-primary btn-xs" title="Trace">
                                    <i class="mdi mdi-transit-connection-variant" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        {% if instance.connected_endpoint %}
                            <tr>
                                <td>Device</td>
                                <td>
                                    <a href="{{ instance.connected_endpoint.device.get_absolute_url }}">{{ instance.connected_endpoint.device }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>
                                    <a href="{{ instance.connected_endpoint.get_absolute_url }}">{{ instance.connected_endpoint.name }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>{{ instance.connected_endpoint.get_type_display|placeholder }}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{ instance.connected_endpoint.description|placeholder }}</td>
                            </tr>
                            <tr>
                                <td>Path Status</td>
                                <td>
                                    {% if instance.path.is_active %}
                                        <span class="label label-success">Reachable</span>
                                    {% else %}
                                        <span class="label label-danger">Not Reachable</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                {% else %}
                    <div class="panel-body text-muted">
                        Not connected
                        {% if perms.dcim.add_cable %}
                            <span class="dropdown pull-right">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span> Connect
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{% url 'dcim:consoleserverport_connect' termination_a_id=instance.pk termination_b_type='console-port' %}?return_url={{ instance.get_absolute_url }}">Console Port</a></li>
                                    <li><a href="{% url 'dcim:consoleserverport_connect' termination_a_id=instance.pk termination_b_type='front-port' %}?return_url={{ instance.get_absolute_url }}">Front Port</a></li>
                                    <li><a href="{% url 'dcim:consoleserverport_connect' termination_a_id=instance.pk termination_b_type='rear-port' %}?return_url={{ instance.get_absolute_url }}">Rear Port</a></li>
                                </ul>
                            </span>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            {% plugin_right_page instance %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% plugin_full_width_page instance %}
        </div>
    </div>
{% endblock %}
