{% extends 'utilities/obj_edit.html' %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Device Type</strong></div>
        <div class="panel-body">
            {% render_field form.manufacturer %}
            {% render_field form.model %}
            {% render_field form.slug %}
            {% render_field form.part_number %}
            {% render_field form.u_height %}
            {% render_field form.is_full_depth %}
            {% render_field form.interface_ordering %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Function</strong></div>
        <div class="panel-body">
            {% render_field form.is_console_server %}
            {% render_field form.is_pdu %}
            {% render_field form.is_network_device %}
            {% render_field form.subdevice_role %}
        </div>
    </div>
    {% if form.custom_fields %}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Custom Fields</strong></div>
            <div class="panel-body">
                {% render_custom_fields form %}
            </div>
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Tags</strong></div>
        <div class="panel-body">
            {% render_field form.tags %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Comments</strong></div>
        <div class="panel-body">
            {% render_field form.comments %}
        </div>
    </div>
{% endblock %}
