{% extends 'utilities/bulk_edit_form.html' %}
{% load form_helpers %}

{% block title %}Device Bulk Edit{% endblock %}

{% block selected_objects_table %}
    <tr>
        <th>Device</th>
        <th>Type</th>
        <th>Role</th>
        <th>Tenant</th>
        <th>Serial</th>
    </tr>
    {% for device in selected_objects %}
        <tr>
            <td><a href="{% url 'dcim:device' pk=device.pk %}">{{ device }}</a></td>
            <td>{{ device.device_type }}</td>
            <td>{{ device.device_role }}</td>
            <td>{{ device.tenant }}</td>
            <td>{{ device.serial }}</td>
        </tr>
    {% endfor %}
{% endblock %}
