{% extends 'utilities/bulk_edit_form.html' %}
{% load form_helpers %}

{% block title %}Device Type Bulk Edit{% endblock %}

{% block selected_objects_table %}
    <tr>
        <th>Device type</th>
        <th>Manufacturer</th>
        <th>Height</th>
    </tr>
    {% for devicetype in selected_objects %}
        <tr>
            <td><a href="{% url 'dcim:devicetype' pk=devicetype.pk %}">{{ devicetype.model }}</a></td>
            <td>{{ devicetype.manufacturer }}</td>
            <td>{{ devicetype.u_height }}U</td>
        </tr>
    {% endfor %}
{% endblock %}
