{% extends '_base.html' %}
{% load render_table from django_tables2 %}
{% load form_helpers %}

{% block title %}Device Import{% endblock %}

{% block content %}
{% include 'dcim/inc/_device_import_header.html' with active_tab='child_import' %}
<div class="row">
	<div class="col-md-12">
		<form action="." method="post" class="form">
		    {% csrf_token %}
		    {% render_form form %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url obj_list_url %}" class="btn btn-default">Cancel</a>
            </div>
		</form>
		<h4>CSV Format</h4>
		<table class="table">
			<thead>
				<tr>
					<th>Field</th>
					<th>Description</th>
					<th>Example</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Name</td>
					<td>Device name (optional)</td>
					<td>Blade12</td>
				</tr>
				<tr>
					<td>Device role</td>
					<td>Functional role of device</td>
					<td>Blade Server</td>
				</tr>
				<tr>
					<td>Device manufacturer</td>
					<td>Hardware manufacturer</td>
					<td>Dell</td>
				</tr>
				<tr>
					<td>Device model</td>
					<td>Hardware model</td>
					<td>BS2000T</td>
				</tr>
				<tr>
					<td>Platform</td>
					<td>Software running on device (optional)</td>
					<td>Linux</td>
				</tr>
				<tr>
					<td>Serial</td>
					<td>Serial number (optional)</td>
					<td>CAB00577291</td>
				</tr>
				<tr>
					<td>Parent device</td>
					<td>Parent device</td>
					<td>Server101</td>
				</tr>
				<tr>
					<td>Device bay</td>
					<td>Device bay name</td>
					<td>Slot 4</td>
				</tr>
			</tbody>
		</table>
		<h4>Example</h4>
		<pre>Blade12,Blade Server,Dell,BS2000T,Linux,CAB00577291,Server101,Slot4</pre>
	</div>
</div>
{% endblock %}
