{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right noprint">
    {% if perms.dcim.add_device %}
        {% add_button 'dcim:device_add' %}
        {% import_button 'dcim:device_import' %}
    {% endif %}
    {% export_button content_type %}
</div>
<h1>{% block title %}Devices{% endblock %}</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'dcim/inc/device_table.html' with bulk_edit_url='dcim:device_bulk_edit' bulk_delete_url='dcim:device_bulk_delete' %}
    </div>
    <div class="col-md-3 noprint">
		{% include 'inc/search_panel.html' %}
    </div>
</div>
{% endblock %}
