{% extends 'utilities/bulk_edit_form.html' %}
{% load form_helpers %}

{% block title %}Add Interfaces{% endblock %}

{% block selected_objects_title %}Selected Devices{% endblock %}

{% block form_title %}Interface(s) to Add{% endblock %}

{% block selected_objects_table %}
    <tr>
        <th>Device</th>
        <th>Type</th>
        <th>Role</th>
    </tr>
    {% for device in selected_objects %}
        <tr>
            <td><a href="{% url 'dcim:device' pk=device.pk %}">{{ device }}</a></td>
            <td>{{ device.device_type }}</td>
            <td>{{ device.device_role }}</td>
        </tr>
    {% endfor %}
{% endblock %}
