{% extends 'utilities/obj_import.html' %}

{% block title %}Interface Connections Import{% endblock %}

{% block instructions %}
    <h4>CSV Format</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Device A</td>
                <td>Device name or {ID}</td>
                <td>abc1-core1</td>
            </tr>
            <tr>
                <td>Interface A</td>
                <td>Interface name</td>
                <td>xe-0/0/6</td>
            </tr>
            <tr>
                <td>Device B</td>
                <td>Device name or {ID}</td>
                <td>abc1-switch7</td>
            </tr>
            <tr>
                <td>Interface B</td>
                <td>Interface name</td>
                <td>xe-0/0/0</td>
            </tr>
            <tr>
                <td>Connection Status</td>
                <td>"planned" or "connected"</td>
                <td>planned</td>
            </tr>
        </tbody>
    </table>
    <h4>Example</h4>
    <pre>abc1-core1,xe-0/0/6,abc1-switch7,xe-0/0/0,planned</pre>
{% endblock %}
