{% extends 'utilities/bulk_edit_form.html' %}
{% load form_helpers %}

{% block title %}Interface Template Bulk Edit{% endblock %}

{% block selected_objects_table %}
    <tr>
        <th>Name</th>
        <th>Form Factor</th>
        <th>Management</th>
    </tr>
    {% for iface in selected_objects %}
        <tr>
            <td>{{ iface.name }}</td>
            <td>{{ iface.get_form_factor_display }}</td>
            <td>
                {% if iface.mgmt_only %}
                    <i class="glyphicon glyphicon-ok text-success" title="Yes"></i>
                {% else %}
                    <i class="glyphicon glyphicon-remove text-danger" title="No"></i>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
