{% extends '_base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Power Connections{% endblock %}

{% block content %}
<div class="pull-right">
    {% if perms.dcim.change_powerport %}
        <a href="{% url 'dcim:power_connections_import' %}" class="btn btn-info">
            <span class="fa fa-download" aria-hidden="true"></span>
            Import connections
        </a>
    {% endif %}
    {% include 'inc/export_button.html' with obj_type='connections' %}
</div>
<h1>Power Connections</h1>
<div class="row">
	<div class="col-md-9">
        {% render_table table 'table.html' %}
    </div>
    <div class="col-md-3">
		{% include 'inc/search_panel.html' %}
    </div>
</div>
{% endblock %}
