{% extends 'utilities/obj_edit.html' %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>{{ obj_type|capfirst }}</strong></div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Rack</label>
                <div class="col-md-9">
                    <p class="form-control-static">{{ obj.rack }}</p>
                </div>
            </div>
            {% render_field form.units %}
            {% render_field form.user %}
            {% render_field form.tenant_group %}
            {% render_field form.tenant %}
            {% render_field form.description %}
            {% render_field form.tags %}
        </div>
    </div>
{% endblock %}
