{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right">
    {% if perms.dcim.add_rackrole %}
        {% add_button 'dcim:rackrole_add' %}
        {% import_button 'dcim:rackrole_import' %}
    {% endif %}
    {% export_button content_type %}
</div>
<h1>{% block title %}Rack Roles{% endblock %}</h1>
<div class="row">
    <div class="col-md-12">
        {% include 'utilities/obj_table.html' with bulk_delete_url='dcim:rackrole_bulk_delete' %}
    </div>
</div>
{% endblock %}
