{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right">
    {% if perms.dcim.add_rack %}
        {% add_button 'dcim:rack_add' %}
        {% import_button 'dcim:rack_import' %}
    {% endif %}
    {% export_button content_type %}
</div>
<h1>{% block title %}Racks{% endblock %}</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_edit_url='dcim:rack_bulk_edit' bulk_delete_url='dcim:rack_bulk_delete' %}
    </div>
    <div class="col-md-3">
		{% include 'inc/search_panel.html' %}
		{% include 'inc/tags_panel.html' %}
    </div>
</div>
{% endblock %}

{% block javascript %}
    {% include 'dcim/inc/filter_rack_group.html' %}
{% endblock %}

