{% extends 'utilities/obj_import.html' %}
{% load render_table from django_tables2 %}
{% load form_helpers %}

{% block title %}Rack Import{% endblock %}

{% block instructions %}
    <h4>CSV Format</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Site</td>
                <td>Name of the assigned site</td>
                <td>DC-4</td>
            </tr>
            <tr>
                <td>Group</td>
                <td>Rack group name (optional)</td>
                <td>Cage 1400</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Internal rack name</td>
                <td>R101</td>
            </tr>
            <tr>
                <td>Facility ID</td>
                <td>Rack ID assigned by the facility (optional)</td>
                <td>J12.100</td>
            </tr>
            <tr>
                <td>Tenant</td>
                <td>Name of tenant (optional)</td>
                <td>Pied Piper</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>Functional role (optional)</td>
                <td>Compute</td>
            </tr>
            <tr>
                <td>Type</td>
                <td>Rack type (optional)</td>
                <td>4-post cabinet</td>
            </tr>
            <tr>
                <td>Width</td>
                <td>Rail-to-rail width (19 or 23 inches)</td>
                <td>19</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>Height in rack units</td>
                <td>42</td>
            </tr>
            <tr>
                <td>Descending units</td>
                <td>Units are numbered top-to-bottom</td>
                <td>False</td>
            </tr>
        </tbody>
    </table>
    <h4>Example</h4>
    <pre>DC-4,Cage 1400,R101,J12.100,Pied Piper,Compute,4-post cabinet,19,42,False</pre>
{% endblock %}
