{% extends '_base.html' %}

{% block content %}
<div class="pull-right">
    {% if perms.dcim.add_site %}
		<a href="{% url 'dcim:site_add' %}" class="btn btn-primary">
			<span class="fa fa-plus" aria-hidden="true"></span>
			Add a site
		</a>
        <a href="{% url 'dcim:site_import' %}" class="btn btn-info">
            <span class="fa fa-download" aria-hidden="true"></span>
            Import sites
        </a>
    {% endif %}
    {% include 'inc/export_button.html' with obj_type='sites' %}
</div>
<h1>{% block title %}Sites{% endblock %}</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_edit_url='dcim:site_bulk_edit' %}
    </div>
    <div class="col-md-3">
		{% include 'inc/search_panel.html' %}
    </div>
</div>
{% endblock %}
