{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right">
    {% if perms.dcim.add_site %}
        {% add_button 'dcim:site_add' %}
        {% import_button 'dcim:site_import' %}
    {% endif %}
    {% export_button content_type %}
</div>
<h1>{% block title %}Sites{% endblock %}</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_edit_url='dcim:site_bulk_edit' %}
    </div>
    <div class="col-md-3">
		{% include 'inc/search_panel.html' %}
		{% include 'inc/tags_panel.html' %}
    </div>
</div>
{% endblock %}
