{% extends '_base.html' %}
{% load render_table from django_tables2 %}
{% load form_helpers %}

{% block title %}Site Import{% endblock %}

{% block content %}
<h1>Site Import</h1>
<div class="row">
	<div class="col-md-6">
		<form action="." method="post" class="form">
		    {% csrf_token %}
		    {% render_form form %}
		    <div class="form-group">
		        <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{% url return_url %}" class="btn btn-default">Cancel</a>
		    </div>
		</form>
	</div>
	<div class="col-md-6">
		<h4>CSV Format</h4>
		<table class="table">
			<thead>
				<tr>
					<th>Field</th>
					<th>Description</th>
					<th>Example</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Name</td>
					<td>Site's proper name</td>
					<td>ASH-4 South</td>
				</tr>
				<tr>
					<td>Slug</td>
					<td>URL-friendly name</td>
					<td>ash4-south</td>
				</tr>
				<tr>
					<td>Tenant</td>
					<td>Name of tenant (optional)</td>
					<td>Pied Piper</td>
				</tr>
				<tr>
					<td>Facility</td>
					<td>Name of the hosting facility (optional)</td>
					<td>Equinix DC6</td>
				</tr>
				<tr>
					<td>ASN</td>
					<td>Autonomous system number (optional)</td>
					<td>65000</td>
				</tr>
				<tr>
					<td>Contact Name</td>
					<td>Name of administrative contact (optional)</td>
					<td>Hank Hill</td>
				</tr>
				<tr>
					<td>Contact Phone</td>
					<td>Phone number (optional)</td>
					<td>+1-214-555-1234</td>
				</tr>
				<tr>
					<td>Contact E-mail</td>
					<td>E-mail address (optional)</td>
					<td>hhill@example.com</td>
				</tr>
			</tbody>
		</table>
		<h4>Example</h4>
		<pre>ASH-4 South,ash4-south,Pied Piper,Equinix DC6,65000,Hank Hill,+1-214-555-1234,hhill@example.com</pre>
	</div>
</div>
{% endblock %}
