{% extends '_base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Sites{% endblock %}

{% block content %}
<div class="pull-right">
    {% if perms.dcim.add_site %}
		<a href="{% url 'dcim:site_add' %}" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			Add a site
		</a>
    {% endif %}
    {% include 'inc/export_button.html' with obj_type='sites' %}
</div>
<h1>Sites</h1>
<div class="row">
	<div class="col-md-9">
        {% render_table table 'table.html' %}
    </div>
    <div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
				<strong>Search</strong>
			</div>
			<div class="panel-body">
				<form action="{% url 'dcim:site_list' %}" method="get">
					<div class="input-group">
						<input type="text" name="q" class="form-control" placeholder="Name" {% if request.GET.q %}value="{{ request.GET.q }}" {% endif %}/>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
		{% include 'inc/filter_panel.html' %}
    </div>
</div>
{% endblock %}
