{% extends 'generic/object_edit.html' %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Virtual Chassis</strong></div>
        <div class="panel-body">
            {% render_field form.name %}
            {% render_field form.domain %}
            {% render_field form.tags %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Member Devices</strong></div>
        <div class="panel-body">
            {% render_field form.region %}
            {% render_field form.site %}
            {% render_field form.rack %}
            {% render_field form.members %}
            {% render_field form.initial_position %}
        </div>
    </div>
    {% if form.custom_fields %}
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Custom Fields</strong></div>
            <div class="panel-body">
                {% render_custom_fields form %}
            </div>
        </div>
    {% endif %}
{% endblock %}
