{% extends '_base.html' %}
{% load form_helpers %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data" class="form form-horizontal">
        {% csrf_token %}
        {{ pk_form.pk }}
        {{ formset.management_form }}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h3>{% block title %}New Virtual Chassis{% endblock %}</h3>
                {% if vc_form.non_field_errors %}
                    <div class="panel panel-danger">
                        <div class="panel-heading"><strong>Errors</strong></div>
                        <div class="panel-body">
                            {{ vc_form.non_field_errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Virtual Chassis</strong></div>
                    <div class="table panel-body">
                        {% render_form vc_form %}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Members</strong></div>
                    <table class="table panel-body">
                        <thead>
                            <tr>
                                <th>Device</th>
                                <th>Position</th>
                                <th>Priority</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in formset %}
                                <tr>
                                    <td>{{ form.device }}</td>
                                    <td>{{ form.position }}</td>
                                    <td>{{ form.priority }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-right">
                <button type="submit" name="_create" class="btn btn-primary">Create</button>
                <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
