[Unit]
Description=Netbox RQ Worker
Documentation=https://netbox.readthedocs.io/en/stable/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

EnvironmentFile=/etc/sysconfig/netbox.env

User=www-data
Group=www-data

WorkingDirectory=${WorkingDirectory}

ExecStart=/usr/bin/python3 ${WorkingDirectory}/netbox/manage.py rqworker

Restart=on-failure
RestartSec=30
PrivateTmp=true

[Install]
WantedBy=multi-user.target
