{% extends 'generic/object_create.html' %}
{% load static %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Cloud Network</strong></div>
        <div class="panel-body">
            {% render_field form.name %}
            {% render_field form.description %}
            {% render_field form.cloud_resource_type %}
            {% render_field form.cloud_account %}
            {% render_field form.cloud_services %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Prefixes</strong></div>
        <div class="panel-body">
            {% render_field form.namespace %}
            {% render_field form.prefixes %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Advanced Configurations</strong></div>
        <div class="panel-body">
            {% render_field form.parent %}
            {% render_field form.extra_config %}
        </div>
    </div>

    {% include 'inc/extras_features_edit_form_fields.html' %}

{% endblock form %}
