{% include 'inc/modal_header.html' with title=title %}

<div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
    {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }} alert-dismissable" role="alert">
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ msg }}
        </div>
    {% endfor %}
    <div class="container-fluid gy-3">
        <div class="row align-items-center" style="margin-bottom: 12px;">
            <div class="col-1 text-end">
                <span aria-hidden="true" class="mdi mdi-check-circle text-success fs-3"></span>
            </div>
            <div class="col-11">
                {{ message }}
            </div>
        </div>
        <div class="row align-items-center" style="margin-bottom: 12px;">
            <div class="col-4 text-end fw-semibold">Name:</div>
            <div class="col-8">{{ scheduled_job.name }}</div>
        </div>
        {% if scheduled_job.start_time %}
            <div class="row align-items-center" style="margin-bottom: 12px;">
                <div class="col-4 text-end fw-semibold">Scheduled Time:</div>
                <div class="col-8">{{ scheduled_job.start_time }}</div>
            </div>
        {% endif %}
        {% if scheduled_job.interval %}
            <div class="row align-items-center" style="margin-bottom: 12px;">
                <div class="col-4 text-end fw-semibold">Interval:</div>
                <div class="col-8">{{ scheduled_job.get_interval_display }}</div>
            </div>
        {% endif %}
    </div>
</div>

<div class="modal-footer">
    <a href="{{ redirect_url }}" class="btn btn-primary">
        {{ redirect_label }}
    </a>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        <span aria-hidden="true" class="mdi mdi-close me-4"></span><!--
        -->Close
    </button>
</div>
