[flake8]
ignore =
    # E203 whitespace before ':' (per Black, this is actually correct in some cases)
    E203,
    # E501 line greater than 80 characters in length (we use a 120-character line length, enforced by Black)
    E501,
    # W503 line break before binary operator (per Black, this is actually correct in some cases)
    W503,
    # W504 line break after binary operator (per Black, this is actually correct in some cases)
    W504
