*.pyc
*.swp
/site/
/venv/
**/dist/
!nautobot/project-static/dist/
/*.sh
local_requirements.txt
!upgrade.sh
fabfile.py
gunicorn.py
invoke.yml
nautobot.log
nautobot.pid
nautobot.sql
.DS_Store
.idea
.coverage
.coverage.*
.vscode
docker-compose.override.yml
*.env
!dev.env
*.egg-info
.python-version
db_output.*
celerybeat-schedule
geckodriver.log
uwsgi.ini
jobs/*
htmlcov/*
/nautobot/project-static/docs/
/examples/example_*/**/static/example_*/docs/
development/factory_dump*.json
development/kind-kube-config
development/pod.yaml
node_modules
.yarn
.service_ports.json
