*.pyc
*.swp
/nautobot/core/configuration.py
/nautobot/core/ldap_config.py
/site/
/venv/
/dist/
/*.sh
local_requirements.txt
!upgrade.sh
fabfile.py
gunicorn.py
invoke.yml
nautobot.log
nautobot.pid
.DS_Store
.idea
.coverage
.vscode
docker-compose.override.yml
override.env
*.egg-info
.python-version
