# Linting/Testing available at https://config.travis-ci.com/explore
os: linux
dist: xenial
services:
  - postgresql
  - redis
addons:
  postgresql: "9.6"
language: python
env:
  - INVOKE_NAUTOBOT_LOCAL=True NAUTOBOT_SELENIUM_URL=http://localhost:4444/wd/hub NAUTOBOT_SELENIUM_HOST=host.docker.internal
jobs:
  fast_finish: true
  include:
    - stage: Tests
      python: "3.6"
    - python: "3.7"
    - python: "3.8"
    - python: "3.9"
  allow_failures:
    - python: "3.9"
before_install:
  - pip install poetry
  - curl -Lo /home/travis/bin/hadolint https://github.com/hadolint/hadolint/releases/download/v2.0.0/hadolint-Linux-x86_64
  - chmod +x /home/travis/bin/hadolint
install:
  - poetry config virtualenvs.create false
  # Poetry 1.1.0 added parallel installation as an option;
  # unfortunately it seems to have some issues with installing/updating "requests" and "certifi"
  # while simultaneously atttempting to *use* those packages to install other packages.
  # For now we disable it.
  - poetry config installer.parallel false
  - poetry install
before_script:
  - psql -U postgres -c 'create database nautobot;'
  - pip install docker-compose
script:
  - poetry run ./scripts/cibuild.sh
