# The Python web framework on which NetBox is built
# https://github.com/django/django
Django

# Django caching using Redis
# https://github.com/Suor/django-cacheops
django-cacheops

# Django middleware which permits cross-domain API requests
# https://github.com/OttoYiu/django-cors-headers
django-cors-headers

# Runtime UI tool for debugging Django
# https://github.com/jazzband/django-debug-toolbar
django-debug-toolbar

# Library for writing reusable URL query filters
# https://github.com/carltongibson/django-filter
django-filter

# Modified Preorder Tree Traversal (recursive nesting of objects)
# https://github.com/django-mptt/django-mptt
django-mptt

# Context managers for PostgreSQL advisory locks
# https://github.com/Xof/django-pglocks
django-pglocks

# Prometheus metrics library for Django
# https://github.com/korfuri/django-prometheus
django-prometheus

# Django integration for RQ (Reqis queuing)
# https://github.com/rq/django-rq
django-rq

# Abstraction models for rendering and paginating HTML tables
# https://github.com/jieter/django-tables2
django-tables2

# User-defined tags for objects
# https://github.com/alex/django-taggit
django-taggit

# A Django field for representing time zones
# https://github.com/mfogel/django-timezone-field/
django-timezone-field

# A REST API framework for Django projects
# https://github.com/encode/django-rest-framework
djangorestframework

# Swagger/OpenAPI schema generation for REST APIs
# https://github.com/axnsan12/drf-yasg
drf-yasg[validation]

# WSGI HTTP server
# https://gunicorn.org/
gunicorn

# Platform-agnostic template rendering engine
# https://github.com/pallets/jinja
Jinja2

# Simple markup language for rendering HTML
# https://github.com/Python-Markdown/markdown
Markdown

# Library for manipulating IP prefixes and addresses
# https://github.com/drkjam/netaddr
netaddr

# Fork of PIL (Python Imaging Library) for image processing
# https://github.com/python-pillow/Pillow
Pillow

# PostgreSQL database adapter for Python
# https://github.com/psycopg/psycopg2
psycopg2-binary

# Extensive cryptographic library (fork of pycrypto)
# https://github.com/Legrandin/pycryptodome
pycryptodome

# YAML rendering library
# https://github.com/yaml/pyyaml
PyYAML

# In-memory key/value store used for caching and queuing
# https://github.com/andymccurdy/redis-py
redis

# SVG image rendering (used for rack elevations)
# https://github.com/mozman/svgwrite
svgwrite
