Django
django-cors-headers
django-debug-toolbar
django-filter==1.1.0
django-mptt
django-tables2
django-taggit
django-timezone-field
djangorestframework==3.8.1
drf-yasg[validation]
graphviz
Markdown
natsort
ncclient
netaddr
paramiko
Pillow
psycopg2-binary
py-gfm
pycryptodome
xmltodict
