---
dev_addr: "127.0.0.1:8001"
edit_uri: "edit/main/nautobot/docs"
site_dir: "nautobot/project-static/docs"
site_name: "Nautobot Documentation"
site_url: "https://docs.nautobot.com/projects/core/en/stable/"
repo_url: "https://github.com/nautobot/nautobot"
copyright: "Copyright &copy; The Authors"
theme:
  name: "material"
  navigation_depth: 4
  custom_dir: "docs/assets/overrides"
  hljs_languages:
    - "django"
    - "yaml"
  features:
    - "navigation.tracking"
    - "navigation.tabs"
    - "navigation.tabs.sticky"
    - "search.suggest"
    - "search.highlight"
    - "search.share"
  favicon: "assets/favicon.ico"
  logo: "assets/nautobot_logo.svg"
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: "default"
      primary: "black"
      toggle:
        icon: "material/weather-sunny"
        name: "Switch to dark mode"

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: "slate"
      primary: "black"
      toggle:
        icon: "material/weather-night"
        name: "Switch to light mode"
extra_css:
  - "assets/extra.css"

# needed for RTD version flyout menu
# jquery is not (yet) injected by RTD automatically and it might be dropped
# as a dependency in the future
extra_javascript:
  - "https://code.jquery.com/jquery-3.6.0.min.js"

extra:
  generator: false
  ntc_sponsor: true
  social:
    - icon: "fontawesome/solid/rss"
      link: "https://blog.networktocode.com/blog/tags/nautobot"
      name: "Network to Code Blog"
    - icon: "fontawesome/brands/youtube"
      link: "https://www.youtube.com/playlist?list=PLjA0bhxgryJ2Ts4GJMDA-tPzVWEncv4pb"
      name: "Nautobot Videos"
    - icon: "fontawesome/brands/slack"
      link: "https://www.networktocode.com/community/"
      name: "Network to Code Community"
    - icon: "fontawesome/brands/github"
      link: "https://github.com/nautobot/nautobot"
      name: "GitHub Repo"
    - icon: "fontawesome/brands/twitter"
      link: "https://twitter.com/networktocode"
      name: "Network to Code Twitter"
markdown_extensions:
  - "admonition"
  - "toc":
      permalink: true
  - "attr_list"
  - "md_in_html"
  - "pymdownx.details"
  - "pymdownx.highlight":
      anchor_linenums: true
  - "pymdownx.inlinehilite"
  - "pymdownx.snippets"
  - "pymdownx.superfences"

plugins:
  - "search"
  - "gen-files":
      scripts:
        - docs/generate_code_reference_pages.py
  - "include-markdown"
  - "mkdocs-version-annotations"
  - "mkdocstrings":
      default_handler: "python"
      handlers:
        python:
          paths: ["."]
          options:
            heading_level: 1
            show_root_heading: true
            show_root_members_full_path: true

nav:
  - Overview: "index.md"
  - Documentation:
      - Installation:
          - Installing Prerequisites: "installation/index.md"
          - Installing Nautobot: "installation/nautobot.md"
          - Deploying Nautobot Services: "installation/services.md"
          - Configuring an HTTP Server: "installation/http-server.md"
          - External Authentication (Optional): "installation/external-authentication.md"
          - Nautobot Docker Images: "docker/index.md"
      - Migration:
          - Migrating from NetBox: "installation/migrating-from-netbox.md"
          - Upgrading Nautobot: "installation/upgrading.md"
          - Migrating from PostgreSQL to MySQL: "installation/migrating-from-postgresql.md"
      - Configuration:
          - Configuring Nautobot: "configuration/index.md"
          - Required Settings: "configuration/required-settings.md"
          - Optional Settings: "configuration/optional-settings.md"
      - External Authentication:
          - LDAP: "configuration/authentication/ldap.md"
          - SSO: "configuration/authentication/sso.md"
          - Remote Header: "configuration/authentication/remote.md"
      - Administration:
          - Nautobot Server: "administration/nautobot-server.md"
          - Nautobot Shell: "administration/nautobot-shell.md"
          - Permissions: "administration/permissions.md"
          - Replicating Nautobot: "administration/replicating-nautobot.md"
          - Task Queues: 'administration/celery-queues.md'
      - User Guides:
          - Creating Devices: "user-guides/getting-started/creating-devices.md"
          - Custom Fields: "user-guides/custom-fields.md"
          - Getting Started In the Web UI: "user-guides/getting-started/index.md"
          - Git as a Data Source: "user-guides/git-data-source.md"
          - GraphQL: "user-guides/graphql.md"
          - Interfaces: "user-guides/getting-started/interfaces.md"
          - IP Address Management: "user-guides/getting-started/ipam.md"
          - Platforms: "user-guides/getting-started/platforms.md"
          - Regions: "user-guides/getting-started/regions.md"
          - Tenants: "user-guides/getting-started/tenants.md"
          - The Search Bar: "user-guides/getting-started/search-bar.md"
          - VLANS and VLAN Groups: "user-guides/getting-started/vlans-and-vlan-groups.md"
      - Core Functionality:
          - Circuits: "core-functionality/circuits.md"
          - Devices and Cabling: "core-functionality/devices.md"
          - Device Types: "core-functionality/device-types.md"
          - IP Address Management: "core-functionality/ipam.md"
          - Power Tracking: "core-functionality/power.md"
          - Secrets: "core-functionality/secrets.md"
          - Service Mapping: "core-functionality/services.md"
          - Sites, Locations, and Racks: "core-functionality/sites-and-racks.md"
          - Tenancy: "core-functionality/tenancy.md"
          - Virtualization: "core-functionality/virtualization.md"
          - VLAN Management: "core-functionality/vlans.md"
      - Additional Features:
          - Caching: "additional-features/caching.md"
          - Change Logging: "additional-features/change-logging.md"
          - Computed Fields: "models/extras/computedfield.md"
          - Context Data: "additional-features/config-contexts.md"
          - Custom Fields: "models/extras/customfield.md"
          - Custom Links: "models/extras/customlink.md"
          - Dynamic Groups: "models/extras/dynamicgroup.md"
          - Export Templates: "models/extras/exporttemplate.md"
          - Git Repositories: "models/extras/gitrepository.md"
          - Health Check: "additional-features/healthcheck.md"
          - Jobs: "additional-features/jobs.md"
          - Job Hooks: "models/extras/jobhook.md"
          - Job Scheduling and Approvals: "additional-features/job-scheduling-and-approvals.md"
          - NAPALM: "additional-features/napalm.md"
          - Notes: "models/extras/note.md"
          - Prometheus Metrics: "additional-features/prometheus-metrics.md"
          - Relationships: "models/extras/relationship.md"
          - Statuses: "models/extras/status.md"
          - Tags: "models/extras/tag.md"
          - Template Filters: "additional-features/template-filters.md"
          - Webhooks: "models/extras/webhook.md"
      - REST API:
          - Overview: "rest-api/overview.md"
          - Filtering: "rest-api/filtering.md"
          - Authentication: "rest-api/authentication.md"
      - GraphQL API:
          - Overview: "additional-features/graphql.md"
      - Installing and Using Plugins: "plugins/index.md"
  - App Developer Guide:
      - Developing Plugins: "plugins/development.md"
      - Porting NetBox Plugins to Nautobot: "plugins/porting-from-netbox.md"
      - Code Reference:
          - nautobot.apps: "code-reference/nautobot/apps/__init__.md"
          - nautobot.apps.api: "code-reference/nautobot/apps/api/__init__.md"
          - nautobot.apps.api.nested_serializers: "code-reference/nautobot/apps/api/nested_serializers.md"
          - nautobot.apps.api.serializers: "code-reference/nautobot/apps/api/serializers.md"
          - nautobot.apps.api.urls: "code-reference/nautobot/apps/api/urls.md"
          - nautobot.apps.api.views: "code-reference/nautobot/apps/api/views.md"
          - nautobot.apps.choices: "code-reference/nautobot/apps/choices.md"
          - nautobot.apps.datasources: "code-reference/nautobot/apps/datasources.md"
          - nautobot.apps.filters: "code-reference/nautobot/apps/filters.md"
          - nautobot.apps.forms: "code-reference/nautobot/apps/forms/__init__.md"
          - nautobot.apps.forms.fields: "code-reference/nautobot/apps/forms/fields.md"
          - nautobot.apps.forms.widgets: "code-reference/nautobot/apps/forms/widgets.md"
          - nautobot.apps.homepage: "code-reference/nautobot/apps/homepage.md"
          - nautobot.apps.jobs: "code-reference/nautobot/apps/jobs.md"
          - nautobot.apps.models: "code-reference/nautobot/apps/models/__init__.md"
          - nautobot.apps.models.fields: "code-reference/nautobot/apps/models/fields.md"
          - nautobot.apps.navigation: "code-reference/nautobot/apps/navigation.md"
          - nautobot.apps.tables: "code-reference/nautobot/apps/tables.md"
          - nautobot.apps.testing: "code-reference/nautobot/apps/testing.md"
          - nautobot.apps.urls: "code-reference/nautobot/apps/urls.md"
          - nautobot.apps.views: "code-reference/nautobot/apps/views.md"
  - Core Developer Guide:
      - Introduction: "development/index.md"
      - Getting Started: "development/getting-started.md"
      - Advanced Docker Compose Usage: "development/docker-compose-advanced-use-cases.md"
      - Best Practices: "development/best-practices.md"
      - Style Guide: "development/style-guide.md"
      - Extending Models: "development/extending-models.md"
      - Testing: 'development/testing.md'
      - Application Registry: "development/application-registry.md"
      - Page Templates: "development/templates.md"
      - Navigation Menu: "development/navigation-menu.md"
      - Home Page Panels: "development/homepage.md"
      - User Preferences: "development/user-preferences.md"
      - Release Checklist: "development/release-checklist.md"
  - Release Notes:
      - Overview: "release-notes/index.md"
      - Version 1.5: "release-notes/version-1.5.md"
      - Version 1.4: "release-notes/version-1.4.md"
      - Version 1.3: "release-notes/version-1.3.md"
      - Version 1.2: "release-notes/version-1.2.md"
      - Version 1.1: "release-notes/version-1.1.md"
      - Version 1.0: "release-notes/version-1.0.md"
  - Nautobot Apps:
      - Overview: "apps/index.md"
      - Network to Code App Docs:
          - Nautobot ChatOps: "https://docs.nautobot.com/projects/chatops/en/latest/"
          - Nautobot Firewall Models: "https://nautobot-plugin-firewall-models.readthedocs.io/en/latest/"
          - Nautobot Plugin Nornir: "https://docs.nautobot.com/projects/plugin-nornir/en/latest/"
          - Nautobot Golden Configuration: "https://docs.nautobot.com/projects/golden-config/"
          - Nautobot Single Source of Truth: "https://nautobot-plugin-ssot.readthedocs.io/en/latest/"
      - Community Apps: "apps/nautobot-apps.md"
  - Nautobot Docs Home ↗︎: "https://docs.nautobot.com/"
