[tool.poetry]
name = "nautobot"
# Primary package version gets set here. This is used for publishing, and once
# installed, `nautobot.__version__` will have this version number.
version = "1.0.0-beta.2"
description = "Source of truth and network automation platform."
authors = ["Network to Code <opensource@networktocode.com>"]
license = "Apache-2.0"
homepage = "https://nautobot.com"
repository = "https://github.com/nautobot/nautobot"
documentation = "https://nautobot.readthedocs.io"
readme = "README.md"
keywords = ["Nautobot"]
classifiers = [
    "Intended Audience :: Developers",
    "Development Status :: 4 - Beta",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
]
packages = [
    {include = "nautobot"}
]
include = [
    "CHANGELOG.md",
    "CONTRIBUTING.md",
    "LICENSE.txt",
    "NOTICE",
]

[tool.poetry.dependencies]
python = "^3.6"
# Fundamental web framework for Nautobot
Django = "~3.1.7"
# Caching with Redis
django-cacheops = "~5.1"
# Permit cross-domain API requests
django-cors-headers = "~3.7.0"
# Support for encrypted database fields
django-cryptography = "~1.0"
# Advanced query filters
django-filter = "~2.4.0"
# Modified Preorder Tree Traversal - tree structure for Region, RackGroup, etc.
django-mptt = "~0.11.0"
# Prometheus metrics for Django
django-prometheus = "~2.1.0"
# Run production webservers such as uWSGI/gunicorn as a Django management command.
django-webserver = "~1.2.0"
# RQ (Redis Queueing) for background handlin of webhooks, jobs, etc.
django-rq = "^2.4.0"
# Advanced HTML tables
django-tables2 = "~2.3.4"
# Tags
django-taggit = "~1.3.0"
# Represent time zones in Django
django-timezone-field = "~4.1.1"
# REST API framework
djangorestframework = "~3.12.2"
# Swagger schema generation for the REST API
drf-yasg = {extras = ["validation"], version = "~1.20.0"}
# Git integrations for Python
GitPython = "~3.1.13"
# GraphQL support
graphene-django = "~2.15.0"
# Package version detection in older versions of Python
importlib-metadata = {version = "~3.4.0", python = "<3.8"}
# Template rendering engine
Jinja2 = "~2.11.3"
# Rendering of markdown files to HTML
Markdown = "~3.3.3"
# IP prefix and address handling
netaddr = "~0.8.0"
# Image processing library
Pillow = "~8.1.0"
# PostgreSQL database adapter
psycopg2-binary = "~2.8.6"
# Cryptographic library
pycryptodome = "~3.10.1"
# The uWSGI WSGI HTTP server as a Python module
pyuwsgi = "^2.0.19"
# YAML parsing and rendering
PyYAML = "~5.4.1"
# Social authentication/registration with support for many auth providers
social-auth-app-django = "^4.0.0"
# Rendering of SVG images (for rack elevations, etc.)
svgwrite = "~1.4.1"

[tool.poetry.dev-dependencies]
# Code style enforcement
black = "^20.8b1"
# Test code coverage measurement
coverage = "~5.4"
# Tool for debugging Django
django-debug-toolbar = "^3.2"
# Code style checking and limited static analysis
flake8 = "^3.8.4"
# Alternative to Make, CLI based on `tasks.py`
invoke = "~1.5.0"
# Allow Markdown files to include other files
markdown-include = "~0.6.0"
# Rendering docs to HTML
mkdocs = "~1.1.2"

[tool.poetry.scripts]
nautobot-server = "nautobot.core.cli:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 120
target-version = ['py36']
include = '\.pyi?$'
exclude = '''
(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''
