<div class="pull-right">
    {% if perms.ipam.add_vlan and first_available_vlan %}
        <a href="{% url 'ipam:vlan_add' %}?vid={{ first_available_vlan }}&group={{ object.pk }}{% if object.site %}&site={{ object.site.pk }}{% endif %}" class="btn btn-success">
            <i class="mdi mdi-plus-thick" aria-hidden="true"></i> Add a VLAN
        </a>
    {% endif %}
    {% if perms.ipam.change_vlangroup %}
               <a href="{% url 'ipam:vlangroup_edit' pk=object.pk %}" class="btn btn-warning">
                       <span class="mdi mdi-pencil" aria-hidden="true"></span>
                       Edit this VLAN Group
               </a>
    {% endif %}
</div>
<h1>{{ object }}</h1>
