:root>* {
    --md-accent-fg-color: #ff8504;
    --md-primary-fg-color: #ff8504;
    --md-typeset-a-color: #0097ff;
}

[data-md-color-scheme="slate"] {
    --md-default-bg-color: hsla(var(--md-hue), 0%, 15%, 1);
    --md-typeset-a-color: #0097ff;
}

/* Accessibility: Increase fonts for dark theme */
[data-md-color-scheme="slate"] .md-typeset {
    font-size: 0.9rem;
}

[data-md-color-scheme="slate"] .md-typeset table:not([class]) {
    font-size: 0.7rem;
}

.md-tabs__link {
    font-size: 0.8rem;
}

.md-tabs__link--active {
    color: var(--md-primary-fg-color);
}

.md-header__button.md-logo :is(img, svg) {
    height: 2rem;
}

.md-header__button.md-logo :-webkit-any(img, svg) {
    height: 2rem;
}

.md-header__title {
    font-size: 1.2rem;
}

/* Keep images in tables at 50px */
.md-typeset table:not([class]) :is(img) {
    height: 50px;
}

/*
 * Don't line-break code in tables in the middle of a word
 * https://github.com/squidfunk/mkdocs-material/issues/2462
 */
td code, th code {
    word-break: inherit !important;
}

img.logo {
    height: 100px;
}

img.copyright-logo {
    height: 24px;
    vertical-align: middle;
}

[data-md-color-primary=black] .md-header {
    background-color: #212121;
}

@media screen and (min-width: 76.25em) {
    [data-md-color-primary=black] .md-tabs {
        background-color: #212121;
    }
}

/* Custom admonitions for 'version-added', 'version-changed', 'version-removed' */

:root {
    /* Icon for "version-added" admonition: Material Design Icons "plus-box-outline" */
    --md-admonition-icon--version-added: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 19V5H5v14h14m0-16a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-8 4h2v4h4v2h-4v4h-2v-4H7v-2h4V7Z"/></svg>');
    /* Icon for "version-changed" admonition: Material Design Icons "delta" */
    --md-admonition-icon--version-changed: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 7.77 18.39 18H5.61L12 7.77M12 4 2 20h20"/></svg>');
    /* Icon for "version-removed" admonition: Material Design Icons "minus-circle-outline" */
    --md-admonition-icon--version-removed: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 20c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8m0-18A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2M7 13h10v-2H7"/></svg>');
}

/* "version-added" admonition in green */
.md-typeset .admonition.version-added,
.md-typeset details.version-added {
    border-color: rgb(0, 200, 83);
}
.md-typeset .version-added > .admonition-title,
.md-typeset .version-added > summary {
    background-color: rgba(0, 200, 83, .1);
}
.md-typeset .version-added > .admonition-title::before,
.md-typeset .version-added > summary::before {
    background-color: rgb(0, 200, 83);
    -webkit-mask-image: var(--md-admonition-icon--version-added);
    mask-image: var(--md-admonition-icon--version-added);
}

/* "version-changed" admonition in orange */
.md-typeset .admonition.version-changed,
.md-typeset details.version-changed {
    border-color: rgb(255, 145, 0);
}
.md-typeset .version-changed > .admonition-title,
.md-typeset .version-changed > summary {
    background-color: rgba(255, 145, 0, .1);
}
.md-typeset .version-changed > .admonition-title::before,
.md-typeset .version-changed > summary::before {
    background-color: rgb(255, 145, 0);
    -webkit-mask-image: var(--md-admonition-icon--version-changed);
    mask-image: var(--md-admonition-icon--version-changed);
}

/* "version-removed" admonition in red */
.md-typeset .admonition.version-removed,
.md-typeset details.version-removed {
    border-color: rgb(255, 82, 82);
}
.md-typeset .version-removed > .admonition-title,
.md-typeset .version-removed > summary {
    background-color: rgba(255, 82, 82, .1);
}
.md-typeset .version-removed > .admonition-title::before,
.md-typeset .version-removed > summary::before {
    background-color: rgb(255, 82, 82);
    -webkit-mask-image: var(--md-admonition-icon--version-removed);
    mask-image: var(--md-admonition-icon--version-removed);
}
