{% extends 'rest_framework/base.html' %}
{% load helpers %}
{% load plugins %}
{% load static %}

{% block bootstrap_theme %}
    {% include 'inc/media.html' %}
{% endblock bootstrap_theme %}

{% block navbar %}
    {% include 'inc/nav_menu.html' %}
{% endblock navbar %}

{% block body %}
    {{ block.super }}
    {% include 'inc/footer.html' %}
{% endblock body %}

{% block script %}
    {% include 'inc/javascript.html' %}
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
    <script src="{% static "rest_framework/js/default.js" %}"></script>
    <script>
    $(document).ready(function() {
        $('form').ajaxForm();
    });
    </script>
{% endblock script %}
