{% extends 'rest_framework/base.html' %}
{% load helpers %}
{% load plugins %}
{% load static %}

{% block bootstrap_theme %}
    {% include 'inc/media.html' %}
{% endblock bootstrap_theme %}

{% block body %}
    {% include 'inc/nav_menu.html' %}
    <header id="header">
        <div class="banner-alert-area">
            {% include 'inc/header_banners.html' %}
        </div>
        <div class="container-fluid mb-12 mt-16">
            <div class="row row-cols-3">
                <div class="col">
                    {% include 'inc/breadcrumbs.html' with title=name|add:' – REST API' %}
                </div>
                {% include 'inc/header.html' %}
            </div>
        </div>
        {% block header %}{% endblock header %}
    </header>
    <main class="container-fluid wrapper" id="main-content" tabindex="-1">
        {{ block.super }}
    </main>
    {% include 'inc/footer.html' %}
    <style>
        .navbar-static-top {
            display: none;
        }
        .request-info {
            clear: both;  /* Fix description floating issue */
        }
    </style>
{% endblock body %}

{% block script %}
    {% include 'inc/javascript.html' %}
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
    <script src="{% static "rest_framework/js/default.js" %}"></script>
    <script>
    $(document).ready(function() {
        $('form').ajaxForm();
    });
    </script>
{% endblock script %}
