{% extends 'rest_framework/base.html' %}
{% load helpers %}
{% load plugins %}
{% load static %}

{% block bootstrap_theme %}
    {% include 'inc/media.html' %}
{% endblock bootstrap_theme %}

{% block body %}
    {% include 'inc/nav_menu.html' %}
    <div class="container-fluid" id="main-content">
        {{ block.super }}
    </div>
    {% include 'inc/footer.html' %}
    <style>
        .navbar-static-top {
            display: none;
        }
        #main-content {
            min-height: calc(100vh - 70px);
        }
        .request-info {
            clear: both;  /* Fix description floating issue */
        }
    </style>
{% endblock body %}

{% block script %}
    {% include 'inc/javascript.html' %}
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script src="{% static "rest_framework/js/ajax-form.js" %}"></script>
    <script src="{% static "rest_framework/js/default.js" %}"></script>
    <script>
    $(document).ready(function() {
        $('form').ajaxForm();
    });
    </script>
{% endblock script %}
