{% if secrets %}
    <table class="table table-hover panel-body">
        {% for secret in secrets %}
            <tr>
                <td><a href="{% url 'secrets:secret' pk=secret.pk %}">{{ secret.role }}</a></td>
                <td>{{ secret.name }}</td>
                <td id="secret_{{ secret.pk }}">********</td>
                <td class="text-right noprint">
                    <button class="btn btn-xs btn-success unlock-secret" secret-id="{{ secret.pk }}">
                        <i class="mdi mdi-lock"></i> Unlock
                    </button>
                    <button class="btn btn-xs btn-default copy-secret collapse" secret-id="{{ secret.pk }}" data-clipboard-target="#secret_{{ secret.pk }}">
                        <i class="mdi mdi-content-copy"></i> Copy
                    </button>
                    <button class="btn btn-xs btn-danger lock-secret collapse" secret-id="{{ secret.pk }}">
                        <i class="mdi mdi-lock-open"></i> Lock
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <div class="panel-body text-muted">
        None found
    </div>
{% endif %}
