{% load secret_helpers %}
<tr>
    <td><a href="{% url 'secrets:secret' pk=secret.pk %}">{{ secret.role }}</a></td>
    <td>{{ secret.name }}</td>
    <td id="secret_{{ secret.pk }}">********</td>
    <td class="text-right">
        {% if secret|decryptable_by:request.user %}
            <button class="btn btn-xs btn-success unlock-secret" secret-id="{{ secret.pk }}">
                <i class="fa fa-lock"></i> Unlock
            </button>
            <button class="btn btn-xs btn-danger lock-secret collapse" secret-id="{{ secret.pk }}">
                <i class="fa fa-unlock-alt"></i> Lock
            </button>
        {% else %}
            <button class="btn btn-xs btn-default" disabled="disabled" title="Permission denied">
                <i class="fa fa-lock"></i> Unlock
            </button>
        {% endif %}
    </td>
</tr>
