{% extends 'wireless/accesspointgroup/base.html' %}
{% load helpers %}
{% load static %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Devices</strong>
            <div class="pull-right noprint">
                {% if request.user.is_authenticated %}
                    {% table_config_button_small device_table %}
                {% endif %}
            </div>
        </div>
        {% include 'responsive_table.html' with table=device_table %}
        <div class="panel-footer noprint">
            <div class="clearfix"></div>
        </div>
    </div>
</form>
    {% table_config_form device_table %}
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% versioned_static 'js/tableconfig.js' %}"></script>
{% endblock javascript %}