<div class="collapse show" id="{{ chart_container_id }}" style="width: {{ chart_width }}; height: {{ chart_height }};"></div>
<!-- Safe JSON export from Django -->
{% with "echarts-config-"|add:chart_container_id as chart_config_id %}
    {{ chart_config|json_script:chart_config_id }}
{% endwith %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        // Initialize the echarts instance based on the prepared dom
        var myChart = window.echarts.init(document.getElementById("{{ chart_container_id }}"), null, { renderer: "{{ chart.renderer }}" });

        // Get config from JSON script
        var options = JSON.parse(
            document.getElementById("echarts-config-{{ chart_container_id }}").textContent
        );

        // Display the chart using the configuration items and data just specified.
        myChart.setOption(options);
    });
</script>