{% load form_helpers %}
<div class="modal fade" tabindex="-1" id="{{ table_name }}_config">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Table Configuration</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal userconfigform" data-config-root="tables.{{ table_config_form.table_name }}">
                    {% render_form table_config_form %}
                    <div class="row">
                        <div class="col-md-9 col-md-offset-3">
                            <a class="btn btn-primary btn-xs" id="move-option-up" data-target="id_columns"><i class="mdi mdi-arrow-up-bold"></i> Move up</a>
                            <a class="btn btn-primary btn-xs" id="move-option-down" data-target="id_columns"><i class="mdi mdi-arrow-down-bold"></i> Move down</a>
                            <a class="btn btn-success btn-xs" id="select-all-options" data-target="id_columns"><i class="mdi mdi-expand-all-outline"></i> Select all</a>
                        </div>
                    </div>
                    <div class="text-right">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        <input type="submit" class="btn btn-danger reset" value="Reset" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
