/* Light mode */
$bg:       #f6f6f6;
$black-0:  #1a1a1a;
$white-0:  #ffffff;

$gray-0:   #f4f4f4;
$gray-05:  #ececec;
$gray-1:   #dedede;
$gray-2:   #b0b0b0;
$gray-3:   #505d68;

$blue-0:   #007dff;
$blue-1:   #e5f2ff;
$blue-2:   #cce5ff;
$orange-0: #e07807;
$orange-1: #fcf1e6;
$orange-2: #f9e4cd;

$green-0:  #1ca92a;
$green-1:  #e8f6e9;
$green-2:  #d2eed4;
$red-0:    #e01f1f;
$red-1:    #fce8e8;
$red-2:    #f9d2d2;

/* Dark mode */
$bg-dark:       #0a0c0f;
$black-0-dark:  #cbcbcb;
$white-0-dark:  #0f1217;

$gray-0-dark:   #14171e;
$gray-05-dark:  #1a1e27;
$gray-1-dark:   #1f2430;
$gray-2-dark:   #434753;
$gray-3-dark:   #4f5868;

$blue-0-dark:   #045ab4;
$blue-1-dark:   #0e1927;
$blue-2-dark:   #0d2036;
$orange-0-dark: #e07807;
$orange-1-dark: #241c15;
$orange-2-dark: #392614;

$green-0-dark:  #005c09;
$green-1-dark:  #0e1916;
$green-2-dark:  #0c2114;
$red-0-dark:    #960606;
$red-1-dark:    #1d1115;
$red-2-dark:    #2a1014;

/* Navbar */
$navy-0:      #121a25;
$navy-1:      #151e2a;
$navy-2:      #192332;
$navy-3:      #2f3a4b;
$navy-4:      #0a1018;
$nav-white-0: #ffffff;
$nav-gray-3:  #505d68;
$nav-blue-0:  #007dff;
