{% with custom_fields=object.get_custom_fields %}
    {% if custom_fields %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Custom Fields</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                {% for field, value in custom_fields.items %}
                    <tr>
                        <td><span title="{{ field.description }}">{{ field }}</span></td>
                        <td>
                            {% if field.type == 'boolean' and value == True %}
                                <i class="mdi mdi-check-bold text-success" title="True"></i>
                            {% elif field.type == 'boolean' and value == False %}
                                <i class="mdi mdi-close-thick text-danger" title="False"></i>
                            {% elif field.type == 'url' and value %}
                                <a href="{{ value }}">{{ value|truncatechars:70 }}</a>
                            {% elif value is not None %}
                                {{ value }}
                            {% elif field.required %}
                                <span class="text-warning">Not defined</span>
                            {% else %}
                                <span class="text-muted">&mdash;</span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
{% endwith %}
