{% load form_helpers %}

{% if form.custom_fields %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Custom Fields</strong></div>
        <div class="panel-body">
            {% render_custom_fields form %}
        </div>
    </div>
{% endif %}
{% if form.relationships %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Relationships</strong></div>
        <div class="panel-body">
            {% render_relationships form %}
        </div>
    </div>
{% endif %}
{% if form.object_note and perms.extras.add_note %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Notes</strong></div>
        <div class="panel-body">
            {% render_field form.object_note %}
        </div>
    </div>
{% endif %}
{% if form.tags %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Tags</strong></div>
        <div class="panel-body">
            {% render_field form.tags %}
        </div>
    </div>
{% endif %}
