{% load helpers %}

{% if request.user.is_authenticated %}
    <form action="{% url 'search' %}" class="col text-center" id="header_search" method="get" role="search">
        <label class="position-relative w-100">
            <input class="form-control nb-color-transparent" name="q" style="padding-inline-start: calc(0.75rem + 1.25rem + 0.375rem);" type="search" value="{{ request.GET.q }}" />
            <span class="align-items-center d-inline-flex gap-6 overflow-hidden px-12 py-6 pe-none position-absolute start-0 top-0 user-select-none w-100">
                <span class="mdi mdi-magnify text-secondary d-inline-flex"></span>
                {% if request.GET.obj_type or content_type %}
                    {% for app_config, model_tuples in search_model_choices %}
                        {% if app_config and model_tuples %}
                            {% for modelname, verbose_name_plural in model_tuples %}
                                {% if modelname == request.GET.obj_type or modelname == content_type.model %}
                                    <span class="badge border" data-nb-modelname="{{ modelname }}">
                                        in: {{verbose_name_plural|bettertitle}}
                                        <input name="obj_type" type="hidden" value="{{ modelname }}" />
                                        <button><span class="mdi mdi-close"></span></button>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <span class="align-items-center d-inline-flex gap-4 text-nowrap text-secondary{% if request.GET.q %} invisible{% else %}{% endif %}">
                    Press <kbd>⌘K</kbd> to search
                </span>
            </span>
        </label>
    </form>

    <div class="col text-end">
        <div class="dropdown">
            <button class="btn dropdown-toggle align-items-center d-inline-flex gap-6" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="align-items-center bg-primary d-inline-flex justify-content-center rounded text-white" style="height: 1.5rem; width: 1.5rem;">
                    {% if request.user.get_full_name %}
                        {% for name in request.user.get_full_name|split:" " %}<!--
                            -->{{ name|first|upper }}<!--
                        -->{% endfor %}
                    {% else %}
                        {{ request.user.username|first|upper }}
                    {% endif %}
                </span>
                {% firstof request.user.get_full_name request.user.username %}
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{% url 'about' %}"><i class="mdi mdi-information"></i>About</a></li>
                <li><a class="dropdown-item" href="{% url 'user:profile' %}"><i class="mdi mdi-account-box"></i>Profile</a></li>
                {% if request.user.is_staff %}
                    <li><a class="dropdown-item" href="{% url 'worker_status' %}"><i class="mdi mdi-server-network"></i>Worker Status</a></li>
                    <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="mdi mdi-cogs"></i>Admin</a></li>
                {% endif %}
                <li class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="mdi mdi-logout"></i>Log out</a></li>
            </ul>
        </div>
    </div>
{% endif %}
