<ul class="list-unstyled sidenav-favorite-list">
    {% for item in request.user.navbar_favorites %}
        {% if item.link and item.name %}
            <li class="sidenav-link-wrapper" id="sidenav-favorite-link-{{ forloop.counter }}">
                <a class="sidenav-link" href="{{ item.link }}">
                    <span class="sidenav-link-text">{{ item.name }}</span>
                    {% if item.tab_name and item.group_name %}
                    <span class="sidenav-link-context">{{ item.tab_name }} / {{ item.group_name }}</span>
                    {% endif %}
                </a>
                <button class="sidenav-favorite favorite-item"
                        type="button"
                        hx-post="{%  url "user:navbar_favorites" %}"
                        hx-vals='{"link": "{{ item.link }}", "remove": true}'
                        hx-target="#sidenav-favorite-link-{{ forloop.counter }}"
                        hx-swap="delete"
                        hx-select-oob="#{{ item.tab_name }}"
                        hx-on::before-cleanup-element="showEmpty()"
                >
                    <span class="visually-hidden">
                       Remove from favorites
                    </span>
                </button>
            </li>
        {% endif %}
    {% endfor %}

    <li class="sidenav-link-group text-center{% if request.user.navbar_favorites %} d-none{% endif %}" style="text-transform: none;" id="favorites-empty">
        You don't have any favorite pages yet.
    </li>
</ul>
