{% load helpers %}
<div id="navbar" class="navbar-collapse collapse">
    {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav">
        {% comment %} TODO Permissions {% endcomment %}
            <li class="dropdown">
            {% for tab in registry.nav_menu.sorted_tabs %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ tab }} <span class="caret"></span></a>
                <ul class="dropdown-menu">

                {% for group in tab_details.tabs[tab].sorted_groups %}
                    <li class="dropdown-header">{{ group_name }}</li>
                        {% for item_link, item_details in tab_details.tabs[tab].groups[group].items.items %}
                            {% if not item_details.permissions or request.user|has_perms:item_details.permissions %}
                                <li {% if not item_details.permissions %} class="disabled"{% endif %}>
                                    <div class="buttons pull-right">
                                        {% for button in item_details.buttons %}
                                            {% if not button.permissions or request.user|has_perms:button.permissions %}
                                                <a href="{% url button.link %}" class="btn btn-xs btn-{{ button.color }}" title="{{ button.title }}"><i class="{{ button.icon_class }}"></i></a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <a href="{% url item_link %}">{{ item_details.link_text }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    <li class="divider"></li>
                {% endfor %}
            {% endfor %}
    {% endif %}
</div>