{% load helpers %}

{% with relationships=object.get_relationships_data %}
    {% if relationships.source or relationships.destination or relationships.peer %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Relationships</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                {% include 'inc/relationships_table_rows.html' with relationships_data=object.get_relationships_data %}
            </table>
        </div>
    {% endif %}
{% endwith %}
