{% load form_helpers %}

<form class="h-100 vstack">
    <div class="align-content-start flex-fill pb-20">
        {% for field in filter_form.hidden_fields %}
            {{ field }}
        {% endfor %}
        {% for field in filter_form.visible_fields %}
            {% if field.name == "q" %}
                <!--  Skip q field -->
            {% else %}
                <div class="nb-form-group">
                    {% if field|widget_type == 'checkboxinput' %}
                        <label for="{{ field.id_for_label }}">{{ field }} {{ field.label }}</label>
                    {% else %}
                        {{ field.label_tag }}
                        {{ field }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="justify-content-between mb-n20 nb-form-sticky-footer">
        <button type="submit" class="btn btn-primary">
            <span class="mdi mdi-check me-4" aria-hidden="true"></span><!--
            -->Apply Specified
        </button>
        <button type="reset" class="btn btn-secondary">
            <span aria-hidden="true" class="mdi mdi-close me-4"></span><!--
            -->Clear All
        </button>
    </div>
</form>
