{% if "detail" in buttons %}
    <a href="{{ record.get_absolute_url }}?return_url={{ request.path }}{{ return_url_extra }}" class="btn btn-sm btn-secondary" title="Details">
        <span class="mdi mdi-information-outline"></span>
    </a>
{% endif %}
{% if "changelog" in buttons %}
    <a href="{% url changelog_route pk=record.pk %}" class="btn btn-secondary btn-sm" title="Change log">
        <span class="mdi mdi-history"></span>
    </a>
{% endif %}
{% if "approve" in buttons and have_permission and record.is_active_stage %}
    <span title='{% if request.user in record.users_that_already_approved %}You already approved this stage{% else %}Approve this stage{% endif %}'>
        <a href="{% url approval_route pk=record.pk %}?return_url={{ request.path }}{{ return_url_extra }}" class="btn btn-success btn-sm{% if request.user in record.users_that_already_approved %} disabled{% endif %}">
            <span class="mdi mdi-check"></span>
        </a>
    </span>
{% endif %}
{% if "deny" in buttons and have_permission and record.is_active_stage and request.user not in record.users_that_already_approved %}
    <span title='{%if request.user in record.users_that_already_approved %}You already approved this stage{% else %}Deny this stage{% endif %}'>
        <a href="{% url deny_route pk=record.pk %}?return_url={{ request.path }}{{ return_url_extra }}" class="btn btn-sm btn-danger {% if request.user in record.users_that_already_approved %} disabled{% endif %}">
            <span class="mdi mdi-close"></span>
        </a>
    </span>
{% endif %}
