{% if result.status == 'FAILURE' %}
    <span class="badge bg-danger">Failed</span>
{% elif result.status == 'REVOKED' %}
    <span class="badge bg-danger">Revoked</span>
{% elif result.status == "IGNORED" %}
    <span class="badge bg-body-danger">Ignored</span>
{% elif result.status == "REJECTED" %}
    <span class="badge bg-body-danger">Rejected</span>
{% elif result.status == 'PENDING' %}
    <span class="badge bg-body-secondary border">Pending</span>
{% elif result.status == 'STARTED' %}
    <span class="badge bg-warning">Running</span>
{% elif result.status == 'SUCCESS' %}
    <span class="badge bg-success">Completed</span>
{% elif result.status == "RECEIVED" %}
    <span class="badge bg-body-warning">Received</span>
{% elif result.status == "RETRY" %}
    <span class="badge bg-body-warning">Retry</span>
{% elif not result %}
    <span class="badge bg-body-secondary border">N/A</span>
{% else %}
    <span class="badge bg-body-secondary border">{{ result.status }} (unrecognized)</span>
{% endif %}
