{% if result.status == 'failed' %}
    <label class="badge badge-danger">Failed</label>
{% elif result.status == 'errored' %}
    <label class="badge badge-danger">Errored</label>
{% elif result.status == 'pending' %}
    <label class="badge badge-secondary">Pending</label>
{% elif result.status == 'running' %}
    <label class="badge badge-warning">Running</label>
{% elif result.status == 'completed' %}
    <label class="badge badge-success">Completed</label>
{% else %}
    <label class="badge badge-secondary">N/A</label>
{% endif %}
