{% if result.status == 'failed' %}
    <label class="badge label-danger">Failed</label>
{% elif result.status == 'errored' %}
    <label class="badge label-danger">Errored</label>
{% elif result.status == 'pending' %}
    <label class="badge label-default">Pending</label>
{% elif result.status == 'running' %}
    <label class="badge label-warning">Running</label>
{% elif result.status == 'completed' %}
    <label class="badge label-success">Completed</label>
{% else %}
    <label class="badge label-default">N/A</label>
{% endif %}
