{% load helpers %}
<div class="float-end">
    <div class="btn-group btn-group-sm" role="group">
        <a href="{% django_querystring format='json' %}"
           class="btn btn-primary{% if format == 'json' %} bg-primary nb-text-body-bg{% endif %}">
            <span class="mdi mdi-code-json" aria-hidden="true"></span> JSON
        </a>
        <a href="{% django_querystring format='yaml' %}"
           class="btn btn-primary{% if format == 'yaml' %} bg-primary nb-text-body-bg{% endif %}">
            <span class="mdi mdi-format-list-group" aria-hidden="true"></span> YAML
        </a>
    </div>
</div>
