<div class="card-header">
    <strong>Logs</strong>
    <div class="float-end d-print-none">
        <input
            class="form-control"
            id="log-filter"
            name="q"
            type="text"
            placeholder="Filter log level or message"
            title="Filter log level or message"
            style="height: 1.4375rem; width: 11.875rem;"
            {% if result and result.pk %}
                hx-get="{% url 'extras:jobresult_log-table' pk=result.pk %}"
                hx-target="#log-table-wrapper"
                hx-trigger="input changed delay:500ms"
            {% endif %}
        />
    </div>
</div>
{% if result and result.pk %}
    <div
        id="log-table-wrapper"
        hx-get="{% url 'extras:jobresult_log-table' pk=result.pk %}?{{ request.GET.urlencode }}"
        hx-trigger="load"
        hx-target="#log-table-wrapper"
        hx-swap="innerHTML"
        hx-boost="true"
    >
    </div>
{% endif %}
