{% load helpers %}

{% block form %}
    <ul class="nav nav-tabs" style="margin-bottom: 20px">
        <li role="presentation"{% if active_tab == 'assign' %} class="active"{% endif %}>
            <a href="{% url 'extras:map_contact_from_location' %}{% querystring request %}">Assign to Similar Contact/Team</a>
        </li>
        <li role="presentation"{% if active_tab == 'contact' %} class="active"{% endif %}>
            <a href="{% url 'extras:map_new_contact_from_location' %}{% querystring request %}">Create New Contact</a>
        </li>
        <li role="presentation"{% if active_tab == 'team' %} class="active"{% endif %}>
            <a href="{% url 'extras:map_new_team_from_location' %}{% querystring request %}">Create New Team</a>
        </li>
    </ul>
{% endblock %}
