<div class="btn-group btn-group-sm float-end" role="group">
    {% if prev_change %}
        <a href="{% url 'extras:objectchange' pk=prev_change.pk %}" class="btn btn-secondary">
            <span class="mdi mdi-chevron-left" aria-hidden="true"></span> Previous
        </a>
    {% else %}
        <a aria-disabled="true" class="btn btn-secondary disabled">
            <span class="mdi mdi-chevron-left" aria-hidden="true"></span> Previous
        </a>
    {% endif %}
    {% if next_change %}
        <a href="{% url 'extras:objectchange' pk=next_change.pk %}" class="btn btn-secondary">
            Next <span class="mdi mdi-chevron-right" aria-hidden="true"></span>
        </a>
    {% else %}
        <a aria-disabled="true" class="btn btn-secondary disabled">
            Next <span class="mdi mdi-chevron-right" aria-hidden="true"></span>
        </a>
    {% endif %}
</div>
