{% load helpers %}
{% if approval_workflow_stage_instances and perms.extras.view_approvalworkflowstageinstance %}
    {% for instance in approval_workflow_stage_instances %}
        {% with approval_workflow_instance=instance.approval_workflow_instance %}
            <div class="list-group-item">
                <a href="{{ instance.get_absolute_url }}" >{{ instance }} </a> <br />
                {{ approval_workflow_instance.object_under_review_content_type.name|bettertitle }}
                {% if instance and approval_workflow_instance.object_under_review and approval_workflow_instance.object_under_review.get_absolute_url %}
                    {{ approval_workflow_instance.object_under_review|hyperlinked_object }}
                {% elif instance and approval_workflow_instance.object_under_review %}
                    {{ approval_workflow_instance.object_under_review|default:approval_workflow_instance.object_repr }}
                {% elif instance %}
                    {{ approval_workflow_instance.object_repr }}
                {% endif %}
                <br />
                <small>
                    <span class="text-muted">{{ approval_workflow_instance.user }} -</span>
                    <span class="text-muted">{{ approval_workflow_instance.created|date:settings.SHORT_DATETIME_FORMAT }}</a>
                </small>
            </div>
        {% endwith %}
        {% if forloop.last %}
            <div class="list-group-item text-right">
                <a href="{% url 'extras:approvalworkflowinstance_list' %}">View All Pending Approval Workflows</a>
            </div>
        {% endif %}
    {% endfor %}
{% elif perms.extras.view_approvalworkflowstageinstance %}
    <div class="panel-body text-muted">
        No Pending Approval Workflows found
    </div>
{% else %}
    <div class="panel-body text-muted">
        <i class="mdi mdi-lock"></i> No permission
    </div>
{% endif %}
