{% extends 'utilities/bulk_edit_form.html' %}
{% load form_helpers %}

{% block title %}Aggregate Bulk Edit{% endblock %}

{% block selected_objects_table %}
    <tr>
        <th>Aggregate</th>
        <th>RIR</th>
        <th>Date Added</th>
        <th>Description</th>
    </tr>
    {% for aggregate in selected_objects %}
        <tr>
            <td><a href="{% url 'ipam:aggregate' pk=aggregate.pk %}">{{ aggregate }}</a></td>
            <td>{{ aggregate.rir }}</td>
            <td>{{ aggregate.date_added }}</td>
            <td>{{ aggregate.description }}</td>
        </tr>
    {% endfor %}
{% endblock %}
