{% extends '_base.html' %}
{% load helpers %}

{% block header %}
    <div class="row">
        <div class="col-sm-8 col-md-9">
            <ol class="breadcrumb">
                <li><a href="{% url 'ipam:aggregate_list' %}">Aggregates</a></li>
                <li><a href="{% url 'ipam:aggregate_list' %}?rir={{ aggregate.rir.slug }}">{{ aggregate.rir }}</a></li>
                <li>{{ aggregate }}</li>
            </ol>
        </div>
        <div class="col-sm-4 col-md-3">
            <form action="{% url 'ipam:aggregate_list' %}" method="get">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search aggregates" />
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary">
                            <span class="fa fa-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="pull-right">
        {% if perms.ipam.change_aggregate %}
            <a href="{% url 'ipam:aggregate_edit' pk=aggregate.pk %}" class="btn btn-warning">
                <span class="fa fa-pencil" aria-hidden="true"></span>
                Edit this aggregate
            </a>
        {% endif %}
        {% if perms.ipam.delete_aggregate %}
            <a href="{% url 'ipam:aggregate_delete' pk=aggregate.pk %}" class="btn btn-danger">
                <span class="fa fa-trash" aria-hidden="true"></span>
                Delete this aggregate
            </a>
        {% endif %}
    </div>
    <h1>{% block title %}{{ aggregate }}{% endblock %}</h1>
    {% include 'inc/created_updated.html' with obj=aggregate %}
    <ul class="nav nav-tabs">
        <li role="presentation"{% if not active_tab %} class="active"{% endif %}>
            <a href="{{ aggregate.get_absolute_url }}">Aggregate</a>
        </li>
        <li role="presentation"{% if active_tab == 'changelog' %} class="active"{% endif %}>
            <a href="{% url 'ipam:aggregate_changelog' pk=aggregate.pk %}">Changelog</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Aggregate</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Family</td>
                    <td>{{ aggregate.get_family_display }}</td>
                </tr>
                <tr>
                    <td>RIR</td>
                    <td>
                        <a href="{% url 'ipam:aggregate_list' %}?rir={{ aggregate.rir.slug }}">{{ aggregate.rir }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Utilization</td>
                    <td>
                        {{ aggregate.get_utilization }}%
                    </td>
                </tr>
                <tr>
                    <td>Date Added</td>
                    <td>
                        {% if aggregate.date_added %}
                            <span>{{ aggregate.date_added }}</span>
                        {% else %}
                            <span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>
                        {% if aggregate.description %}
                            <span>{{ aggregate.description }}</span>
                        {% else %}
                            <span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        {% include 'inc/custom_fields_panel.html' with obj=aggregate %}
        {% include 'extras/inc/tags_panel.html' with tags=aggregate.tags.all url='ipam:aggregate_list' %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% include 'utilities/obj_table.html' with table=prefix_table table_template='panel_table.html' heading='Child Prefixes' bulk_edit_url='ipam:prefix_bulk_edit' bulk_delete_url='ipam:prefix_bulk_delete' %}
	</div>
</div>
{% endblock %}
