{% extends '_base.html' %}
{% load form_helpers %}

{% block title %}Editing aggregate {{ aggregate }}{% endblock %}

{% block content %}
{% if aggregate %}
	<h1>{{ aggregate }}</h1>
{% else %}
	<h1>Add an Aggregate</h1>
{% endif %}
<form action="." method="post" class="form form-horizontal">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if form.non_field_errors %}
                <div class="panel panel-danger">
                    <div class="panel-heading"><strong>Errors</strong></div>
                    <div class="panel-body">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Aggregate</strong></div>
                <div class="panel-body">
                    {% render_field form.prefix %}
                    {% render_field form.rir %}
                    {% render_field form.date_added %}
                    {% render_field form.description %}
                </div>
            </div>
		    <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    {% if aggregate %}
                        <button type="submit" name="_update" class="btn btn-primary">Update</button>
                        <a href="{% url 'ipam:aggregate' pk=aggregate.pk %}" class="btn btn-default">Cancel</a>
                    {% else %}
                        <button type="submit" name="_create" class="btn btn-primary">Create</button>
                        <button type="submit" name="_addanother" class="btn btn-primary">Create and Add Another</button>
                        <a href="{{ cancel_url }}" class="btn btn-default">Cancel</a>
                    {% endif %}
                </div>
		    </div>
        </div>
    </div>
</form>
{% endblock %}
