{% extends 'utilities/bulk_edit_form.html' %}
{% load form_helpers %}

{% block title %}IP Address Bulk Edit{% endblock %}

{% block select_objects_table %}
    {% for ipaddress in selected_objects %}
        <tr>
            <td><a href="{% url 'ipam:ipaddress' pk=ipaddress.pk %}">{{ ipaddress }}</a></td>
            <td>{{ ipaddress.vrf|default:"Global" }}</td>
            <td>{{ ipaddress.tenant }}</td>
            <td>{{ ipaddress.interface.device }}</td>
            <td>{{ ipaddress.interface }}</td>
            <td>{{ ipaddress.description }}</td>
        </tr>
    {% endfor %}
{% endblock %}
