{% extends '_base.html' %}
{% load helpers %}
{% load form_helpers %}

{% block title %}Prefixes{% endblock %}

{% block content %}
<div class="pull-right">
    <a href="{% url 'ipam:prefix_list' %}{% querystring_toggle request expand='on' %}" class="btn btn-default">
        {% if 'expand' in request.GET %}
            <span class="fa fa-chevron-right" aria-hidden="true"></span>
            Collapse all
        {% else %}
            <span class="fa fa-chevron-down" aria-hidden="true"></span>
            Expand all
        {% endif %}
    </a>
    {% if perms.ipam.add_prefix %}
		<a href="{% url 'ipam:prefix_add' %}" class="btn btn-primary">
			<span class="fa fa-plus" aria-hidden="true"></span>
			Add a prefix
		</a>
		<a href="{% url 'ipam:prefix_import' %}" class="btn btn-info">
			<span class="fa fa-download" aria-hidden="true"></span>
			Import prefixes
		</a>
	{% endif %}
    {% include 'inc/export_button.html' with obj_type='prefixes' %}
</div>
<h1>Prefixes</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_edit_url='ipam:prefix_bulk_edit' bulk_delete_url='ipam:prefix_bulk_delete' %}
	</div>
	<div class="col-md-3">
		{% include 'inc/search_panel.html' %}
		{% include 'inc/filter_panel.html' %}
	</div>
</div>
{% endblock %}
