{% extends '_base.html' %}
{% load helpers %}
{% load form_helpers %}

{% block title %}Prefixes{% endblock %}

{% block content %}
<div class="pull-right">
    {% if perms.ipam.add_prefix %}
		<a href="{% url 'ipam:prefix_add' %}" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			Add a prefix
		</a>
		<a href="{% url 'ipam:prefix_import' %}" class="btn btn-info">
			<span class="glyphicon glyphicon-import" aria-hidden="true"></span>
			Import prefixes
		</a>
	{% endif %}
    {% if export_templates %}
        <div class="btn-group">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                Export prefixes <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for et in export_templates %}
                    <li><a href="{% url 'ipam:prefix_list' %}?{% if request.GET %}{{ request.GET.urlencode }}&{% endif %}export={{ et.name }}">{{ et.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
<h1>Prefixes</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_edit_url='ipam:prefix_bulk_edit' bulk_delete_url='ipam:prefix_bulk_delete' %}
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>Search</strong>
			</div>
			<div class="panel-body">
				<form action="{% url 'ipam:prefix_list' %}" method="get">
					<div class="input-group">
						<input type="text" name="q" class="form-control" placeholder="Network" {% if request.GET.q %}value="{{ request.GET.q }}" {% endif %}/>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
		{% include 'inc/filter_panel.html' %}
	</div>
</div>
{% endblock %}
