{% extends '_base.html' %}

{% block title %}{{ prefix }} - Prefixes{% endblock %}

{% block content %}
    {% include 'ipam/inc/prefix_header.html' with active_tab='prefixes' %}
    <div class="row">
        <div class="col-md-12">
            {% include 'utilities/obj_table.html' with table=prefix_table table_template='panel_table.html' heading='Child Prefixes' bulk_edit_url='ipam:prefix_bulk_edit' bulk_delete_url='ipam:prefix_bulk_delete' parent=prefix %}
        </div>
    </div>
{% endblock %}
