{% extends '_base.html' %}
{% load helpers %}
{% load form_helpers %}

{% block title %}Prefixes{% endblock %}

{% block content %}
<div class="pull-right">
    {% if perms.ipam.add_prefix %}
		<a href="{% url 'ipam:prefix_add' %}" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			Add a prefix
		</a>
		<a href="{% url 'ipam:prefix_import' %}" class="btn btn-info">
			<span class="glyphicon glyphicon-import" aria-hidden="true"></span>
			Import prefixes
		</a>
	{% endif %}
    {% include 'inc/export_button.html' with obj_type='prefixes' %}
</div>
<h1>Prefixes</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_edit_url='ipam:prefix_bulk_edit' bulk_delete_url='ipam:prefix_bulk_delete' %}
	</div>
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
				<strong>Search</strong>
			</div>
			<div class="panel-body">
				<form action="{% url 'ipam:prefix_list' %}" method="get">
					<div class="input-group">
						<input type="text" name="q" class="form-control" placeholder="Network" {% if request.GET.q %}value="{{ request.GET.q }}" {% endif %}/>
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</button>
						</span>
					</div>
				</form>
			</div>
		</div>
		{% include 'inc/filter_panel.html' %}
	</div>
</div>
{% endblock %}
