{% extends '_base.html' %}
{% load form_helpers %}

{% block title %}{% if prefix %}Editing prefix {{ prefix }}{% else %}Add a prefix{% endif %}{% endblock %}

{% block content %}
{% if prefix %}
	<h1>{{ prefix }}</h1>
{% else %}
	<h1>Add a Prefix</h1>
{% endif %}
<form action="." method="post" class="form form-horizontal">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% if form.non_field_errors %}
                <div class="panel panel-danger">
                    <div class="panel-heading"><strong>Errors</strong></div>
                    <div class="panel-body">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Prefix</strong></div>
                <div class="panel-body">
                    {% render_field form.prefix %}
                    {% render_field form.vrf %}
                    {% render_field form.site %}
                    {% render_field form.vlan %}
                    {% render_field form.status %}
                    {% render_field form.role %}
                    {% render_field form.description %}
                </div>
            </div>
		    <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    {% if prefix %}
                        <button type="submit" name="_update" class="btn btn-primary">Update</button>
                        <a href="{% url 'ipam:prefix' pk=prefix.pk %}" class="btn btn-default">Cancel</a>
                    {% else %}
                        <button type="submit" name="_create" class="btn btn-primary">Create</button>
                        <button type="submit" name="_addanother" class="btn btn-primary">Create and Add Another</button>
                        <a href="{{ cancel_url }}" class="btn btn-default">Cancel</a>
                    {% endif %}
                </div>
		    </div>
        </div>
    </div>
</form>
{% endblock %}
