{% extends '_base.html' %}
{% load humanize %}
{% load helpers %}

{% block title %}RIRs{% endblock %}

{% block content %}
<div class="pull-right">
    {% if perms.ipam.add_rir %}
        <a href="{% url 'ipam:rir_add' %}" class="btn btn-primary">
            <span class="fa fa-plus" aria-hidden="true"></span>
            Add a RIR
        </a>
    {% endif %}
</div>
<h1>RIRs</h1>
<div class="row">
	<div class="col-md-12">
        {% include 'utilities/obj_table.html' with bulk_delete_url='ipam:rir_bulk_delete' %}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <h3>Totals</h3>
    </div>
    <div class="col-md-2 text-center">
        <h3>{{ totals.total|intcomma }}</h3>
        All IPv4 space
    </div>
    <div class="col-md-2 text-center">
        <h3>{{ totals.active|intcomma }}</h3>
        Active
    </div>
    <div class="col-md-2 text-center">
        <h3>{{ totals.reserved|intcomma }}</h3>
        Reserved
    </div>
    <div class="col-md-2 text-center">
        <h3>{{ totals.deprecated|intcomma }}</h3>
        Deprecated
    </div>
    <div class="col-md-2 text-center">
        <h3>{{ totals.available|intcomma }}</h3>
        Available
    </div>
</div>
{% endblock %}
