{% extends '_base.html' %}
{% load helpers %}
{% load form_helpers %}

{% block content %}
<div class="pull-right">
    {% if perms.ipam.add_vlan %}
		<a href="{% url 'ipam:vlan_add' %}" class="btn btn-primary">
			<span class="fa fa-plus" aria-hidden="true"></span>
			Add a VLAN
		</a>
		<a href="{% url 'ipam:vlan_import' %}" class="btn btn-info">
			<span class="fa fa-download" aria-hidden="true"></span>
			Import VLANs
		</a>
	{% endif %}
    {% include 'inc/export_button.html' with obj_type='VLANs' %}
</div>
<h1>{% block title %}VLANs{% endblock %}</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_edit_url='ipam:vlan_bulk_edit' bulk_delete_url='ipam:vlan_bulk_delete' %}
	</div>
	<div class="col-md-3">
		{% include 'inc/search_panel.html' %}
	</div>
</div>
{% endblock %}
