{% extends '_base.html' %}
{% load render_table from django_tables2 %}
{% load form_helpers %}

{% block title %}VLAN Import{% endblock %}

{% block content %}
<h1>VLAN Import</h1>
<div class="row">
	<div class="col-md-6">
		<form action="." method="post" class="form">
		    {% csrf_token %}
		    {% render_form form %}
		    <div class="form-group">
		        <button type="submit" class="btn btn-primary">Submit</button>
		        <a href="{% url obj_list_url %}" class="btn btn-default">Cancel</a>
		    </div>
		</form>
	</div>
	<div class="col-md-6">
		<h4>CSV Format</h4>
		<table class="table">
			<thead>
				<tr>
					<th>Field</th>
					<th>Description</th>
					<th>Example</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Site</td>
					<td>Name of assigned site</td>
					<td>LAS2</td>
				</tr>
				<tr>
					<td>Group</td>
					<td>Name of VLAN group (optional)</td>
					<td>Backend Network</td>
				</tr>
				<tr>
					<td>ID</td>
					<td>Configured VLAN ID</td>
					<td>1400</td>
				</tr>
				<tr>
					<td>Name</td>
					<td>Configured VLAN name</td>
					<td>Cameras</td>
				</tr>
				<tr>
					<td>Status</td>
					<td>Current status</td>
					<td>Active</td>
				</tr>
				<tr>
					<td>Role</td>
					<td>Functional role (optional)</td>
					<td>Security</td>
				</tr>
				<tr>
					<td>Description</td>
					<td>Short description (optional)</td>
					<td>Security team only</td>
				</tr>
			</tbody>
		</table>
		<h4>Example</h4>
		<pre>LAS2,Backend Network,1400,Cameras,Active,Security,Security team only</pre>
	</div>
</div>
{% endblock %}
