{% extends 'virtualization/virtualmachine.html' %}

{% block title %}{{ virtualmachine }} - Config Context{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Config Context</strong>
                </div>
                <div class="panel-body">
                    <pre>{{ virtualmachine.get_config_context }}</pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
