apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose --file development/docker-compose.min.yml convert
    kompose.version: 1.34.0 (HEAD)
  labels:
    io.kompose.service: celery-beat
  name: celery-beat
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: celery-beat
  template:
    metadata:
      annotations:
        kompose.cmd: kompose --file development/docker-compose.min.yml convert
        kompose.version: 1.34.0 (HEAD)
      labels:
        io.kompose.service: celery-beat
    spec:
      containers:
        - command:
            - watchmedo
            - auto-restart
            - --directory
            - ./
            - --pattern
            - '*.py'
            - --recursive
            - --
            - nautobot-server
            - celery
            - beat
            - -l
            - INFO
          env:
            - name: MYSQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  key: MYSQL_DATABASE
                  name: dev-env
            - name: MYSQL_PASSWORD
              valueFrom:
                configMapKeyRef:
                  key: MYSQL_PASSWORD
                  name: dev-env
            - name: MYSQL_ROOT_PASSWORD
              valueFrom:
                configMapKeyRef:
                  key: MYSQL_ROOT_PASSWORD
                  name: dev-env
            - name: MYSQL_USER
              valueFrom:
                configMapKeyRef:
                  key: MYSQL_USER
                  name: dev-env
            - name: NAUTOBOT_ALLOWED_HOSTS
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_ALLOWED_HOSTS
                  name: dev-env
            - name: NAUTOBOT_CHANGELOG_RETENTION
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_CHANGELOG_RETENTION
                  name: dev-env
            - name: NAUTOBOT_CONFIG
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_CONFIG
                  name: dev-env
            - name: NAUTOBOT_CREATE_SUPERUSER
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_CREATE_SUPERUSER
                  name: dev-env
            - name: NAUTOBOT_DB_HOST
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_DB_HOST
                  name: dev-env
            - name: NAUTOBOT_DB_NAME
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_DB_NAME
                  name: dev-env
            - name: NAUTOBOT_DB_PASSWORD
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_DB_PASSWORD
                  name: dev-env
            - name: NAUTOBOT_DB_TIMEOUT
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_DB_TIMEOUT
                  name: dev-env
            - name: NAUTOBOT_DB_USER
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_DB_USER
                  name: dev-env
            - name: NAUTOBOT_INSTALLATION_METRICS_ENABLED
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_INSTALLATION_METRICS_ENABLED
                  name: dev-env
            - name: NAUTOBOT_LOG_DEPRECATION_WARNINGS
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_LOG_DEPRECATION_WARNINGS
                  name: dev-env
            - name: NAUTOBOT_NAPALM_TIMEOUT
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_NAPALM_TIMEOUT
                  name: dev-env
            - name: NAUTOBOT_REDIS_HOST
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_REDIS_HOST
                  name: dev-env
            - name: NAUTOBOT_REDIS_PASSWORD
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_REDIS_PASSWORD
                  name: dev-env
            - name: NAUTOBOT_REDIS_PORT
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_REDIS_PORT
                  name: dev-env
            - name: NAUTOBOT_SECRET_KEY
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_SECRET_KEY
                  name: dev-env
            - name: NAUTOBOT_SELENIUM_HOST
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_SELENIUM_HOST
                  name: dev-env
            - name: NAUTOBOT_SELENIUM_URL
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_SELENIUM_URL
                  name: dev-env
            - name: NAUTOBOT_SUPERUSER_API_TOKEN
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_SUPERUSER_API_TOKEN
                  name: dev-env
            - name: NAUTOBOT_SUPERUSER_EMAIL
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_SUPERUSER_EMAIL
                  name: dev-env
            - name: NAUTOBOT_SUPERUSER_NAME
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_SUPERUSER_NAME
                  name: dev-env
            - name: NAUTOBOT_SUPERUSER_PASSWORD
              valueFrom:
                configMapKeyRef:
                  key: NAUTOBOT_SUPERUSER_PASSWORD
                  name: dev-env
            - name: PGPASSWORD
              valueFrom:
                configMapKeyRef:
                  key: PGPASSWORD
                  name: dev-env
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  key: POSTGRES_DB
                  name: dev-env
            - name: POSTGRES_PASSWORD
              valueFrom:
                configMapKeyRef:
                  key: POSTGRES_PASSWORD
                  name: dev-env
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  key: POSTGRES_USER
                  name: dev-env
            - name: REDISCLI_AUTH
              valueFrom:
                configMapKeyRef:
                  key: REDISCLI_AUTH
                  name: dev-env
            - name: REDIS_PASSWORD
              valueFrom:
                configMapKeyRef:
                  key: REDIS_PASSWORD
                  name: dev-env
          image: local/nautobot-dev:local-2.4-py3.12
          # livenessProbe:
          #   exec:
          #     command:

          #       - '[ $(find /tmp/nautobot_celery_beat_heartbeat -mmin -0.1 | wc -l) -eq 1 ] || false'
          #   failureThreshold: 3
          #   initialDelaySeconds: 60
          #   periodSeconds: 5
          #   timeoutSeconds: 5
          name: celery-beat
          tty: true
      volumes:
        - name: media-root
          persistentVolumeClaim:
            claimName: media-root
        - configMap:
            items:
              - key: nautobot_config.py
                path: nautobot_config.py
            name: nautobot-cm1
          name: nautobot-cm1
        - configMap:
            items:
              - key: nautobot-job-job.yaml
                path: nautobot-job-job.yaml
            name: nautobot-cm2
          name: nautobot-cm2
