apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose --file docker-compose-min.yml convert
    kompose.version: 1.34.0 (HEAD)
  labels:
    io.kompose.service: nautobot
  name: nautobot
spec:
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
  selector:
    io.kompose.service: nautobot
