{% extends 'base.html' %}
{% load form_helpers %}

{% block content %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <div class="card border-{{ panel_class|default:'info' }}">
                    <div class="card-header bg-{{ panel_class|default:'info' }}-subtle border-{{panel_class|default:'info'}} fw-medium text-body">
                        {% block title %}{% endblock %}
                    </div>
                    <div class="card-body">
                        {% block message %}<p>Are you sure?</p>{% endblock %}
                        {% render_field form.comments %}
                        <div class="gap-8 hstack justify-content-end">
                            <button type="submit" name="_confirm" class="btn btn-{{ button_class|default:'info' }}">
                                <span aria-hidden="true" class="mdi mdi-check me-4"></span><!--
                            -->Comment
                            </button>
                            <a href="{{ return_url }}" class="btn btn-secondary">
                                <span aria-hidden="true" class="mdi mdi-close me-4"></span><!--
                            -->Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
