{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}
{% load form_helpers %}

{% block content %}
    {% if form.errors %}
        <div class="panel panel-danger">
            <div class="panel-heading"><strong>Errors</strong></div>
            <div class="panel-body">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {% if field.errors %}
                        <strong class="panel-title">{{ field.label }}</strong>: {{ field.errors }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data" class="form form-horizontal">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Factories</strong></div>
                    <table class="table table-hover panel-body attr-table">
                        {% for field in form.visible_fields %}
                            <tr>
                                <td>
                                    {{ field.label }}
                                </td>
                                <td>
                                    {{ field }}
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success">Update</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
