{% extends 'extras/job.html' %}
{% load form_helpers %}
{% block job_form %}

<!-- Here we are rendering a simple HTML form element with bootstrap formatting.
The field name is `custom_job_data` which must match the script variable name
in the job.
-->
<div class="form-group">
    {% with field=job_form.fields.custom_job_data %}
        {% with field_value=job_form.initial.custom_job_data|default:field.initial %}
    <label class="col-md-3 control-label required" for="id_custom_job_data">{{ field.label }}</label>
    <div class="col-md-9">
        <textarea id="id_custom_job_data" name="custom_job_data">{{ field_value }}</textarea>
        <span class="help-block">{{ field.help_text|safe }}</span>
    </div>
        {% endwith %}
    {% endwith %}
</div>
<!--
The `job_form` block is where the actual job form is displayed. The job form really
should be rendered so that all of the submit functionality (queues, approval required, etc)
is included, but fields can be excluded. Here we are going to exclude the `custom_job_data`
field since we've rendered it above.
-->
{% render_form job_form excluded_fields="['custom_job_data']" %}
{% endblock %}
