{% extends '_base.html' %}
{% load buttons %}

{% block content %}
    <div class="pull-right">
        {% if perms.extras.add_configcontext %}
            {% add_button 'extras:configcontext_add' %}
        {% endif %}
    </div>
    <h1>{% block title %}Config Contexts{% endblock %}</h1>
    <div class="row">
        <div class="col-md-9">
            {% include 'utilities/obj_table.html' with bulk_edit_url='extras:configcontext_bulk_edit' bulk_delete_url='extras:configcontext_bulk_delete' %}
        </div>
        <div class="col-md-3">
            {% include 'inc/search_panel.html' %}
        </div>
    </div>
{% endblock %}
