{% extends 'utilities/obj_edit.html' %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Config Context</strong></div>
        <div class="panel-body">
            {% render_field form.name %}
            {% render_field form.weight %}
            {% render_field form.description %}
            {% render_field form.is_active %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Assignment</strong></div>
        <div class="panel-body">
            {% render_field form.regions %}
            {% render_field form.sites %}
            {% render_field form.roles %}
            {% render_field form.platforms %}
            {% render_field form.tenant_groups %}
            {% render_field form.tenants %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Data</strong></div>
        <div class="panel-body">
            {% render_field form.data %}
        </div>
    </div>
{% endblock %}
