{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right noprint">
    {% export_button content_type %}
</div>
<h1>{% block title %}Changelog{% endblock %}</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'utilities/obj_table.html' %}
        {% if settings.CHANGELOG_RETENTION %}
            <div class="pull-right text-muted">
                Changelog retention: {% if settings.CHANGELOG_RETENTION == 0 %}Indefinite{% else %}{{ settings.CHANGELOG_RETENTION }} days{% endif %}
            </div>
        {% endif %}
    </div>
    <div class="col-md-3 noprint">
		{% include 'inc/search_panel.html' %}
    </div>
</div>
{% endblock %}
