{% extends 'base.html' %}
{% load helpers %}

{% block content %}
    <h1>{% block title %}Scripts{% endblock %}</h1>
    <div class="row">
        <div class="col-md-9">
            {% if scripts %}
                {% for module, module_scripts in scripts.items %}
                    <h3><a name="module.{{ module }}"></a>{{ module|bettertitle }}</h3>
                    <table class="table table-hover table-headings reports">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Description</th>
                                <th class="text-right">Last Run</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for class_name, script in module_scripts.items %}
                                <tr>
                                    <td>
                                        <a href="{% url 'extras:script' module=script.module name=class_name %}" name="script.{{ class_name }}"><strong>{{ script }}</strong></a>
                                    </td>
                                    <td>
                                        {% include 'extras/inc/job_label.html' with result=script.result %}
                                    </td>
                                    <td>{{ script.Meta.description }}</td>
                                    {% if script.result %}
                                        <td class="text-right">
                                            <a href="{% url 'extras:script_result' job_result_pk=script.result.pk %}">{{ script.result.created }}</a>
                                        </td>
                                    {% else %}
                                        <td class="text-right text-muted">Never</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endfor %}
            {% else %}
                <div class="alert alert-info">
                    <p><strong>No scripts found.</strong></p>
                    <p>Scripts should be saved to <code>{{ settings.SCRIPTS_ROOT }}</code>. (This path can be changed by setting <code>SCRIPTS_ROOT</code> in NetBox's configuration.)</p>
                </div>
            {% endif %}
        </div>
        <div class="col-md-3">
            {% if scripts %}
                <div class="panel panel-default">
                    {% for module, module_scripts in scripts.items %}
                        <div class="panel-heading">
                            <strong>{{ module|bettertitle }}</strong>
                        </div>
                        <ul class="list-group">
                            {% for class_name, script in module_scripts.items %}
                                <a href="#script.{{ class_name }}" class="list-group-item">
                                    <i class="mdi mdi-file-chart-outline"></i> {{ script.name }}
                                    <div class="pull-right">
                                        {% include 'extras/inc/job_label.html' with result=script.result %}
                                    </div>
                                </a>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
