/* Layout */

/* Inverts all colors with a slight offset to use as a dark mode. Overrides are below */
html[data-theme="dark"] {
  background: rgb(12, 12, 12);
  filter: invert(1) hue-rotate(180deg);
}
/* Double-invert the following elements, restoring them to the original non-inverted colors */
html[data-theme="dark"] img,
html[data-theme="dark"] .badge,
html[data-theme="dark"] button,
html[data-theme="dark"] .btn,
html[data-theme="dark"] .label,
html[data-theme="dark"] .color-block,
html[data-theme="dark"] .select2-selection__choice,
html[data-theme="dark"] #select2-id_color-results,
html[data-theme="dark"] #select2-id_color-container {
  filter: invert(1) hue-rotate(180deg);
}
/* Labels in API Swagger docs */
html[data-theme="dark"] .opblock-summary-method {
  color: black !important;
}
/* Version stamp in API Swagger docs */
html[data-theme="dark"] .version {
  color: black !important;
}
/* Lighten the background color a bit */
html[data-theme="dark"] body {
  background-color: rgb(235, 235, 235) !important;
  /* background-color: rgb(23, 27, 29) !important; */
  /* background-color: rgb(33, 37, 41) !important; */
}

/* Dark more than background */
html[data-theme="dark"] .navbar,
html[data-theme="dark"] .footer,
html[data-theme="dark"] .panel,
html[data-theme="dark"] .panel-body,
html[data-theme="dark"] .list-group,
html[data-theme="dark"] .list-group-item,
html[data-theme="dark"] .CodeMirror,
html[data-theme="dark"] .modal-body {
  background-color: rgb(225, 225, 225) !important;
}

/* Dark more than background */
html[data-theme="dark"] .breadcrumb,
html[data-theme="dark"] ul li.active a,
html[data-theme="dark"] .panel-heading,
html[data-theme="dark"] .panel-footer,
html[data-theme="dark"] .model-header,
html[data-theme="dark"] .table-headings th {
  background-color: rgb(230, 230, 230) !important;
}

html[data-theme="dark"] #per_page,
html[data-theme="dark"] .dropdown-menu,
html[data-theme="dark"] .form-control,
html[data-theme="dark"] .select2-container--default,
html[data-theme="dark"] .select2-container--classic,
html[data-theme="dark"] .select2-container--bootstrap,
html[data-theme="dark"] .select2-selection--single,
html[data-theme="dark"] .select2-selection--multiple,
html[data-theme="dark"] .select2-search--dropdown,
html[data-theme="dark"] .select2-search__field,
html[data-theme="dark"] .select2-search--inline,
html[data-theme="dark"] .select2-close-mask,
html[data-theme="dark"] .select2-dropdown {
  background-color: rgb(223, 223, 223) !important;
}
html[data-theme="dark"] label input.checkbox {
  background-color: rgb(150, 150, 150);
}