/* This CSS code cannot go into base.css.
It is loaded immediately in the <head> section before anything else.
It's purpose is to hide the contents of <body> until after the JavaScript event DOMContentLoaded is triggered,
 which occurs after the page is fully loaded.
Then as part of the JS, <body> is displayed.
It is a workaround to help resolve the white flashing issue when using dark mode in its current implementation.

File nautobot/core/templates/inc/noscript.html is also used to revert this CSS (display <body>)
 in case the user has JavaScript disabled. */
body {
    visibility: hidden;
    display: none;
    opacity: 0;
}