/* Stylesheet for rendering SVG rack elevations */
* {
    font-family: sans-serif;
    font-size: 13px;
}
rect {
    box-sizing: border-box;
}
text {
    text-anchor: middle;
    dominant-baseline: middle;
}
.rack {
    background-color: #f0f0f0;
    fill: none;
    stroke: black;
    stroke-width: 2px;
}
.slot {
    fill: #f7f7f7;
    stroke: #a0a0a0;
}
.slot:hover {
    fill: #fff;
}
.slot+.add-device {
    fill: none;
}
.slot:hover+.add-device {
    fill: blue;
}
.add-device:hover {
    fill: blue;
}
.add-device:hover+.slot {
    fill: #fff;
}
.reserved {
    fill: url(#reserved);
}
.reserved:hover {
    fill: url(#reserved);
}
.occupied {
    fill: url(#occupied);
}
.occupied:hover {
    fill: url(#occupied);
}
.blocked {
    fill: url(#blocked);
}
.blocked:hover {
    fill: url(#blocked);
}
.blocked:hover+.add-device {
    fill: none;
}
.unit {
    margin: 0;
    padding: 5px 0px;

    fill: #c0c0c0;
    font-size: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.hidden {
    visibility: hidden;
}
