{% load helpers %}

<div class="panel panel-default">
    <div class="panel-heading text-center">
        {% if end.device %}
            <strong><a href="{{ end.device.get_absolute_url }}">{{ end.device }}</a></strong><br/>
            <small>
                <a href="{{ end.device.site.get_absolute_url }}">{{ end.device.site }}</a>
                {% if end.device.rack %}
                    / <a href="{{ end.device.rack.get_absolute_url }}">{{ end.device.rack }}</a>
                {% endif %}
            </small>
        {% elif end.circuit %}
            <strong><a href="{{ end.circuit.provider.get_absolute_url }}">{{ end.circuit.provider }}</a></strong>
        {% elif end.power_panel %}
            <strong><a href="{{ end.power_panel.get_absolute_url }}">{{ end.power_panel }}</a></strong><br/>
            <small>
                <a href="{{ end.power_panel.site.get_absolute_url }}">{{ end.power_panel.site }}</a>
            </small>
        {% endif %}
    </div>
    <div class="panel-body text-center">
        {% if end.device %}
            {# Device component #}
            {% with model=end|meta:"verbose_name" %}
                <strong><a href="{{ end.get_absolute_url }}">{{ model|bettertitle }} {{ end }}</a></strong><br />
                {% if model == 'interface' or model == 'front port' or model == 'rear port' %}
                    {{ end.get_type_display }}
                {% endif %}
            {% endwith %}
        {% elif end.circuit %}
            {# CircuitTermination #}
            <strong><a href="{{ end.circuit.get_absolute_url }}">{{ end.circuit }}</a></strong><br/>
            {{ end }}
        {% elif end.power_panel %}
            {# PowerFeed #}
            <strong><a href="{{ end.get_absolute_url }}">Power Feed {{ end }}</a></strong><br />
            {% if end.rack %}
                <a href="{{ end.rack.get_absolute_url }}">{{ end.rack }}</a>
            {% endif %}
        {% endif %}
    </div>
</div>
