<tr class="consoleport{% if cp.connected_endpoint %} {% if cp.connection_status %}success{% else %}info{% endif %}{% endif %}">

    {# Name #}
    <td>
        <i class="fa fa-fw fa-keyboard-o"></i> {{ cp }}
    </td>

    {# Cable #}
    <td>
        {% if cp.cable %}
            <a href="{{ cp.cable.get_absolute_url }}">{{ cp.cable }}</a>
        {% else %}
            &mdash;
        {% endif %}
    </td>

    {# Connection #}
    {% if cp.connected_endpoint %}
        <td>
            <a href="{% url 'dcim:device' pk=cp.connected_endpoint.device.pk %}">{{ cp.connected_endpoint.device }}</a>
        </td>
        <td>
            {{ cp.connected_endpoint }}
        </td>
    {% else %}
        <td colspan="2">
            <span class="text-muted">Not connected</span>
        </td>
    {% endif %}

    {# Actions #}
    <td class="text-right">
        {% if perms.dcim.change_consoleport %}
            {% if cp.cable %}
                {% if cp.connection_status %}
                    <a href="#" class="btn btn-warning btn-xs consoleport-toggle connected" title="Mark planned" data="{{ cp.pk }}">
                        <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                    </a>
                {% else %}
                    <a href="#" class="btn btn-success btn-xs consoleport-toggle" title="Mark installed" data="{{ cp.pk }}">
                        <i class="fa fa-plug" aria-hidden="true"></i>
                    </a>
                {% endif %}
                <a href="{% url 'dcim:cable_delete' pk=cp.cable.pk %}" title="Remove cable" class="btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-resize-full" aria-hidden="true"></i>
                </a>
            {% else %}
                <a href="{% url 'dcim:consoleport_connect' termination_a_id=cp.pk %}" title="Connect" class="btn btn-success btn-xs">
                    <i class="glyphicon glyphicon-resize-small" aria-hidden="true"></i>
                </a>
            {% endif %}
            <a href="{% url 'dcim:consoleport_edit' pk=cp.pk %}" title="Edit port" class="btn btn-info btn-xs">
                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
            </a>
        {% endif %}
        {% if perms.dcim.delete_consoleport %}
            {% if cp.connected_endpoint %}
                <button class="btn btn-danger btn-xs" disabled="disabled">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </button>
            {% else %}
                <a href="{% url 'dcim:consoleport_delete' pk=cp.pk %}?return_url={{ device.get_absolute_url }}" title="Delete port" class="btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </a>
            {% endif %}
        {% endif %}
    </td>
</tr>
