{% load helpers %}

<tr class="consoleserverport{% if csp.cable %} {{ csp.cable.get_status_class }}{% endif %}">

    {# Checkbox #}
    {% if perms.dcim.change_consoleserverport or perms.dcim.delete_consoleserverport %}
        <td class="pk">
            <input name="pk" type="checkbox" value="{{ csp.pk }}" />
        </td>
    {% endif %}

    {# Name #}
    <td>
        <i class="fa fa-fw fa-keyboard-o"></i>
        <a href="{{ csp.get_absolute_url }}">{{ csp }}</a>
    </td>

    {# Type #}
    <td>
        {% if csp.type %}{{ csp.get_type_display }}{% else %}&mdash;{% endif %}
    </td>

    {# Description #}
    <td>
        {{ csp.description|placeholder }}
    </td>

    {# Cable #}
    <td class="text-nowrap">
        {% if csp.cable %}
            <a href="{{ csp.cable.get_absolute_url }}">{{ csp.cable }}</a>
            <a href="{% url 'dcim:consoleserverport_trace' pk=csp.pk %}" class="btn btn-primary btn-xs" title="Trace">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            </a>
        {% else %}
            <span class="text-muted">&mdash;</span>
        {% endif %}
    </td>

    {# Connection #}
    {% include 'dcim/inc/endpoint_connection.html' with paths=csp.paths.all %}

    {# Actions #}
    <td class="text-right noprint">
        {% if csp.cable %}
            {% include 'dcim/inc/cable_toggle_buttons.html' with cable=csp.cable %}
        {% elif perms.dcim.add_cable %}
            <span class="dropdown">
                <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{% url 'dcim:consoleserverport_connect' termination_a_id=csp.pk termination_b_type='console-port' %}?return_url={{ device.get_absolute_url }}">Console Port</a></li>
                    <li><a href="{% url 'dcim:consoleserverport_connect' termination_a_id=csp.pk termination_b_type='front-port' %}?return_url={{ device.get_absolute_url }}">Front Port</a></li>
                    <li><a href="{% url 'dcim:consoleserverport_connect' termination_a_id=csp.pk termination_b_type='rear-port' %}?return_url={{ device.get_absolute_url }}">Rear Port</a></li>
                </ul>
            </span>
        {% endif %}
        {% if perms.dcim.change_consoleserverport %}
            <a href="{% url 'dcim:consoleserverport_edit' pk=csp.pk %}?return_url={{ device.get_absolute_url }}" title="Edit port" class="btn btn-info btn-xs">
                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
            </a>
        {% endif %}
        {% if perms.dcim.delete_consoleserverport %}
            {% if csp.connected_endpoint %}
                <button class="btn btn-danger btn-xs" disabled="disabled">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </button>
            {% else %}
                <a href="{% url 'dcim:consoleserverport_delete' pk=csp.pk %}?return_url={{ device.get_absolute_url }}" title="Delete port" class="btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </a>
            {% endif %}
        {% endif %}
    </td>
</tr>
