<tr class="consoleport{% if cp.cable %} {{ cp.cable.get_status_class }}{% endif %}">

    {# Checkbox #}
    {% if perms.dcim.change_consoleport or perms.dcim.delete_consoleport %}
        <td class="pk">
            <input name="pk" type="checkbox" value="{{ cp.pk }}" />
        </td>
    {% endif %}

    {# Name #}
    <td>
        <i class="fa fa-fw fa-keyboard-o"></i>
        <a href="{{ cp.get_absolute_url }}">{{ cp }}</a>
    </td>

    {# Type #}
    <td>
        {% if cp.type %}{{ cp.get_type_display }}{% else %}&mdash;{% endif %}
    </td>

    {# Description #}
    <td>
        {{ cp.description }}
    </td>

    {# Cable #}
    {% if cp.cable %}
        <td>
            <a href="{{ cp.cable.get_absolute_url }}">{{ cp.cable }}</a>
            <a href="{% url 'dcim:consoleport_trace' pk=cp.pk %}" class="btn btn-primary btn-xs" title="Trace">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            </a>
        </td>
        {% include 'dcim/inc/cabletermination.html' with termination=cp.get_cable_peer %}
    {% else %}
        <td colspan="3">
            <span class="text-muted">Not connected</span>
        </td>
    {% endif %}

    {# Connection #}
    {% include 'dcim/inc/endpoint_connection.html' with path=cp.path %}

    {# Actions #}
    <td class="text-right noprint">
        {% if cp.cable %}
            {% include 'dcim/inc/cable_toggle_buttons.html' with cable=cp.cable %}
        {% elif perms.dcim.add_cable %}
            <span class="dropdown">
                <button type="button" class="btn btn-success btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{% url 'dcim:consoleport_connect' termination_a_id=cp.pk termination_b_type='console-server-port' %}?return_url={{ device.get_absolute_url }}">Console Server Port</a></li>
                    <li><a href="{% url 'dcim:consoleport_connect' termination_a_id=cp.pk termination_b_type='front-port' %}?return_url={{ device.get_absolute_url }}">Front Port</a></li>
                    <li><a href="{% url 'dcim:consoleport_connect' termination_a_id=cp.pk termination_b_type='rear-port' %}?return_url={{ device.get_absolute_url }}">Rear Port</a></li>
                </ul>
            </span>
        {% endif %}
        {% if perms.dcim.change_consoleport %}
            <a href="{% url 'dcim:consoleport_edit' pk=cp.pk %}?return_url={{ device.get_absolute_url }}" title="Edit port" class="btn btn-info btn-xs">
                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
            </a>
        {% endif %}
        {% if perms.dcim.delete_consoleport %}
            {% if cp.connected_endpoint %}
                <button class="btn btn-danger btn-xs" disabled="disabled">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </button>
            {% else %}
                <a href="{% url 'dcim:consoleport_delete' pk=cp.pk %}?return_url={{ device.get_absolute_url }}" title="Delete port" class="btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </a>
            {% endif %}
        {% endif %}
    </td>
</tr>
