{% if not disabled_message %}
    <li role="presentation"{% if active_tab == 'status' %} class="active"{% endif %}>
        <a href="{% url 'dcim:device_status' pk=device.pk %}">Status</a>
    </li>
    <li role="presentation"{% if active_tab == 'lldp-neighbors' %} class="active"{% endif %}>
        <a href="{% url 'dcim:device_lldp_neighbors' pk=device.pk %}">LLDP Neighbors</a>
    </li>
    <li role="presentation"{% if active_tab == 'config' %} class="active"{% endif %}>
        <a href="{% url 'dcim:device_config' pk=device.pk %}">Configuration</a>
    </li>
{% else %}
    <li role="presentation" class="disabled"><a href="#" title="{{ disabled_message }}">Status</a></li>
    <li role="presentation" class="disabled"><a href="#" title="{{ disabled_message }}">LLDP Neighbors</a></li>
    <li role="presentation" class="disabled"><a href="#" title="{{ disabled_message }}">Configuration</a></li>
{% endif %}
