{% load helpers %}
<tr class="interface{% if not iface.enabled %} danger{% elif iface.connection and iface.connection.connection_status or iface.circuit_termination %} success{% elif iface.connection and not iface.connection.connection_status %} info{% elif iface.is_virtual %} warning{% endif %}" id="interface_{{ iface.name }}">

    {# Checkbox #}
    {% if perms.dcim.change_interface or perms.dcim.delete_interface %}
        <td class="pk">
            <input name="pk" type="checkbox" value="{{ iface.pk }}" />
        </td>
    {% endif %}

    {# Icon/name/MAC #}
    <td>
        <span title="{{ iface.get_form_factor_display }}">
            <i class="fa fa-fw fa-{% if iface.mgmt_only %}wrench{% elif iface.is_lag %}align-justify{% elif iface.is_virtual %}circle{% elif iface.is_wireless %}wifi{% else %}exchange{% endif %}"></i>
            <a href="{{ iface.get_absolute_url }}">{{ iface }}</a>
        </span>
        {% if iface.mac_address %}
            <br/><small class="text-muted">{{ iface.mac_address }}</small>
        {% endif %}
    </td>

    {# LAG #}
    <td>
        {% if iface.lag %}
            <a href="#interface_{{ iface.lag }}" class="label label-primary" title="{{ iface.lag.description }}">{{ iface.lag }}</a>
        {% endif %}
    </td>

    {# Description/tags #}
    <td>
        {% if iface.description %}
            {{ iface.description }}<br/>
        {% endif %}
        {% for tag in iface.tags.all %}
            {% tag tag %}
        {% empty %}
            {% if not iface.description %}&mdash;{% endif %}
        {% endfor %}
    </td>

    {# MTU #}
    <td>{{ iface.mtu|default:"&mdash;" }}</td>

    {# 802.1Q mode #}
    <td>{{ iface.get_mode_display|default:"&mdash;" }}</td>

    {# Connection or type #}
    {% if iface.is_lag %}
        <td colspan="2" class="text-muted">
            LAG interface<br />
            <small class="text-muted">
                {% for member in iface.member_interfaces.all %}
                    <a href="#interface_{{ member.name }}">{{ member }}</a>{% if not forloop.last %}, {% endif %}
                {% empty %}
                    No members
                {% endfor %}
            </small>
        </td>
    {% elif iface.is_virtual %}
        <td colspan="2" class="text-muted">Virtual interface</td>
    {% elif iface.is_wireless %}
        <td colspan="2" class="text-muted">Wireless interface</td>
    {% elif iface.connection %}
        {% with iface.connected_interface as connected_iface %}
            <td>
                <a href="{% url 'dcim:device' pk=connected_iface.device.pk %}">{{ connected_iface.device }}</a>
            </td>
            <td>
                <a href="{% url 'dcim:interface' pk=connected_iface.pk %}"><span title="{{ connected_iface.get_form_factor_display }}">{{ connected_iface }}</span></a>
            </td>
        {% endwith %}
    {% elif iface.circuit_termination %}
        {% with iface.circuit_termination.get_peer_termination as peer_termination %}
            <td colspan="2">
                <i class="fa fa-fw fa-globe" title="Circuit"></i>
                {% if peer_termination %}
                    {% if peer_termination.interface %}
                        <a href="{% url 'dcim:device' pk=peer_termination.interface.device.pk %}">{{ peer_termination.interface.device }}</a>
                        (<a href="{% url 'dcim:site' slug=peer_termination.site.slug %}">{{ peer_termination.site }}</a>)
                    {% else %}
                        <a href="{% url 'dcim:site' slug=peer_termination.site.slug %}">{{ peer_termination.site }}</a>
                    {% endif %}
                    via
                {% endif %}
                <a href="{% url 'circuits:circuit' pk=iface.circuit_termination.circuit_id %}">{{ iface.circuit_termination.circuit }}</a>
            </td>
        {% endwith %}
    {% else %}
        <td colspan="2">
            <span class="text-muted">Not connected</span>
        </td>
    {% endif %}

    {# Buttons #}
    <td class="text-right text-nowrap">
        {% if show_graphs %}
            {% if iface.circuit_termination or iface.connection %}
                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#graphs_modal" data-obj="{{ device.name }} - {{ iface.name }}" data-url="{% url 'dcim-api:interface-graphs' pk=iface.pk %}" title="Show graphs">
                    <i class="glyphicon glyphicon-signal" aria-hidden="true"></i>
                </button>
            {% endif %}
        {% endif %}
        {% if perms.ipam.add_ipaddress %}
            <a href="{% url 'ipam:ipaddress_add' %}?interface={{ iface.pk }}&return_url={{ device.get_absolute_url }}" class="btn btn-xs btn-success" title="Add IP address">
                <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
            </a>
        {% endif %}
        {% if perms.dcim.change_interface %}
            {% if not iface.is_virtual %}
                {% if iface.connection %}
                    {% if iface.connection.connection_status %}
                        <a href="#" class="btn btn-warning btn-xs interface-toggle connected" data="{{ iface.connection.pk }}" title="Mark planned">
                            <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                        </a>
                    {% else %}
                        <a href="#" class="btn btn-success btn-xs interface-toggle" data="{{ iface.connection.pk }}" title="Mark installed">
                            <i class="fa fa-plug" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                    <a href="{% url 'dcim:interfaceconnection_delete' pk=iface.connection.pk %}?return_url={{ device.get_absolute_url }}" class="btn btn-danger btn-xs" title="Disconnect">
                        <i class="glyphicon glyphicon-resize-full" aria-hidden="true"></i>
                    </a>
                {% elif iface.circuit_termination and perms.circuits.change_circuittermination %}
                    <button class="btn btn-warning btn-xs interface-toggle connected" disabled="disabled" title="Circuits cannot be marked as planned or connected">
                        <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                    </button>
                    <a href="{% url 'circuits:circuittermination_edit' pk=iface.circuit_termination.pk %}?return_url={{ device.get_absolute_url }}" class="btn btn-danger btn-xs" title="Edit circuit termination">
                        <i class="glyphicon glyphicon-resize-full" aria-hidden="true"></i>
                    </a>
                {% else %}
                    <a href="{% url 'dcim:interfaceconnection_add' pk=device.pk %}?interface_a={{ iface.pk }}&return_url={{ device.get_absolute_url }}" class="btn btn-success btn-xs" title="Connect">
                        <i class="glyphicon glyphicon-resize-small" aria-hidden="true"></i>
                    </a>
                {% endif %}
            {% endif %}
            <a href="{% if iface.device_id %}{% url 'dcim:interface_edit' pk=iface.pk %}{% else %}{% url 'virtualization:interface_edit' pk=iface.pk %}{% endif %}?return_url={{ device.get_absolute_url }}" class="btn btn-info btn-xs" title="Edit interface">
                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
            </a>
        {% endif %}
        {% if perms.dcim.delete_interface %}
            {% if iface.connection or iface.circuit_termination %}
                <button class="btn btn-danger btn-xs" disabled="disabled">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </button>
            {% else %}
                <a href="{% if iface.device_id %}{% url 'dcim:interface_delete' pk=iface.pk %}{% else %}{% url 'virtualization:interface_delete' pk=iface.pk %}{% endif %}?return_url={{ device.get_absolute_url }}" class="btn btn-danger btn-xs" title="Delete interface">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </a>
            {% endif %}
        {% endif %}
    </td>
</tr>

{% with ipaddresses=iface.ip_addresses.all %}
    {% if ipaddresses %}
        <tr class="ipaddresses">
            {# Placeholder #}
            {% if perms.dcim.change_interface or perms.dcim.delete_interface %}
                <td></td>
            {% endif %}

            {# IP addresses table #}
            <td colspan="8" style="padding: 0">
                <table class="table table-condensed interface-ips">
                    <thead>
                        <tr class="text-muted">
                            <th class="col-md-3">IP Address</th>
                            <th class="col-md-2">Status/Role</th>
                            <th class="col-md-3">VRF</th>
                            <th class="col-md-3">Description</th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>
                    {% for ip in iface.ip_addresses.all %}
                        <tr>

                            {# IP address #}
                            <td>
                                <a href="{% url 'ipam:ipaddress' pk=ip.pk %}">{{ ip }}</a>
                            </td>

                            {# Primary/status/role #}
                            <td>
                                {% if device.primary_ip4 == ip or device.primary_ip6 == ip %}
                                    <span class="label label-success">Primary</span>
                                {% endif %}
                                <span class="label label-{{ ip.get_status_class }}">{{ ip.get_status_display }}</span>
                                {% if ip.role %}
                                    <span class="label label-{{ ip.get_role_class }}">{{ ip.get_role_display }}</span>
                                {% endif %}
                            </td>

                            {# VRF #}
                            <td>
                                {% if ip.vrf %}
                                    <a href="{% url 'ipam:vrf' pk=ip.vrf.pk %}" title="{{ ip.vrf.rd }}">{{ ip.vrf.name }}</a>
                                {% else %}
                                    <span class="text-muted">Global</span>
                                {% endif %}
                            </td>

                            {# Description #}
                            <td>
                                {% if ip.description %}
                                    {{ ip.description }}
                                {% else %}
                                    <span class="text-muted">&mdash;</span>
                                {% endif %}
                            </td>

                            {# Buttons #}
                            <td class="text-right text-nowrap">
                                {% if perms.ipam.change_ipaddress %}
                                    <a href="{% url 'ipam:ipaddress_edit' pk=ip.pk %}?return_url={{ device.get_absolute_url }}" class="btn btn-info btn-xs">
                                        <i class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit IP address"></i>
                                    </a>
                                {% endif %}
                                {% if perms.ipam.delete_ipaddress %}
                                    <a href="{% url 'ipam:ipaddress_delete' pk=ip.pk %}?return_url={{ device.get_absolute_url }}" class="btn btn-danger btn-xs">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete IP address"></i>
                                    </a>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    {% endif %}
{% endwith %}
