<tr class="poweroutlet{% if po.connected_port and not po.connected_port.connection_status %} info{% endif %}">
    {% if perms.dcim.change_poweroutlet or perms.dcim.delete_poweroutlet %}
        <td class="pk">
            <input name="pk" type="checkbox" value="{{ po.pk }}" />
        </td>
    {% endif %}
    <td>
        <i class="fa fa-fw fa-bolt"></i> {{ po }}
    </td>
    {% if po.connected_port %}
        <td>
            <a href="{% url 'dcim:device' pk=po.connected_port.device.pk %}">{{ po.connected_port.device }}</a>
        </td>
        <td>
            {{ po.connected_port }}
        </td>
    {% else %}
        <td colspan="2">
            <span class="text-muted">Not connected</span>
        </td>
    {% endif %}
    <td class="text-right">
        {% if perms.dcim.change_poweroutlet %}
            {% if po.connected_port %}
                {% if po.connected_port.connection_status %}
                    <a href="#" class="btn btn-warning btn-xs powerport-toggle connected" title="Mark planned" data="{{ po.connected_port.pk }}">
                        <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                    </a>
                {% else %}
                    <a href="#" class="btn btn-success btn-xs powerport-toggle" title="Mark installed" data="{{ po.connected_port.pk }}">
                        <i class="fa fa-plug" aria-hidden="true"></i>
                    </a>
                {% endif %}
                <a href="{% url 'dcim:poweroutlet_disconnect' pk=po.pk %}" title="Delete connection" class="btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-resize-full" aria-hidden="true"></i>
                </a>
            {% else %}
                <a href="{% url 'dcim:poweroutlet_connect' pk=po.pk %}" title="Connect" class="btn btn-success btn-xs">
                    <i class="glyphicon glyphicon-resize-small" aria-hidden="true"></i>
                </a>
            {% endif %}
            <a href="{% url 'dcim:poweroutlet_edit' pk=po.pk %}" title="Edit outlet" class="btn btn-info btn-xs">
                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
            </a>
        {% endif %}
        {% if perms.dcim.delete_poweroutlet %}
            {% if po.connected_port %}
                <button class="btn btn-danger btn-xs" disabled="disabled">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </button>
            {% else %}
                <a href="{% url 'dcim:poweroutlet_delete' pk=po.pk %}?return_url={{ device.get_absolute_url }}" title="Delete outlet" class="btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                </a>
            {% endif %}
        {% endif %}
    </td>
</tr>
