{% extends 'base.html' %}
{% load helpers %}

{% block content %}
    <div class="row justify-content-center" style="margin-top: 9.375rem;">
        <div class="col-sm-12 col-md-9 col-lg-7 nb-lg-max-width">
            <div class="card">
                <div class="card-header">
                    <strong class="hstack gap-4">{% block icon %}{% endblock %}{% block title %}{% endblock %}</strong>
                </div>
                <div class="card-body">
                    <p>
                        {% block message %}{% endblock %}
                    </p>
                    {% support_message %}
                </div>
                <div class="card-footer bg-body text-center">
                    <a href="{% url 'home' %}" class="btn btn-primary">Home Page</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
