{% extends 'base.html' %}
{% load helpers %}

{% block title %}Server Error{% endblock %}

{% block content %}
<div class="row" style="margin-top: 150px;">
    <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong><i class="mdi mdi-alert"></i>Server Error</strong>
            </div>
            <div class="panel-body">
                {% block message %}
                <p>
                    There was a problem with your request. Please contact an administrator.
                </p>
                {% endblock %}
                <hr />
                <p>
                    The complete exception is provided below:
                </p>
<pre><strong>{{ exception }}</strong><br />
{{ error }}

Python version: {{ python_version }}
Nautobot version: {{ nautobot_version }}
</pre>
                {% support_message %}
            </div>
            <div class="panel-footer text-right">
                <a href="{% url 'home' %}" class="btn btn-xs btn-primary">Home Page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}