{% extends 'base.html' %}
{% load helpers %}

{% block title %}Server Error{% endblock %}

{% block content %}
    <div class="row justify-content-center" style="margin-top: 9.375rem;">
        <div class="col-sm-12 col-md-9 col-lg-7 nb-lg-max-width">
            <div class="card">
                <div class="card-header">
                    <strong class="hstack gap-4"><span class="mdi mdi-alert"></span>Server Error</strong>
                </div>
                <div class="card-body">
                    {% block message %}
                        <p>
                            There was a problem with your request. Please contact an administrator.
                        </p>
                    {% endblock %}
                    <hr class="border-top" />
                    <p>
                        The complete exception is provided below:
                    </p>
<pre><strong>{{ exception }}</strong><br />
{{ error }}

Python version: {{ python_version }}
Nautobot version: {{ nautobot_version }}
</pre>
                    {% support_message %}
                </div>
                <div class="card-footer bg-body text-center">
                    <a href="{% url 'home' %}" class="btn btn-primary">Home Page</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
