{% extends 'base.html' %}
{% load helpers %}
{% load registry %}

{% block header %}
    {{ block.super }}
    {% if new_release %}
        {# new_release is set only if the current user is a superuser or staff member #}
        <div class="alert alert-info text-center" role="alert">
            <i class="mdi mdi-information-outline"></i>
            A new release is available: <a href="{{ new_release.url }}">Nautobot v{{ new_release.version }}</a> |
            <a href="https://docs.nautobot.com/projects/core/en/v{{ new_release.version }}/installation/upgrading/">Upgrade instructions</a>
        </div>
    {% endif %}
{% endblock %}


{% block content %}
    <h1>About Nautobot</h1>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>About</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Description</td>
                        <td>Nautobot is a product of Network to Code. Nautobot is a Network Source of Truth and Network Automation Platform.</td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td>{{ version }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Support</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Vendor Support Contract</td>
                        <td>{{ support_contract_active }}</td>
                    </tr>
                    <tr>
                        <td>Contract Expiry Date</td>
                        <td>{{ contract_expiry_date }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            If there is any question on the status of your support contract with Network to Code, please email <a href="mailto:info@networktocode.com">info@networktocode.com</a>.
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}