{% extends 'base.html' %}
{% load helpers %}
{% load form_helpers %}

{% block title %}Search{% endblock %}

{% block content %}
    {% if request.GET.q %}
        <div class="row">
            <div class="col-lg-10">
                <div id="nb-search-results-tables">
                    {% for model in searchable_models %}
                        <div id="{{ model|slugify }}-results-table">
                            <div id="{{ model|slugify }}-htmx-indicator" class="htmx-indicator">
                                <div class="spinner-border">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter <= chunk_count %}
                            <div id="next-getter-{{ forloop.counter }}"
                                 class="d-none"
                                 hx-get=""
                                 hx-indicator="#{{ model|slugify }}-htmx-indicator"
                                 hx-select="#next-getter-{{ forloop.counter }}"
                                 hx-select-oob="#{{ model|slugify }}-results-table,#{{ model|slugify }}-results-summary"
                                 hx-trigger="load"
                                 hx-vals='{"model": "{{ model }}"}'
                            ></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-2" style="padding-top: 20px;">
                <div class="card">
                    <div class="card-header">
                        <strong>Search Results</strong>
                    </div>
                    <div class="list-group">
                        <div id="nb-search-results-summaries">
                            {% for model in searchable_models %}
                                <div id="{{ model|slugify }}-results-summary"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h3 class="text-secondary text-center">Please enter your desired search in the above search box.</h3>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        var clipboard = new ClipboardJS('.btn');
    </script>
{% endblock %}
