{% extends '_base.html' %}
{% load helpers %}

{% block content %}
<div class="pull-right">
    {% if perms.secrets.add_secret %}
        <a href="{% url 'secrets:secret_import' %}" class="btn btn-info">
            <span class="fa fa-download" aria-hidden="true"></span>
            Import secrets
        </a>
    {% endif %}
</div>
<h1>{% block title %}Secrets{% endblock %}</h1>
<div class="row">
    <div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_edit_url='secrets:secret_bulk_edit' bulk_delete_url='secrets:secret_bulk_delete' %}
    </div>
    <div class="col-md-3">
		{% include 'inc/search_panel.html' %}
    </div>
</div>
{% endblock %}
