{% extends 'utilities/bulk_edit_form.html' %}
{% load form_helpers %}

{% block title %}Secret Bulk Edit{% endblock %}

{% block selected_objects_table %}
    <tr>
        <th>Device</th>
        <th>Role</th>
        <th>Name</th>
    </tr>
    {% for secret in selected_objects %}
        <tr>
            <td><a href="{% url 'secrets:secret' pk=secret.pk %}">{{ secret.device }}</a></td>
            <td>{{ secret.role }}</td>
            <td>{{ secret.name }}</td>
        </tr>
    {% endfor %}
{% endblock %}
