{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right">
    {% if perms.secrets.add_secretrole %}
        {% add_button 'secrets:secretrole_add' %}
        {% import_button 'secrets:secretrole_import' %}
    {% endif %}
    {% export_button content_type %}
</div>
<h1>{% block title %}Secret Roles{% endblock %}</h1>
<div class="row">
	<div class="col-md-12">
        {% include 'utilities/obj_table.html' with bulk_delete_url='secrets:secretrole_bulk_delete' %}
    </div>
</div>
{% endblock %}
