{% extends 'users/_user.html' %}

{% block title %}Recent Activity{% endblock %}

{% block usercontent %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for action in recent_activity %}
                <tr>
                    <td>{{ action.time|date:'SHORT_DATETIME_FORMAT' }}</td>
                    <td>{{ action.icon }} {{ action.message|safe }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
