
/* Button Styles */

.ntc-btn-2f6a31 {
    background: #2f6a31 !important;
    color: #fff !important;
}
.ntc-btn-4caf50 {
    background: #4caf50 !important;
    color: #fff !important;
}
.ntc-btn-ffe4e1 {
    background: #ffe4e1 !important;
    color: #000 !important;
}
.ntc-btn-ffc107 {
    background: #ffc107 !important;
    color: #fff !important;
}

/* 
nautobot-ui Button Component of size=`xs`(`<Button  size="xs" />`)
is not functioning as it should, Hence overideing its css class.
*/
.css-uos33e{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-inline-start: 7px !important;
    padding-inline-end: 7px !important;
    display: inline-flex !important;
    border-radius: 8px !important;
}
.css-uos33e:hover, .css-uos33e[data-hover] {
    box-shadow: none !important;
}