{% extends 'generic/object_retrieve.html' %}
{% load helpers %}
{% load static %}

{% block extra_nav_tabs %}
        {% if perms.dcim.napalm_read_device %}
            {% if not object.platform %}
                {% include 'dcim/inc/device_napalm_tabs.html' with disabled_message='No platform assigned to this device' %}
            {% elif not object.platform.napalm_driver %}
                {% include 'dcim/inc/device_napalm_tabs.html' with disabled_message='No NAPALM driver assigned for this platform' %}
            {% else %}
                {% include 'dcim/inc/device_napalm_tabs.html' %}
            {% endif %}
        {% endif %}
        {% if perms.extras.view_configcontext %}
            <li role="presentation"{% if active_tab == 'config-context' %} class="active"{% endif %}>
                <a href="{% url 'dcim:device_configcontext' pk=object.pk %}">Config Context</a>
            </li>
        {% endif %}
{% endblock extra_nav_tabs %}
