{% extends 'dcim/device/base.html' %}
{% load helpers %}
{% load static %}

{% block drawer %}
    {% table_config_form wireless_networks_table %}
    {% table_config_form radio_profiles_table %}
{% endblock drawer %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Controller Managed Device Group</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Name</td>
                        <td>
                            {{ object.controller_managed_device_group|hyperlinked_object }}
                        </td>
                    </tr>
                    <tr>
                        <td>Controller</td>
                        <td>{{ object.controller_managed_device_group.controller|hyperlinked_object }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form method="post">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Wireless Networks</strong>
                    </div>
                    {% include 'responsive_table.html' with table=wireless_networks_table %}
                    <div class="panel-footer noprint">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
            <form method="post">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Radio Profiles</strong>
                    </div>
                    {% include 'responsive_table.html' with table=radio_profiles_table %}
                    <div class="panel-footer noprint">
                        <div class="clearfix"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% versioned_static 'js/tableconfig.js' %}"></script>
{% endblock javascript %}
