/* Layout */
* {
    margin: 0;
}
html {
    overflow-y: scroll;
}
html, body {
    height: 100%;
}
body {
    padding-top: 70px;
}
.container {
    width: auto;
    max-width: 1600px;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -61px; /* the bottom margin is the negative value of the footer's height */
    padding-bottom: 30px;
}
.navbar-brand {
    padding: 12px 15px 8px;
}
.footer, .push {
    height: 60px; /* .push must be the same height as .footer */
}
.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #d0d0d0;
}
footer p {
    margin: 20px 0;
}

/* Hide the username in the navigation menu on displays less than 1400px wide */
@media (max-width: 1399px) {
    #navbar_user {
        display: none;
    }
}

/* Hide the search bar in the navigation menu on displays less than 1200px wide */
@media (max-width: 1199px) {
    #navbar_search {
        display: none;
    }
}

/* Collapse the nav menu on displays less than 960px wide */
@media (max-width: 959px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
        max-height: none;
    }
    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display:block !important;
    }
    #navbar_user {
        display: inline;
    }
}

/* Navigation menu */
li.subnav > a {
    padding-left: 30px;
}
ul.dropdown-menu {
    width: 250px;
}
ul.dropdown-menu div.buttons {
    padding-right: 10px;
    padding-top: 2px;
}
ul.dropdown-menu div.buttons a {
    width: 26px;
}
ul.dropdown-menu > li > a {
    clear: left;
}

/* Forms */
label {
    font-weight: normal;
}
label.required {
    font-weight: bold;
}
input[name="pk"] {
    margin-top: 0;
}

/* Tables */
th.pk, td.pk {
    padding-bottom: 6px;
    padding-top: 10px;
    width: 30px;
}
tfoot td {
    font-weight: bold;
}
table.attr-table td:nth-child(1) {
    width: 25%;
}
.table-headings th {
    background-color: #f5f5f5;
}

/* Paginator */
div.paginator {
    margin-bottom: 20px;
}
nav ul.pagination {
    margin-top: 0;
    margin-bottom: 8px !important;
}

/* Racks */
div.rack_header {
    margin-left: 36px;
    text-align: center;
    width: 230px;
}
ul.rack_legend {
    float: left;
    list-style-type: none;
    margin-right: 6px;
    padding: 0;
    width: 30px;
}
ul.rack_legend li {
    color: #c0c0c0;
    display: block;
    font-size: 10px;
    height: 20px;
    overflow: hidden;
    padding: 5px 0;
    text-align: right;
}
div.rack_frame {
    float: left;
    position: relative;
}
ul.rack {
    border: 2px solid #404040;
    float: left;
    list-style-type: none;
    padding: 0;
    position: absolute;
    width: 230px;
}
ul.rack li {
    border-top: 1px solid #e0e0e0;
    display: block;
    font-size: 13px;
    height: 20px;
    overflow: hidden;
    text-align: center;
}
ul.rack li.h2u { height: 40px; }
ul.rack li.h2u a, ul.rack li.h2u span { padding: 10px 0; }
ul.rack li.h3u { height: 60px; }
ul.rack li.h3u a, ul.rack li.h3u span { padding: 20px 0; }
ul.rack li.h4u { height: 80px; }
ul.rack li.h4u a, ul.rack li.h4u span { padding: 30px 0; }
ul.rack li.h5u { height: 100px; }
ul.rack li.h5u a, ul.rack li.h5u span { padding: 40px 0; }
ul.rack li.h6u { height: 120px; }
ul.rack li.h6u a, ul.rack li.h6u span { padding: 50px 0; }
ul.rack li.h7u { height: 140px; }
ul.rack li.h7u a, ul.rack li.h7u span { padding: 60px 0; }
ul.rack li.h8u { height: 160px; }
ul.rack li.h8u a, ul.rack li.h8u span { padding: 70px 0; }
ul.rack li.h9u { height: 180px; }
ul.rack li.h9u a, ul.rack li.h9u span { padding: 80px 0; }
ul.rack li.h10u { height: 200px; }
ul.rack li.h10u a, ul.rack li.h10u span { padding: 90px 0; }
ul.rack li.h11u { height: 220px; }
ul.rack li.h11u a, ul.rack li.h11u span { padding: 100px 0; }
ul.rack li.h12u { height: 240px; }
ul.rack li.h12u a, ul.rack li.h12u span { padding: 110px 0; }
ul.rack li.h13u { height: 260px; }
ul.rack li.h13u a, ul.rack li.h13u span { padding: 120px 0; }
ul.rack li.h14u { height: 280px; }
ul.rack li.h14u a, ul.rack li.h14u span { padding: 130px 0; }
ul.rack li.h15u { height: 300px; }
ul.rack li.h15u a, ul.rack li.h15u span { padding: 140px 0; }
ul.rack li.h16u { height: 320px; }
ul.rack li.h16u a, ul.rack li.h16u span { padding: 150px 0; }
ul.rack li.h17u { height: 340px; }
ul.rack li.h17u a, ul.rack li.h17u span { padding: 160px 0; }
ul.rack li.h18u { height: 360px; }
ul.rack li.h18u a, ul.rack li.h18u span { padding: 170px 0; }
ul.rack li.h19u { height: 380px; }
ul.rack li.h19u a, ul.rack li.h19u span { padding: 180px 0; }
ul.rack li.h20u { height: 400px; }
ul.rack li.h20u a, ul.rack li.h20u span { padding: 190px 0; }
ul.rack li.h21u { height: 420px; }
ul.rack li.h21u a, ul.rack li.h21u span { padding: 200px 0; }
ul.rack li.h22u { height: 440px; }
ul.rack li.h22u a, ul.rack li.h22u span { padding: 210px 0; }
ul.rack li.h23u { height: 460px; }
ul.rack li.h23u a, ul.rack li.h23u span { padding: 220px 0; }
ul.rack li.h24u { height: 480px; }
ul.rack li.h24u a, ul.rack li.h24u span { padding: 230px 0; }
ul.rack li.h25u { height: 500px; }
ul.rack li.h25u a, ul.rack li.h25u span { padding: 240px 0; }
ul.rack li.h26u { height: 520px; }
ul.rack li.h26u a, ul.rack li.h26u span { padding: 250px 0; }
ul.rack li.h27u { height: 540px; }
ul.rack li.h27u a, ul.rack li.h27u span { padding: 260px 0; }
ul.rack li.h28u { height: 560px; }
ul.rack li.h28u a, ul.rack li.h28u span { padding: 270px 0; }
ul.rack li.h29u { height: 580px; }
ul.rack li.h29u a, ul.rack li.h29u span { padding: 280px 0; }
ul.rack li.h30u { height: 600px; }
ul.rack li.h30u a, ul.rack li.h30u span { padding: 290px 0; }
ul.rack li.h31u { height: 620px; }
ul.rack li.h31u a, ul.rack li.h31u span { padding: 300px 0; }
ul.rack li.h32u { height: 640px; }
ul.rack li.h32u a, ul.rack li.h32u span { padding: 310px 0; }
ul.rack li.h33u { height: 660px; }
ul.rack li.h33u a, ul.rack li.h33u span { padding: 320px 0; }
ul.rack li.h34u { height: 680px; }
ul.rack li.h34u a, ul.rack li.h34u span { padding: 330px 0; }
ul.rack li.h35u { height: 700px; }
ul.rack li.h35u a, ul.rack li.h35u span { padding: 340px 0; }
ul.rack li.h36u { height: 720px; }
ul.rack li.h36u a, ul.rack li.h36u span { padding: 350px 0; }
ul.rack li.h37u { height: 740px; }
ul.rack li.h37u a, ul.rack li.h37u span { padding: 360px 0; }
ul.rack li.h38u { height: 760px; }
ul.rack li.h38u a, ul.rack li.h38u span { padding: 370px 0; }
ul.rack li.h39u { height: 780px; }
ul.rack li.h39u a, ul.rack li.h39u span { padding: 380px 0; }
ul.rack li.h40u { height: 800px; }
ul.rack li.h40u a, ul.rack li.h40u span { padding: 390px 0; }
ul.rack li.h41u { height: 820px; }
ul.rack li.h41u a, ul.rack li.h41u span { padding: 400px 0; }
ul.rack li.h42u { height: 840px; }
ul.rack li.h42u a, ul.rack li.h42u span { padding: 410px 0; }
ul.rack li.h43u { height: 860px; }
ul.rack li.h43u a, ul.rack li.h43u span { padding: 420px 0; }
ul.rack li.h44u { height: 880px; }
ul.rack li.h44u a, ul.rack li.h44u span { padding: 430px 0; }
ul.rack li.h45u { height: 900px; }
ul.rack li.h45u a, ul.rack li.h45u span { padding: 440px 0; }
ul.rack li.h46u { height: 920px; }
ul.rack li.h46u a, ul.rack li.h46u span { padding: 450px 0; }
ul.rack li.h47u { height: 940px; }
ul.rack li.h47u a, ul.rack li.h47u span { padding: 460px 0; }
ul.rack li.h48u { height: 960px; }
ul.rack li.h48u a, ul.rack li.h48u span { padding: 470px 0; }
ul.rack li.h49u { height: 980px; }
ul.rack li.h49u a, ul.rack li.h49u span { padding: 480px 0; }
ul.rack li.h50u { height: 1000px; }
ul.rack li.h50u a, ul.rack li.h50u span { padding: 490px 0; }
ul.rack_far_face {
    background-color: #f7f7f7;
    z-index: 100;
}
ul.rack_far_face li.occupied {
    background: repeating-linear-gradient(
        45deg,
        #f7f7f7,
        #f7f7f7 7px,
        #f0f0f0 7px,
        #f0f0f0 14px
    );
}
ul.rack_far_face li.blocked {
    background: repeating-linear-gradient(
        45deg,
        #f7f7f7,
        #f7f7f7 7px,
        #ffc7c7 7px,
        #ffc7c7 14px
    );
}
ul.rack_near_face li.reserved {
    background: repeating-linear-gradient(
        45deg,
        #f7f7f7,
        #f7f7f7 7px,
        #c7c7ff 7px,
        #c7c7ff 14px
    );
}
ul.rack_near_face {
    z-index: 200;
}
ul.rack_near_face li.occupied {
    border-top: 1px solid #474747;
    color: #474747;
}
ul.rack_near_face li.occupied:hover {
    background-image: url('../img/tint_20.png');
}
ul.rack_near_face li:first-child {
    border-top: 0;
}
ul.rack_near_face li.available a {
    color: #0000ff;
    display: none;
    text-decoration: none;
}
ul.rack_near_face li.available:hover {
    background-color: #ffffff;
}
ul.rack_near_face li.available:hover a {
    display: block;
}
ul.rack li.occupied a {
    color: #ffffff;
    display: block;
    font-weight: bold;
}
ul.rack li.occupied a:hover {
    text-decoration: none;
}
ul.rack li.occupied span {
    cursor: default;
    display: block;
}
li.occupied + li.available {
    border-top: 1px solid #474747;
}

/* Devices */
table.component-list td.subtable {
    padding: 0;
    padding-left: 16px;
}
table.component-list td.subtable td {
    border: none;
    padding-bottom: 6px;
    padding-top: 6px;
}
table.interface-ips th {
    font-size: 80%;
    font-weight: normal;
}

/* Reports */
table.reports td.method {
    font-family: monospace;
    padding-left: 30px;
}
td.report-stats label {
    display: inline-block;
    line-height: 14px;
    margin-bottom: 0;
    min-width: 40px;
}
table.report th {
    position: relative;
}
table.report th a {
    position: absolute;
    top: -51px;
}

/* Rendered Markdown */
.rendered-markdown table {
    width: 100%;
}
.rendered-markdown th {
    border-bottom: 2px solid #dddddd;
    padding: 8px;
}
.rendered-markdown td {
    border-top: 1px solid #dddddd;
    padding: 8px;
}

/* AJAX loader */
.loading {
    position: fixed;
    display: none;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* Misc */
.text-nowrap {
    white-space: nowrap;
}
.banner-bottom {
    margin-bottom: 50px;
}
.panel table {
    margin-bottom: 0;
}
.panel .table th {
    border-bottom-width: 1px;
}
.panel table tr.even:first-child td {
    border-top: 0;
}
.panel .list-group {
    max-height: 400px;
    overflow: auto;
}
ul.nav-tabs, ul.nav-pills {
    margin-bottom: 20px;
}
/* Fix progress bar margin inside table cells */
td .progress {
    margin-bottom: 0;
}
textarea {
    font-family: Consolas, Lucida Console, monospace;
}