{% load form_helpers %}

<div class="modal fade" tabindex="-1" id="clear_view_modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Clear Saved View</h4>
            </div>
                <div class="modal-body">
                    <h2>This action will clear all saved and unsaved configurations on this saved view.</h2>
                    <h2>Are you sure you want to proceed?</h2>
                </div>
                <div class="modal-footer">
                    <form name="create_station" method="post" action="{% url 'user:savedview_clear' pk=saved_view %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            <span  class="mdi mdi-arrow-u-right-bottom" aria-hidden="true"></span> Confirm
                        </button>
                        <button class="btn btn-default" data-dismiss="modal">
                            <span class="mdi mdi-close-thick" aria-hidden="true"></span> Cancel
                        </button>
                    </form>
                </div>
        </div>
    </div>
</div>
