{% extends 'utilities/confirmation_form.html' %}

{% block title %}Swap Circuit Terminations{% endblock %}

{% block message %}
    <p>Swap these terminations for circuit {{ circuit }}?</p>
    <ul>
        <li>
            <strong>A side:</strong>
            {% if termination_a %}
                {{ termination_a.site }} {% if termination_a.interface %}- {{ termination_a.interface.device }} {{ termination_a.interface }}{% endif %}
            {% else %}
                <span class="text-muted">None</span>
            {% endif %}
        </li>
        <li>
            <strong>Z side:</strong>
            {% if termination_z %}
                {{ termination_z.site }} {% if termination_z.interface %}- {{ termination_z.interface.device }} {{ termination_z.interface }}{% endif %}
            {% else %}
                <span class="text-muted">None</span>
            {% endif %}
        </li>
    </ul>
{% endblock %}
