{% extends 'utilities/confirmation_form.html' %}

{% block title %}Swap Circuit Terminations{% endblock %}

{% block message %}
    <p>Swap these terminations for circuit {{ circuit }}?</p>
    <ul>
        <li>
            <strong>A side:</strong>
            {% if circuit_termination_a %}
                {{ circuit_termination_a.location }} {% if circuit_termination_a.interface %}- {{ circuit_termination_a.interface.device }} {{ circuit_termination_a.interface }}{% endif %}
            {% else %}
                <span class="text-muted">None</span>
            {% endif %}
        </li>
        <li>
            <strong>Z side:</strong>
            {% if circuit_termination_z %}
                {{ circuit_termination_z.location }} {% if circuit_termination_z.interface %}- {{ circuit_termination_z.interface.device }} {{ circuit_termination_z.interface }}{% endif %}
            {% else %}
                <span class="text-muted">None</span>
            {% endif %}
        </li>
    </ul>
{% endblock %}
