{% extends 'generic/object_retrieve.html' %}
{% load helpers %}

{% block content_left_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Cluster Group</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Description</td>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
                <tr>
                    <td>Clusters</td>
                    <td>
                        <a href="{% url 'virtualization:cluster_list' %}?cluster_group={{ object.name }}">{{ cluster_table.rows|length }}</a>
                    </td>
                </tr>
            </table>
        </div>
{% endblock content_left_page %}

{% block content_right_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Clusters</strong>
            </div>
            {% include 'inc/table.html' with table=cluster_table %}
            {% if perms.virtualization.add_cluster %}
                <div class="panel-footer text-right noprint">
                    <a href="{% url 'virtualization:cluster_add' %}?cluster_group={{ object.pk }}" class="btn btn-xs btn-primary">
                        <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add cluster
                    </a>
                </div>
            {% endif %}
        </div>
        {% include 'inc/paginator.html' with paginator=cluster_table.paginator page=cluster_table.page %}
        <div class="row"></div>
{% endblock content_right_page %}
