{% extends 'generic/object_edit.html' %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="card-header"><strong>Virtual Machine</strong></div>
        <div class="card-body">
            {% render_field form.name %}
            {% render_field form.role %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="card-header"><strong>Cluster</strong></div>
        <div class="card-body">
            {% render_field form.cluster_group %}
            {% render_field form.cluster %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="card-header"><strong>Management</strong></div>
        <div class="card-body">
            {% render_field form.status %}
            {% render_field form.platform %}
            {% render_field form.primary_ip4 %}
            {% render_field form.primary_ip6 %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="card-header"><strong>Resources</strong></div>
        <div class="card-body">
            {% render_field form.vcpus %}
            {% render_field form.memory %}
            {% render_field form.disk %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="card-header"><strong>Tenancy</strong></div>
        <div class="card-body">
            {% render_field form.tenant_group %}
            {% render_field form.tenant %}
        </div>
    </div>
    {% include 'inc/extras_features_edit_form_fields.html' %}
    <div class="panel panel-default">
        <div class="card-header"><strong>Local Config Context Data</strong></div>
        <div class="card-body">
            {% render_field form.local_context_schema %}
            {% render_field form.local_context_data %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="card-header"><strong>Comments</strong></div>
        <div class="card-body">
            {% render_field form.comments %}
        </div>
    </div>
{% endblock %}
