{% load helpers %}

<ul class="nav nav-tabs" style="margin-bottom: 20px">
    <li role="presentation"{% if active_tab == 'add' %} class="active"{% endif %}>
        <a href="{% url 'ipam:ipaddress_add' %}{% querystring request %}">New IP</a>
    </li>
    {% if 'interface' in request.GET %}
        <li role="presentation"{% if active_tab == 'assign' %} class="active"{% endif %}>
            <a href="{% url 'ipam:ipaddress_assign' %}{% querystring request %}">Assign IP</a>
        </li>
    {% else %}
        <li role="presentation"{% if active_tab == 'bulk_add' %} class="active"{% endif %}>
            <a href="{% url 'ipam:ipaddress_bulk_add' %}{% querystring request %}">Bulk Create</a>
        </li>
    {% endif %}
</ul>
