{% load ui_framework %}

{% if body_content_table_list_url and more_queryset_count > 0 %}
    <a href="{{ body_content_table_list_url }}">
        <span class="mdi mdi-dots-horizontal" aria-hidden="true"></span> View {{ more_queryset_count }} more {{ body_content_table_verbose_name_plural }}
    </a>
{% endif %}

{% if footer_buttons %}
    {# Right-align the footer button(s); the default footer floats them left via float-start. #}
    <div class="float-end">
        {% render_components footer_buttons %}
    </div>
    <div class="clearfix"></div>
{% endif %}
