{% extends 'generic/object_detail.html' %}
{% load helpers %}

{% block extra_breadcrumbs %}
                <li><a href="{% url 'ipam:aggregate_list' %}?rir={{ object.rir.slug }}">{{ object.rir }}</a></li>
{% endblock extra_breadcrumbs %}

{% block panel_buttons %}
    {% include 'ipam/inc/toggle_available.html' %}
{% endblock panel_buttons %}

{% block content_left_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Aggregate</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Family</td>
                    <td>IPv{{ object.family }}</td>
                </tr>
                <tr>
                    <td>RIR</td>
                    <td>{{ object.rir|hyperlinked_object }}</td>
                </tr>
                <tr>
                    <td>Utilization</td>
                    <td>
                        {{ object.get_percent_utilized }}%
                    </td>
                </tr>
                <tr>
                    <td>Tenant</td>
                    <td>
                        {% if object.tenant and object.tenant.group %}
                            {{ object.tenant.group|hyperlinked_object }} /
                        {% endif %}
                        {{ object.tenant|hyperlinked_object }}
                    </td>
                </tr>
                <tr>
                    <td>Date Added</td>
                    <td>{{ object.date_added|placeholder }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
            </table>
        </div>
{% endblock content_left_page %}

{% block content_full_width_page %}
        {% include 'utilities/obj_table.html' with table=prefix_table table_template='panel_table.html' heading='Child Prefixes' bulk_edit_url='ipam:prefix_bulk_edit' bulk_delete_url='ipam:prefix_bulk_delete' %}
        <div class="row"></div>
{% endblock content_full_width_page %}
