{% extends 'generic/object_edit.html' %}
{% load static %}
{% load form_helpers %}

{% block title %}Bulk Add IP Addresses{% endblock %}

{% block tabs %}
    {% include 'ipam/inc/ipadress_edit_header.html' with active_tab='bulk_add' %}
{% endblock %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>IP Addresses</strong></div>
        <div class="panel-body">
            {% render_field form.pattern %}
            {% render_field model_form.status %}
            {% render_field model_form.role %}
            {% render_field model_form.vrf %}
            {% render_field model_form.description %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Tenancy</strong></div>
        <div class="panel-body">
            {% render_field model_form.tenant_group %}
            {% render_field model_form.tenant %}
        </div>
    </div>
    {% include 'inc/extras_features_edit_form_fields.html' with form=model_form %}
{% endblock %}
