{% extends 'generic/object_detail.html' %}
{% load helpers %}
{% load render_table from django_tables2 %}

{% block extra_breadcrumbs %}
                {% if object.vrf %}
                    <li>{{ object.vrf|hyperlinked_object }}</li>
                {% endif %}
{% endblock extra_breadcrumbs %}

{% block masthead %}
<h1>
<span class="hover_copy"><span id="copy_title">{{ object }}</span><button type="button" class="btn btn-inline btn-default hover_copy_button" data-clipboard-target="#copy_title">
    <span class="mdi mdi-content-copy"></span>
</button>
</span>
</h1>
{% endblock masthead %}

{% block content_left_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>IP Address</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Family</td>
                    <td>IPv{{ object.family }}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        <span class="label" style="color: {{ object.status.color|fgcolor }}; background-color: #{{ object.status.color }}">{{ object.get_status_display }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td>
                        {% if object.role %}
                            <a href="{% url 'ipam:ipaddress_list' %}?role={{ object.role }}">{{ object.get_role_display }}</a>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>VRF</td>
                    <td>
                        {% if object.vrf %}
                            {{ object.vrf|hyperlinked_object }}
                        {% else %}
                            <span>Global</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>DNS Name</td>
                    <td>{{ object.dns_name|placeholder }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
            </table>
        </div>
{% endblock content_left_page %}

{% block content_right_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Operational Details</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Tenant</td>
                    <td>
                        {% if object.tenant and object.tenant.group %}
                            {{ object.tenant.group|hyperlinked_object }} /
                        {% endif %}
                        {{ object.tenant|hyperlinked_object }}
                    </td>
                </tr>
                <tr>
                    <td>Assignment</td>
                    <td>
                        {% if object.assigned_object %}
                            {{ object.assigned_object.parent|hyperlinked_object }} ({{ object.assigned_object }})
                        {% else %}
                            <span class="text-muted">&mdash;</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>NAT (inside)</td>
                    <td>
                        {% if object.nat_inside %}
                            {{ object.nat_inside|hyperlinked_object }}
                            {% if object.nat_inside.assigned_object %}
                                ({{ object.nat_inside.assigned_object.parent|hyperlinked_object }})
                            {% endif %}
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>NAT (outside)</td>
                    <td>
                        {% if object.nat_outside_list.exists %}
                            <ul class="list-unstyled">
                                {% for nat in object.nat_outside_list.all %}
                                    <li>{{ nat|hyperlinked_object }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <span class="text-muted">None</span>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {% include 'panel_table.html' with table=parent_prefixes_table heading='Parent Prefixes' %}
{% endblock content_right_page %}

{% block content_full_width_page %}
        {% if duplicate_ips_table.rows %}
            {# Custom version of panel_table.html #}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <strong>Duplicate IP Addresses</strong>
                    {% if more_duplicate_ips %}
                    <div class="pull-right">
                        <a type="button" class="btn btn-primary btn-xs"
                        {% if object.vrf %}
                        href="{% url 'ipam:ipaddress_list' %}?address={{ object.address.ip }}&vrf_id={{ object.vrf.pk }}"
                        {% else %}
                        href="{% url 'ipam:ipaddress_list' %}?address={{ object.address.ip }}&vrf_id=null"
                        {% endif %}
                        >Show all</a>
                    </div>
                    {% endif %}
                </div>
                {% render_table duplicate_ips_table 'inc/table.html' %}
            </div>
        {% endif %}
        {% include 'utilities/obj_table.html' with table=related_ips_table table_template='panel_table.html' heading='Related IP Addresses' panel_class='default' %}
{% endblock content_full_width_page %}
