{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}
{% load static %}
{% load django_tables2 %}

{% block extra_styles %}
    {{ block.super }}
{% endblock %}
{% block content %}
<form action="" method="post" enctype="multipart/form-data" class="form form-horizontal">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-danger">
                <div class="panel-heading"><strong>Confirm Merging These Duplicate IP Addresses</strong></div>
                <div class="panel-body">
                    <p><strong>Warning:</strong> The following operation will merge these {{ queryset.count }} IP Addresses. Please select the attributes you want to keep in the merged IP Address.</p>
                    {% block message_extra %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <table class="table table-hover table-headings">
                <thead>
                    <th>
                        Host
                    </th>
                    <th>
                        Mask Length
                    </th>
                    <th>
                        Namespace
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        DNS Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Tenant
                    </th>
                    <th>
                        NAT IP (Inside)
                    </th>
                    <th>
                        Tags
                    </th>
                </thead>
                <tbody>
                {% for ip in queryset %}
                        <tr>
                            <td style="display:none">
                                <input checked="true" type="hidden" id="pk" name="pk" value="{{ip.pk}}">
                                <label for="pk">{{ip.pk}}</label>
                            </td>
                            <td>
                                <input checked="true" type="hidden" id="host" name="host" value="{{ip.host}}">
                                <label for="host">{{ip.host}}</label>
                            </td>
                            <td>
                                <input type="radio" id="mask_length" name="mask_length" value="{{ip.mask_length}}" required>
                                <label for="mask_length">{{ip.mask_length | placeholder }}</label>
                            </td>
                            <td>
                                <input type="radio" id="namespace" name="namespace" value="{{ip.parent.namespace.pk}}" required>
                                <label for="namespace">{{ip.parent.namespace | hyperlinked_object }}</label>
                            </td>
                            <td>
                                <input type="radio" id="type" name="type" value="{{ip.type}}" required>
                                <label for="type">{{ip.type}}</label>
                            </td>
                            <td>
                                <input type="radio" id="status" name="status" value="{{ip.status.pk}}" required>
                                <label for="status">{{ip.status | hyperlinked_object}}</label>
                            </td>
                            <td>
                                <input type="radio" id="role" name="role" value="{{ip.role.pk}}" required>
                                <label for="role">{{ip.role | hyperlinked_object}}</label>
                            </td>
                            <td>
                                <input type="radio" id="dns_name" name="dns_name" value="{{ip.dns_name}}" required>
                                <label for="dns_name">{{ip.dns_name | placeholder}}</label>
                            </td>
                            <td>
                                <input type="radio" id="description" name="description" value="{{ip.description}}" required>
                                <label for="description">{{ip.description | placeholder }}</label>
                            </td>
                            <td>
                                <input type="radio" id="tenant" name="tenant" value="{{ip.tenant.pk}}" required>
                                <label for="tenant">{{ip.tenant | hyperlinked_object}}</label>
                            </td>
                            <td>
                                <input type="radio" id="nat_inside" name="nat_inside" value="{{ip.nat_inside.pk}}" required>
                                <label for="nat_inside">{{ip.nat_inside | hyperlinked_object}}</label>
                            </td>
                            <td>
                                <input type="radio" id="tags" name="tags" value="{{ip.tags.all | get_obj_uuids}}">
                                <label for="tags">
                                    {% for tag in ip.tags.all %}
                                        {% tag tag url %}
                                    {% empty %}
                                        {{ ip.tags.all | placeholder }}
                                    {% endfor %}
                                </label>
                            </td>
                        </tr>
                {% endfor %}
                </tbody>    
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-9">
        {% block buttons %}
            <button type="submit" name="_merge" class="btn btn-primary">Merge and Go to the Next Duplicates</button>
            <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
        {% endblock %}
    </div>
</div>
</form>
{% endblock %}