{% extends 'generic/object_list.html' %}
{% load helpers %}
{% load querystring from django_tables2 %}

{% block buttons %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="max_length" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Max Length{% if "prefix_length__lte" in request.GET %}: {{ request.GET.prefix_length__lte }}{% endif %}
            <span class="mdi mdi-chevron-down"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="max_length">
            {% for i in "4,8,12,16,20,24,28,32,40,48,56,64"|split %}
                <li>
                    <a class="dropdown-item"
                       {% if request.GET.prefix_length__lte == i %}
                           href="{% querystring 'page'=1 without 'prefix_length__lte' %}"
                       {% else %}
                           href="{% querystring 'prefix_length__lte'=i 'page'=1 %}"
                       {% endif %}
                    >
                        {{ i }}
                        {% if request.GET.prefix_length__lte == i %}<span class="mdi mdi-check-bold"></span>{% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
    const collapseSubtree = (event) => {
        const ancestorsCount = event.target.closest("td").getElementsByClassName("nb-subtree").length;
        const tr = event.target.closest("tr");
        const url = new URL(window.location.href);
        while (tr.nextElementSibling !== null &&
            tr.nextElementSibling.getElementsByClassName("nb-prefix").length > 0 &&
            tr.nextElementSibling.getElementsByClassName("nb-prefix")[0].getElementsByClassName("nb-subtree").length > ancestorsCount
        ) {
            url.searchParams.delete("expanded_prefix", tr.nextElementSibling.getElementsByClassName("nb-prefix")[0].getAttribute("data-pk"));
            tr.nextElementSibling.remove();
        }
        event.target.classList.toggle("nb-subtree-expanded", false);
        event.target.setAttribute("hx-get", event.target.getAttribute("_hx-get"));
        htmx.process(event.target);
        url.searchParams.delete("expanded_prefix", event.target.closest("td").getAttribute("data-pk"));
        window.history.replaceState(null, "", url);
    };

    const afterExpansion = (span, addExpandedPrefix) => {
        span.classList.toggle("nb-subtree-expanded", true);
        span.setAttribute("_hx-get", span.getAttribute("hx-get"));
        span.removeAttribute("hx-get");
        htmx.process(span);
        span.addEventListener("click", collapseSubtree);
        if (addExpandedPrefix) {
            const url = new URL(window.location.href);
            url.searchParams.delete("expanded_prefix", span.closest("td").getAttribute("data-pk"));  // to avoid dupes
            url.searchParams.append("expanded_prefix", span.closest("td").getAttribute("data-pk"));
            window.history.replaceState(null, "", url);
        }
    }

    const maybeAddExpansionCaret = (td) => {
        const ancestorsCount = td.getElementsByClassName("nb-subtree").length;
        const carets = td.getElementsByClassName("nb-subtree-expandable");
        if (carets.length > 0) {
            const caret = carets[0];
            caret.setAttribute("hx-on:htmx:after-on-load", "afterExpansion(this, true)");
            const tr = td.closest("tr");
            if (tr.nextElementSibling !== null &&
                tr.nextElementSibling.getElementsByClassName("nb-prefix").length > 0 &&
                tr.nextElementSibling.getElementsByClassName("nb-prefix")[0].getElementsByClassName("nb-subtree").length > ancestorsCount
            ) {
                // already expanded to show subtree
                afterExpansion(caret, false);
            }
        }
    };

    htmx.onLoad((content) => {
        const prefix_tds = Array.from(content.getElementsByClassName("nb-prefix"));
        if (prefix_tds.length > 0) {
            prefix_tds.forEach((td) => {
                maybeAddExpansionCaret(td);
            });
            htmx.process(content);

            const urlParams = new URLSearchParams(window.location.search);
            urlParams.getAll("expanded_prefix").forEach((pk) => {
                htmx.find(`td[data-pk="${pk}"] .nb-subtree-expandable:not(.nb-subtree-expanded)`)?.click();
            });
        }
    });
</script>
{% endblock javascript %}
