{% extends 'ipam/prefix.html' %}

{% block title %}{{ block.super }} - Prefixes{% endblock %}

{% block panel_buttons %}
    {% include 'ipam/inc/toggle_available.html' %}
{% endblock panel_buttons %}

{% block extra_nav_tabs %}
        <li role="presentation"{% if active_tab == 'prefixes' %} class="active"{% endif %}>
            <a href="{% url 'ipam:prefix_prefixes' pk=object.pk %}">Child Prefixes <span class="badge">{{ object.descendants_count }}</span></a>
        </li>
        {% if perms.ipam.view_ipaddress %}
            <li role="presentation"{% if active_tab == 'ip-addresses' %} class="active"{% endif %}>
                <a href="{% url 'ipam:prefix_ipaddresses' pk=object.pk %}">IP Addresses <span class="badge">{{ object.get_all_ips.count }}</span></a>
            </li>
        {% endif %}
{% endblock extra_nav_tabs %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% include 'utilities/obj_table.html' with table=prefix_table table_template='panel_table.html' heading='Child Prefixes' bulk_edit_url='ipam:prefix_bulk_edit' bulk_delete_url='ipam:prefix_bulk_delete' parent=prefix %}
        </div>
    </div>
{% endblock %}
