{% load helpers %}
{% with last_column_name=table.columns.names|last %}
    <table>
        <tbody>
            {% for row in table.page.object_list|default:table.rows %}
                <tr {{ row.attrs.as_html }}>
                    {% for column, cell in row.items %}
                        <td {{ column.attrs.td.as_html }}>{{ cell }}</td>
                    {% endfor %}
                    {% if table.configurable and last_column_name != "actions" %}
                        <td class="nb-w-0" />
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
        {% if table.page.paginator.num_pages > 1 and table.page.number < table.page.paginator.num_pages %}
            <tfoot>
                <tr>
                    {% if "pk" in table.columns %}
                        <td class="table-info"></td>
                        <td colspan="{{ table.columns|length|add:-1 }}" class="nb-prefix table-info">
                    {% else %}
                        <td colspan="{{ table.columns|length }}" class="nb-prefix table-info">
                    {% endif %}
                        {% for i in table.context.tree_depth|add:1|as_range %}
                            <span class="nb-subtree"></span>
                        {% endfor %}
                        &hellip; and
                        <a href="{% url 'ipam:prefix_children' pk=table.context.instance.pk %}{% django_querystring page=table.page.number|add:1 %}"
                           hx-get="{% url 'ipam:prefix_children' pk=table.context.instance.pk %}{% django_querystring page=table.page.number|add:1 %}"
                           hx-indicator="closest .table-responsive"
                           hx-select=".table-responsive tr"
                           hx-swap="outerHTML"
                           hx-select-oob="none"
                           hx-target="closest tr"
                        >
                            {{ table.context.additional_count }} more
                        </a>
                        &hellip;
                    </td>
                </tr>
            </tfoot>
        {% endif %}
    </table>
{% endwith %}
