{% extends 'generic/object_list.html' %}

{% block buttons %}
    {% if request.GET.family == '6' %}
        <a href="{% url 'ipam:rir_list' %}" class="btn btn-default">
            <span class="mdi mdi-table" aria-hidden="true"></span>
            IPv4 Stats
        </a>
    {% else %}
        <a href="{% url 'ipam:rir_list' %}?family=6{% if request.GET %}&{{ request.GET.urlencode }}{% endif %}" class="btn btn-default">
            <span class="mdi mdi-table" aria-hidden="true"></span>
            IPv6 Stats
        </a>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if request.GET.family == '6' %}
        <div class="alert alert-info">
            <i class="mdi mdi-information-outline"></i> Numbers shown indicate /64 prefixes.
        </div>
    {% endif %}
{% endblock %}
