{% extends 'generic/object_edit.html' %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Service</strong></div>
        <div class="panel-body">
            {% render_field form.device %}
            {% render_field form.virtual_machine %}
            {% render_field form.name %}
            {% render_field form.protocol %}
            {% render_field form.ports %}
            {% render_field form.ip_addresses %}
            {% render_field form.description %}
        </div>
    </div>
    {% include 'inc/extras_features_edit_form_fields.html' %}
{% endblock %}
