{% extends 'generic/object_detail.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}

{% block extra_breadcrumb %}
            <li><a href="{{ object.parent.get_absolute_url }}">{{ object.parent }}</a></li>
{% endblock extra_breadcrumb %}

{% block content_left_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Service</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Name</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>Parent</td>
                    <td>
                        <a href="{{ object.parent.get_absolute_url }}">{{ object.parent }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Protocol</td>
                    <td>{{ object.get_protocol_display }}</td>
                </tr>
                <tr>
                    <td>Ports</td>
                    <td>{{ object.port_list }}</td>
                </tr>
                <tr>
                    <td>IP Addresses</td>
                    <td>
                        {% for ipaddress in object.ipaddresses.all %}
                            <a href="{{ ipaddress.get_absolute_url }}">{{ ipaddress }}</a><br />
                        {% empty %}
                            <span class="text-muted">None</span>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
            </table>
        </div>
{% endblock content_left_page %}
