{% extends 'generic/object_detail.html' %}
{% load helpers %}

{% block content_left_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>VRF</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Route Distinguisher</td>
                    <td>{{ object.rd }}</td>
                </tr>
                <tr>
                    <td>Tenant</td>
                    <td>{{ object.tenant|hyperlinked_object }}</td>
                </tr>
                <tr>
                    <td>Unique IP Space</td>
                    <td>{{ object.enforce_unique | render_boolean }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
                <tr>
                    <td>Prefixes</td>
                    <td>
                        <a href="{% url 'ipam:prefix_list' %}?vrf_id={{ object.pk }}">{{ prefix_count }}</a>
                    </td>
                </tr>
            </table>
        </div>
{% endblock content_left_page %}

{% block content_right_page %}
        {% include 'panel_table.html' with table=import_targets_table heading="Import Route Targets" %}
        {% include 'panel_table.html' with table=export_targets_table heading="Export Route Targets" %}
{% endblock content_right_page %}
