/* Light mode */
$bg:       #f6f6f6;
$black-0:  #1a1a1a;
$white-0:  #ffffff;

$gray-0:   #f4f4f4;
$gray-05:  #ececec;
$gray-1:   #dedede;
$gray-2:   #b0b0b0;
$gray-3:   #505d68;

$blue-0:   #007dff;
$blue-1:   #e5f2ff;
$blue-2:   #cce5ff;
$orange-0: #e07807;
$orange-1: #fcf1e6;
$orange-2: #f9e4cd;

$green-0:  #1ca92a;
$green-1:  #e8f6e9;
$green-2:  #d2eed4;
$red-0:    #e01f1f;
$red-1:    #fce8e8;
$red-2:    #f9d2d2;

/* Dark mode */
$bg-dark:       #121212;
$black-0-dark:  #ffffff;
$white-0-dark:  #1a1a1a;

$gray-0-dark:   #1e1e1e;
$gray-05-dark:  #2a2a2a;
$gray-1-dark:   #2f2f2f;
$gray-2-dark:   #828282;
$gray-3-dark:   #b5b5b5;

$blue-0-dark:   #339dff;
$blue-1-dark:   #1a2936;
$blue-2-dark:   #0e1c2b;
$orange-0-dark: #ff9933;
$orange-1-dark: #2a1c0f;
$orange-2-dark: #3d2a16;

$green-0-dark:  #2ecc40;
$green-1-dark:  #122a14;
$green-2-dark:  #1a3d1d;
$red-0-dark:    #ff4c4c;
$red-1-dark:    #2b0e0e;
$red-2-dark:    #3d1616;

/* Navbar */
$navy-0:      #121212;
$navy-1:      #1e1e1e;
$navy-2:      #2f2f2f;
$navy-3:      #828282;
$nav-white-0: #ffffff;
$nav-gray-3:  #b5b5b5;
$nav-blue-0:  #339dff;
