# {{ error_code }}

## Message emitted:

`{{ error_code }}`: {{ error.error_message }}

## Description:

{{ error.description }}

## Troubleshooting:

{{ error.troubleshooting }}

## Recommendation:

{{ error.recommendation }}