Jinja2==3.1.2
Markdown==3.4.4
markdown-data-tables==1.0.0
mkdocs==1.5.2
mkdocs-gen-files==0.5.0
mkdocs-include-markdown-plugin==4.0.4
mkdocs-material==9.3.1
mkdocs-section-index==0.3.7
mkdocs-version-annotations==1.0.0
mkdocstrings==0.23.0
mkdocstrings-python==1.6.3
