Jinja2==3.1.2
Markdown==3.3.7
markdown-data-tables==1.0.0
mkdocs==1.4.2
mkdocs-gen-files==0.4.0
mkdocs-include-markdown-plugin==4.0.4
mkdocs-material==9.1.6
mkdocs-version-annotations==1.0.0
mkdocstrings==0.21.2
mkdocstrings-python==0.9.0
