{% if add_url %}
    <a href="{{ add_url }}" hx-get="{{ add_url }}" hx-target="#modals-here" class="btn btn-primary" id="add-button">
        <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add
    </a>
    <script>
        window.document.getElementById("add-button").addEventListener("htmx:afterOnLoad", function() {
            const editModal = new bootstrap.Modal("#edit-modal");
            editModal.show();
            jsify_form(document.getElementById("edit-modal"));
        });
    </script>
{% endif %}
