@brand-primary: #007dff;
@brand-success: #098a15;
@brand-info: #5bc0de;
@brand-warning: #e07807;
@brand-danger: #e01f1f;
@white-0: #FFFFFF;

// Danger and error appear as blue
.btn-danger {
    color: @white-0;
    background-color: @brand-danger;
    border-color: @brand-danger;
}

.btn-warning {
    color: @white-0;
    background-color: @brand-primary;
    border-color: @brand-danger;
}