{% extends '_base.html' %}
{% load form_helpers %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
        <form action="" method="post" class="form">
            {% csrf_token %}
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            <div class="panel panel-{{ panel_class|default:"danger" }}">
                <div class="panel-heading">{% block title %}{% endblock %}</div>
                <div class="panel-body">
                    {% block message %}<p>Are you sure?</p>{% endblock %}
                    <div class="text-right">
                        <button type="submit" name="_confirm" class="btn btn-{{ button_class|default:"danger" }}">Confirm</button>
                        <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
	</div>
</div>
{% endblock %}
