{% extends '_base.html' %}
{% load buttons %}
{% load helpers %}

{% block content %}
<div class="pull-right noprint">
    {% if permissions.add and 'add' in action_buttons %}
        {% add_button content_type.model_class|url_name:"add" %}
    {% endif %}
    {% if permissions.add and 'import' in action_buttons %}
        {% import_button content_type.model_class|url_name:"import" %}
    {% endif %}
    {% if 'export' in action_buttons %}
        {% export_button content_type %}
    {% endif %}
</div>
<h1>{% block title %}{{ content_type.model_class|model_name_plural|bettertitle }}{% endblock %}</h1>
<div class="row">
    {% if filter_form %}
        <div class="col-md-9">
            {% include 'utilities/obj_table.html' with bulk_edit_url=content_type.model_class|url_name:"bulk_edit" bulk_delete_url=content_type.model_class|url_name:"bulk_delete" %}
        </div>
        <div class="col-md-3 noprint">
            {% include 'inc/search_panel.html' %}
        </div>
    {% else %}
        <div class="col-md-12">
            {% include 'utilities/obj_table.html' with bulk_edit_url=content_type.model_class|url_name:"bulk_edit" bulk_delete_url=content_type.model_class|url_name:"bulk_delete" %}
        </div>
    {% endif %}
</div>
{% endblock %}
