{% load helpers %}
{% if termination.cable %}
    {% if perms.dcim.delete_cable %}
        <div class="float-end">
            <a href="{% url 'dcim:cable_delete' pk=termination.cable.pk %}?return_url={{ termination.circuit.get_absolute_url }}" title="Remove cable" class="btn btn-danger btn-sm">
                <span class="mdi mdi-ethernet-cable-off" aria-hidden="true"></span> Disconnect
            </a>
        </div>
    {% endif %}
    {{ termination.cable|hyperlinked_object }}
    <a href="{% url 'circuits:circuittermination_trace' pk=termination.pk %}" class="btn btn-primary btn-sm" title="Trace">
        <span class="mdi mdi-transit-connection-variant" aria-hidden="true"></span>
    </a>
    {% with peer=termination.get_cable_peer %}
        to
        {% if peer.device %}
            {{ peer.device|hyperlinked_object }}
        {% elif peer.circuit %}
            {{ peer.circuit|hyperlinked_object }}
        {% endif %}
        ({{ peer }})
    {% endwith %}
{% else %}
    {% if perms.dcim.add_cable %}
        {% include 'dcim/inc/cable_add_button.html' with termination=termination return_url=object.get_absolute_url %}
    {% endif %}
    <span class="text-secondary">Not defined</span>
{% endif %}
