{% extends 'base.html' %}
{% load helpers %}
{% load form_helpers %}

{% block content %}
{% block tabs %}{% endblock %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>{% block title %}{{ obj_type|bettertitle }} Bulk Import{% endblock %}</h1>
            {% if form.non_field_errors %}
                <div class="panel panel-danger">
                    <div class="panel-heading"><strong>Errors</strong></div>
                    <div class="panel-body">
                        {{ form.non_field_errors }}
                        {% if not form.csv_file.errors %}There are no errors in field csv_file{% endif %}
                    </div>
                </div>
            {% endif %}
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" {% if not form.csv_file.errors %} class="active"{% endif %}><a href="#csv-text" role="tab" data-toggle="tab">CSV Data</a></li>
                <li role="presentation" {% if form.csv_file.errors %} class="active"{% endif %}><a href="#csv-file" role="tab" data-toggle="tab">CSV File Upload</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane {% if not form.csv_file.errors %}active{% endif %}" id="csv-text">
                    <form action="" method="post" class="form">
                        {% csrf_token %}
                        {% render_field form.csv_data %}
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                {% if return_url %}
                                    <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    {% include 'generic/inc/bulk_import_field_options.html' %}
                </div>
                <div role="tabpanel" class="tab-pane {% if form.csv_file.errors %}active{% endif %}" id="csv-file">
                    <form action="" method="post" enctype="multipart/form-data" class="form">
                        {% csrf_token %}
                        <input type="hidden" name="csv_data" value="{{ form.csv_data.initial }}">
                        {% render_field form.csv_file %}
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                {% if return_url %}
                                    <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                    {% include 'generic/inc/bulk_import_field_options.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
