{% extends 'base.html' %}
{% load helpers %}
{% load form_helpers %}

{% block content %}
{% block tabs %}{% endblock %}
<div class="row">
	<div class="col-lg-8 offset-lg-2">
        <h1>{% block title %}{{ obj_type|bettertitle }} Import{% endblock %}</h1>
        {% if form.non_field_errors %}
            <div class="card card-danger">
                <div class="card-header"><strong>Errors</strong></div>
                <div class="card-body">
                    {{ form.non_field_errors }}
                </div>
            </div>
        {% endif %}
        <form action="" method="post" class="form form-horizontal object-import-form">
            {% csrf_token %}
            <div class="card mb-3">
                <div class="card-header">Data</div>
                <div class="card-body">
                    {% render_field form.data %}
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">Format</div>
                <div class="card-body">
                    {% render_field form.format %}
                </div>
            </div>
            <div class="form-group text-end">
                <button type="submit" name="_create" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loading_modal" title="Show Modal">Submit</button>
                <button type="submit" name="_addanother" class="btn btn-primary">Submit and Import Another</button>
                {% if return_url %}
                    <a href="{{ return_url }}" class="btn btn-secondary">Cancel</a>
                {% endif %}
            </div>
        </form>
	</div>
</div>
{% bulk_operations_loading_modal size=table.rows|length model_plural_name=obj_type_plural action=action %}
{% endblock %}
