{% extends 'base.html' %}
{% load form_helpers %}
{% load helpers %}
{% load ui_framework %}

{% block title %}{% if editing %}Editing {{ obj_type }} {{ obj }}{% else %}Add a new {{ obj_type }}{% endif %}{% endblock %}

{% block breadcrumbs_wrapper %}
    {% captureas default_breadcrumbs %}
        {% with list_url=obj|validated_viewname:"list" %}
            {% if list_url is not None %}
                <li class="breadcrumb-item"><a href="{% url list_url %}">{{ obj|meta:"verbose_name_plural"|bettertitle }}</a></li>
            {% endif %}
        {% endwith %}
    {% endcaptureas %}

    {% captureas block_breadcrumbs %}
        {% block breadcrumbs %}
            {% with list_url=obj|validated_viewname:"list" %}
                {% if list_url is not None %}
                    <li class="breadcrumb-item"><a href="{% url list_url %}">{{ obj|meta:"verbose_name_plural"|bettertitle }}</a></li>
                {% endif %}
            {% endwith %}
            {% block extra_breadcrumbs %}{% endblock extra_breadcrumbs %}
        {% endblock %}
    {% endcaptureas %}

    {% render_breadcrumbs default_breadcrumbs block_breadcrumbs %}
{% endblock breadcrumbs_wrapper %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data" class="h-100 vstack">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}
        <div class="row align-content-start flex-fill">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 mb-10">
                <h3>
                    {% if obj %}
                        {% with obj|get_docs_url as docs_url %}
                            {% if docs_url %}
                                <a href="{{ docs_url }}" target="_blank" class="btn btn-link btn-sm float-end" title="Help">
                                    <span aria-hidden="true" class="mdi mdi-help-circle"></span>
                                </a>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </h3>
            </div>
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                {% block tabs %}{% endblock %}
                {% block form_errors %}
                    {% if form.non_field_errors or model_form.non_field_errors %}
                        <div class="card border-danger mb-16">
                            <div class="card-header bg-danger-subtle border-danger text-body">
                                <strong>Errors</strong>
                            </div>
                            <div class="card-body">
                                {{ form.non_field_errors }}
                                {{ model_form.non_field_errors }}
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
                {% block form %}
                    <div class="card mb-16">
                        <div class="card-header"><strong>{{ obj_type|capfirst }}</strong></div>
                        <div class="card-body">
                            {% block form_fields %}
                                {% render_form form %}
                            {% endblock %}
                        </div>
                    </div>
                    {% include 'inc/extras_features_edit_form_fields.html' %}
                {% endblock %}
            </div>
        </div>
        <div class="nb-form-sticky-footer">
            {% block buttons %}
                {% if editing %}
                    <button type="submit" name="_update" class="btn btn-primary">
                        <span aria-hidden="true" class="mdi mdi-check me-4"></span><!--
                        -->Update
                    </button>
                {% else %}
                    <button type="submit" name="_create" class="btn btn-primary">
                        <span aria-hidden="true" class="mdi mdi-check me-4"></span><!--
                        -->Create
                    </button>
                    <button type="submit" name="_addanother" class="btn btn-primary">
                        <span aria-hidden="true" class="mdi mdi-check me-4"></span><!--
                        -->Create and Add Another
                    </button>
                {% endif %}
                <a href="{{ return_url }}" class="btn btn-secondary">
                    <span aria-hidden="true" class="mdi mdi-close me-4"></span><!--
                    -->Cancel
                </a>
            {% endblock %}
        </div>
    </form>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}
