{% extends 'base.html' %}
{% load buttons %}
{% load helpers %}
{% load static %}

{% block content %}
<div class="pull-right noprint">
    {% block buttons %}{% endblock %}
    {% if request.user.is_authenticated and table_config_form %}
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ObjectTable_config" title="Configure table"><i class="mdi mdi-cog"></i> Configure Table</button>
    {% endif %}
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ObjectFilterForm_config" title="Configure filter form"><i class="mdi mdi-form-dropdown"></i> Configure Filter Form</button>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#LookupFilterForm_modal" title="Configure filter form"><i class="mdi mdi-form-dropdown"></i> Filter Form</button>
    {% if permissions.add and 'add' in action_buttons %}
        {% add_button content_type.model_class|validated_viewname:"add" %}
    {% endif %}
    {% if permissions.add and 'import' in action_buttons %}
        {% import_button content_type.model_class|validated_viewname:"import" %}
    {% endif %}
    {% if 'export' in action_buttons %}
        {% export_button content_type %}
    {% endif %}
</div>
<h1>{% block title %}{{ content_type.model_class|meta:"verbose_name_plural"|bettertitle }}{% endblock %}</h1>

<div class="">
    Filters:
    <button class="btn btn-sm">Status: Active, Planned <i class="mdi mdi-close"></i></button>
    <button class="btn btn-sm">Region: Region 1 <i class="mdi mdi-close"></i></button>
    <button class="btn btn-sm">Tags: Tag 1, Tag 2, Tag 3 <i class="mdi mdi-close"></i></button>
    <button class="btn btn-sm">Contact Email in: test@gmail.com <i class="mdi mdi-close"></i></button>

</div>
<hr>

<div class="row">
    <div class="col-md-12">
        {% with bulk_edit_url=content_type.model_class|validated_viewname:"bulk_edit" bulk_delete_url=content_type.model_class|validated_viewname:"bulk_delete" %}
        {% if permissions.change or permissions.delete %}
            <form method="post" class="form form-horizontal">
                {% csrf_token %}
                <input type="hidden" name="return_url" value="{% if return_url %}{{ return_url }}{% else %}{{ request.path }}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}{% endif %}" />
                {% if table.paginator.num_pages > 1 %}
                <div class="table-responsive">
                    <div id="select_all_box" class="hidden panel panel-default noprint">
                        <div class="panel-body">
                            <div class="checkbox-inline">
                                <label for="select_all">
                                    <input type="checkbox" id="select_all" name="_all" />
                                    Select <strong>all {{ table.rows|length }} {{ table.data.verbose_name_plural }}</strong> matching query
                                </label>
                            </div>
                            <div class="pull-right">
                                {% if bulk_edit_url and permissions.change %}
                                    <button type="submit" name="_edit" formaction="{% url bulk_edit_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-warning btn-sm" disabled="disabled">
                                        <span class="mdi mdi-pencil" aria-hidden="true"></span> Edit All
                                    </button>
                                {% endif %}
                                {% if bulk_delete_url and permissions.delete %}
                                    <button type="submit" name="_delete" formaction="{% url bulk_delete_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-danger btn-sm" disabled="disabled">
                                        <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Delete All
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% include table_template|default:'responsive_table.html' %}
                <div class="pull-left noprint">
                    {% block bulk_buttons %}{% endblock %}
                    {% if bulk_edit_url and permissions.change %}
                        <button type="submit" name="_edit" formaction="{% url bulk_edit_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-warning btn-sm">
                            <span class="mdi mdi-pencil" aria-hidden="true"></span> Edit Selected
                        </button>
                    {% endif %}
                    {% if bulk_delete_url and permissions.delete %}
                        <button type="submit" name="_delete" formaction="{% url bulk_delete_url %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" class="btn btn-danger btn-sm">
                            <span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Delete Selected
                        </button>
                    {% endif %}
                </div>
            </form>
        {% else %}
            {% include table_template|default:'responsive_table.html' %}
        {% endif %}
        {% endwith %}
        {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
        <div class="clearfix"></div>
    </div>
</div>
{% table_config_form table table_name="ObjectTable" %}
{% filter_form_config_form filter_form filter_form_name="ObjectFilterForm" %}
{% filter_form_modal filter_form=filter_form lookup_filter_form=lookup_filter_form filter_form_name="LookupFilterForm" %}
{% endblock %}


{% block javascript %}
<script src="{% static 'js/tableconfig.js' %}"></script>
<script src="{% static 'jquery/jquery.formset.js' %}"></script>

<script type="text/javascript">
    $('.formset_row-{{ lookup_filter_form.prefix }}').formset({
        addText: '<span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add another Field',
        addCssClass: 'btn btn-primary add-row',
        deleteText: '<span class="mdi mdi-trash-can-outline" aria-hidden="true"></span>',
        deleteCssClass: 'btn btn-danger delete-row',
        prefix: '{{ lookup_filter_form.prefix }}',
        formCssClass: 'dynamic-formset-{{ lookup_filter_form.prefix }}',
    });

    // Instantiate  select2 on dynamically added fields
    $(".add-row").on("click", instantiateSelect2)

    function instantiateSelect2(){
        $('.nautobot-select2-static').select2({
                allowClear: true,
                placeholder: "---------",
                theme: "bootstrap",
                width: "off"
        });
    }

    function parseURL(url) {
        var filter_regex = /\{\{([a-z_]+)\}\}/g;
        var match;
        var rendered_url = url;
        var filter_field;
        while (match = filter_regex.exec(url)) {
            filter_field = $('#id_' + match[1]);
            var custom_attr = $('option:selected', filter_field).attr('api-value');
            if (custom_attr) {
                rendered_url = rendered_url.replace(match[0], custom_attr);
            } else if (filter_field.val()) {
                rendered_url = rendered_url.replace(match[0], filter_field.val());
            } else if (filter_field.attr('data-null-option')) {
                rendered_url = rendered_url.replace(match[0], 'null');
            }
        }
        return rendered_url
    }

    function instantiateSelect2API(){
        $('.nautobot-select2-api').select2({
        allowClear: true,
        placeholder: "---------",
        theme: "bootstrap",
        width: "off",
        ajax: {
            delay: 500,

            url: function(params) {
                var element = this[0];
                console.log(element)
                var url = parseURL(element.getAttribute("data-url"));

                if (url.includes("{{")) {
                    // URL is not fully rendered yet, abort the request
                    return false;
                }
                return url;
            },

            data: function(params) {
                var element = this[0];
                // Paging. Note that `params.page` indexes at 1
                var offset = (params.page - 1) * 50 || 0;
                // Base query params
                var parameters = {
                    q: params.term,
                    limit: 50,
                    offset: offset,
                };

                // Set api_version
                api_version = $(element).attr("data-api-version")
                if(api_version)
                    parameters["api_version"] = api_version


                // Allow for controlling the brief setting from within APISelect
                parameters.brief = ( $(element).is('[data-full]') ? undefined : true );

                // Attach any extra query parameters
                $.each(element.attributes, function(index, attr){
                    if (attr.name.includes("data-query-param-")){
                        var param_name = attr.name.split("data-query-param-")[1];

                        $.each($.parseJSON(attr.value), function(index, value) {
                            // Referencing the value of another form field
                            if (value.startsWith('$')) {
                                let ref_field = $('#id_' + value.slice(1));
                                if (ref_field.val() && ref_field.is(":visible")) {
                                    value = ref_field.val();
                                } else if (ref_field.attr("required") && ref_field.attr("data-null-option")) {
                                    value = "null";
                                } else {
                                    return true;  // Skip if ref_field has no value
                                }
                            }
                            if (param_name in parameters) {
                                if (Array.isArray(parameters[param_name])) {
                                    parameters[param_name].push(value);
                                } else {
                                    parameters[param_name] = [parameters[param_name], value];
                                }
                            } else {
                                parameters[param_name] = value;
                            }
                        });
                    }
                });

                // This will handle params with multiple values (i.e. for list filter forms)
                return $.param(parameters, true);
            },

            processResults: function (data) {
                var element = this.$element[0];
                $(element).children('option').attr('disabled', false);
                var results = data.results;

                results = results.reduce((results,record,idx) => {
                    record.text = record[element.getAttribute('display-field')] || record.name;
                    if (record._depth) {
                        // Annotate hierarchical depth for MPTT objects
                        record.text = '--'.repeat(record._depth) + ' ' + record.text;
                    }
                    record.id = record[element.getAttribute('value-field')] || record.id;
                    if(element.getAttribute('disabled-indicator') && record[element.getAttribute('disabled-indicator')]) {
                        // The disabled-indicator equated to true, so we disable this option
                        record.disabled = true;
                    }

                    if( record.group !== undefined && record.group !== null && record.site !== undefined && record.site !== null ) {
                        results[record.site.name + ":" + record.group.name] = results[record.site.name + ":" + record.group.name] || { text: record.site.name + " / " + record.group.name, children: [] };
                        results[record.site.name + ":" + record.group.name].children.push(record);
                    }
                    else if( record.group !== undefined && record.group !== null ) {
                        results[record.group.name] = results[record.group.name] || { text: record.group.name, children: [] };
                        results[record.group.name].children.push(record);
                    }
                    else if( record.site !== undefined && record.site !== null ) {
                        results[record.site.name] = results[record.site.name] || { text: record.site.name, children: [] };
                        results[record.site.name].children.push(record);
                    }
                    else if ( (record.group !== undefined || record.group == null) && (record.site !== undefined || record.site === null) ) {
                        results['global'] = results['global'] || { text: 'Global', children: [] };
                        results['global'].children.push(record);
                    }
                    else {
                        results[idx] = record
                    }

                    return results;
                },Object.create(null));

                results = Object.values(results);

                // Handle the null option, but only add it once
                if (element.getAttribute('data-null-option') && data.previous === null) {
                    results.unshift({
                        id: 'null',
                        text: element.getAttribute('data-null-option')
                    });
                }

                // Check if there are more results to page
                var page = data.next !== null;
                return {
                    results: results,
                    pagination: {
                        more: page
                    }
                };
            }
        }
    });

    }


    $(document).on("change", ".lookup_type-select, .lookup_field-select", function(){
        let parent_element = $(this).parents(".formset_row-form")

        let lookup_type = parent_element.find(".lookup_type-select")
        let lookup_type_value = lookup_type.val()

        let lookup_field = parent_element.find(".lookup_field-select")
        let lookup_field_value = lookup_field.val()
        let data_field_type = $('option:selected', lookup_field).attr("data-field-type")
        let data_field_data_url = $('option:selected', lookup_field).attr("data-field-data-url")
        let data_query_param_content_types = $('option:selected', lookup_field).attr("data-query-param-content_types")

        let value_element = parent_element.find(".value-input")
        let value_name = value_element.attr("name")

        if (lookup_type_value.length > 0 &&  lookup_field_value.length > 0){
            if (data_field_type == "text" || !lookup_type_value.endsWith("__n")){
                input_field = `<input type="text" name="${value_name}" class="value-input form-control" placeholder="Value" id="id_${value_name}">`
                value_element.parent().html(input_field)
            }
            else {
                select_field = `
                    <select
                        name="${value_name}"
                        class="value-input nautobot-select2-api select2-hidden-accessible"
                        data-url="${data_field_data_url}"
                        id="id_${value_name}"
                        data-select2-id="id_${value_name}"
                        tabindex="-1"
                        aria-hidden="true"
                `
                if (data_query_param_content_types){
                    select_field += ` data-query-param-content_types='${data_query_param_content_types}'`
                }
                select_field += `> </select>`
                value_element.parent().html(select_field)
                instantiateSelect2API()
            }
        }

    })
</script>
{% endblock %}
