{% if export_templates %}
    <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-upload" aria-hidden="true"></span>
            Export <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="?{% if url_params %}{{ url_params.urlencode }}&{% endif %}export">CSV (default)</a></li>
            <li class="divider"></li>
            {% for et in export_templates %}
                <li><a href="?{% if url_params %}{{ url_params.urlencode }}&{% endif %}export={{ et.name }}"{% if et.description %} title="{{ et.description }}"{% endif %}>{{ et.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <a href="?{% if url_params %}{{ url_params.urlencode }}&{% endif %}export" class="btn btn-success">
        <span class="fa fa-upload" aria-hidden="true"></span> Export
    </a>
{% endif %}