{% if custom_fields %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Custom Fields</strong>
        </div>
        <table class="table table-hover panel-body">
            {% for field, value in custom_fields.items %}
                <tr>
                    <td>{{ field }}</td>
                    <td>
                        {% if value == True %}
                            <i class="glyphicon glyphicon-ok text-success" title="True"></i>
                        {% elif value == False %}
                            <i class="glyphicon glyphicon-remove text-danger" title="False"></i>
                        {% elif field.type == 500 and value %}
                            {{ value|urlizetrunc:75 }}
                        {% elif value %}
                            {{ value }}
                        {% elif field.required %}
                            <span class="text-warning">Not defined</span>
                        {% else %}
                            <span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
