{% extends '_base.html' %}
{% load render_table from django_tables2 %}

{% block title %}Documentation{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Documentation</strong>
                </div>
                <div class="list-group">
                    <a href="{% url 'docs_root' %}" class="list-group-item{% if path == 'index' %} active{% endif %}">Home</a>
                    <a href="{% url 'docs' path='getting-started' %}" class="list-group-item{% if path == 'getting-started' %} active{% endif %}">Getting Started</a>
                    <a href="{% url 'docs' path='configuration' %}" class="list-group-item{% if path == 'configuration' %} active{% endif %}">Configuration</a>
                    <a href="{% url 'docs' path='dcim' %}" class="list-group-item{% if path == 'dcim' %} active{% endif %}">DCIM</a>
                    <a href="{% url 'docs' path='ipam' %}" class="list-group-item{% if path == 'ipam' %} active{% endif %}">IPAM</a>
                    <a href="{% url 'docs' path='circuits' %}" class="list-group-item{% if path == 'circuits' %} active{% endif %}">Circuits</a>
                    <a href="{% url 'docs' path='secrets' %}" class="list-group-item{% if path == 'secrets' %} active{% endif %}">Secrets</a>
                    <a href="{% url 'docs' path='extras' %}" class="list-group-item{% if path == 'extras' %} active{% endif %}">Extras</a>
                    <a href="{% url 'docs' path='ldap' %}" class="list-group-item{% if path == 'ldap' %} active{% endif %}">LDAP</a>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {{ content }}
        </div>
    </div>
{% endblock %}
