{% load helpers %}
<table class="table table-hover panel-body attr-table">
    {% if termination.device %}
        {# Device component #}
        <tr>
            <td>Device</td>
            <td>{{ termination.device|hyperlinked_object }}</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>
                {{ termination|meta:"verbose_name"|capfirst }}
            </td>
        </tr>
        <tr>
            <td>Component</td>
            <td>{{ termination|hyperlinked_object }}</td>
        </tr>
    {% elif termination.power_panel %}
        {# Power panel #}
        <tr>
            <td>Power Panel</td>
            <td>{{ termination.power_panel|hyperlinked_object }}</td>
        </tr>
        <tr>
            <td>Power Feed</td>
            <td>{{ termination|hyperlinked_object }}</td>
        </tr>
    {% else %}
        {# Circuit termination #}
        <tr>
            <td>Provider</td>
            <td>{{ termination.circuit.provider|hyperlinked_object }}</td>
        </tr>
        <tr>
            <td>Circuit</td>
            <td>
                {{ termination.circuit|hyperlinked_object }} ({{ termination }})
            </td>
        </tr>
    {% endif %}
</table>
