{% if label.strip%}
    <div class="panel-heading">
        {% if label %}
            <strong>{{ label }}</strong>
        {% endif %}
    </div>
{% endif %}

<div style="margin-left: -30px">
    <object data="{% url 'dcim-api:rack-elevation' pk=object.rack.pk %}?face={{face}}&render=svg" class="rack_elevation"></object>
</div>
<a href="{% url 'dcim-api:rack-elevation' pk=object.rack.pk %}?face={{face}}&render=svg" class="rack_elevation_save_svg_link" download="rack_{{ face }}_{{ object.rack }}.svg">
    <i class="mdi mdi-content-save-outline"></i> Save SVG
</a>