{% if link %}
    <a
        href="{{ link }}"
        class="btn btn-{{ color }}{% if size %} btn-{{ size }}{% endif %}"
        {% for key, value in attributes.items %}{{ key }}="{{ value }}"{% if not forloop.last %} {% endif %}{% endfor %}
    >
        {% if icon %}
            <span class="mdi {{ icon }}" aria-hidden="true"></span>
        {% endif %}
        {{ label }}
    </a>
{% else %}
    <button
        type="button"
        class="btn btn-{{ color }}{% if size %} btn-{{ size }}{% endif %}"
        {% for key, value in attributes.items %}{{ key }}="{{ value }}"{% if not forloop.last %} {% endif %}{% endfor %}
    >
        {% if icon %}
            <span class="mdi {{ icon }}" aria-hidden="true"></span>
        {% endif %}
        {{ label }}
    </button>
{% endif %}
