<span class="input-group-btn">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#" target="{{ target_field }}" data="1000" class="set_speed">1 Mbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="10000" class="set_speed">10 Mbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="100000" class="set_speed">100 Mbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="1000000" class="set_speed">1 Gbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="2500000" class="set_speed">2.5 Gbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="5000000" class="set_speed">5 Gbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="10000000" class="set_speed">10 Gbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="25000000" class="set_speed">25 Gbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="40000000" class="set_speed">40 Gbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="50000000" class="set_speed">50 Gbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="100000000" class="set_speed">100 Gbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="200000000" class="set_speed">200 Gbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="400000000" class="set_speed">400 Gbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="800000000" class="set_speed">800 Gbps</a></li>
        <li><a href="#" target="{{ target_field }}" data="1600000000" class="set_speed">1.6 Tbps</a></li>
    </ul>
</span>
