{% extends 'generic/object_create.html' %}
{% load form_helpers %}
{% load helpers %}

{% block form %}
    <div class="card">
        <div class="card-header"><strong>{{ obj_type|capfirst }}</strong></div>
        <div class="card-body">
            {% render_form form excluded_fields=main_card_excluded_fields %}
        </div>
    </div>
    <div class="card">
        <div class="card-header"><strong>Conditions</strong></div>
        <div class="card-body">
            {% include 'extras/inc/conditions_editor.html' %}
        </div>
    </div>
    {% include 'inc/extras_features_edit_form_fields.html' %}
{% endblock form %}
