{% extends 'generic/object_retrieve.html' %}
{% load helpers %}

{% block content_left_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Webhook</strong>
            </div>

            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Object Type</td>
                    <td><span>{{ object.content_type }}</span></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td><span>{{ object.name }}</span></td>
                </tr>
                <tr>
                    <td>Group Name</td>
                    <td><span>{{ object.group_name }}</span></td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td><span>{{ object.weight }}</span></td>
                </tr>
                <tr>
                    <td>Target URL</td>
                    <td><pre>{{ object.target_url }}</pre></td>
                </tr>
                <tr>
                    <td>Button Class</td>
                    <td><button class="btn btn-{{ object.button_class }}">{{ object.button_class }}</button></td>
                </tr>
                <tr>
                    <td>New Window</td>
                    <td>
                        {{ object.new_window | render_boolean }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Text</strong>
            </div>
                {% if object.text %} <pre>{{ object.text }}</pre> {% else %} {{ None }} {% endif %}
        </div>
{% endblock content_left_page %}
