{% extends 'generic/object_detail.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}

{% block content %}
    <div class="row">
	<div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Details</strong>
            </div>

            <table class="table table-hover panel-body attr-table">
                <tr>
                    <tr>
                        <td>Name</td>
                        <td><span>{{ object.name }}</span></td>
                    </tr>
                </tr>
                <tr>
                    <tr>
                        <td>Owner</td>
                        <td><span>{{ object.owner }}</span></td>
                    </tr>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
            </table>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Template</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Object Type</td>
                    <td><span>{{ object.content_type }}</span></td>
                </tr>
                <tr>
                    <td>Mime Type</td>
                    <td><span>{{ object.mime_type }}</span></td>
                </tr>
                <tr>
                    <td>File Extension</td>
                    <td><span>{{ object.file_extension }}</span></td>
                </tr>
            </table>
        </div>
    </div>
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Code Template</strong>
                </div>
                    {% if object.template_code %} <pre>{{ object.template_code }}</pre> {% else %} {{ None }} {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
