{% extends "generic/object_list.html" %}
{% load helpers %}
{% load buttons %}
{% load perms %}

{% block table %}
    {% with bulk_edit_url=None bulk_delete_url=content_type.model_class|validated_viewname:"bulk_delete" %}
        <div class="col-md-12">
            {% if permissions.delete %}
            <form id="object_list_form" method="post" class="form form-horizontal">
                {% csrf_token %}
                <input type="hidden" name="return_url" value="{{ request.path }}" />

                {% include table_template|default:'panel_table.html' %}

                <div class="pull-left noprint">
                    {% consolidate_bulk_action_buttons %}
                </div>
            </form>
            {% else %}
                {% include table_template|default:'panel_table.html' %}
            {% endif %}

            {% include 'inc/paginator.html' with paginator=table.paginator page=table.page %}
            <div class="clearfix"></div>
        </div>
    {% endwith %}
{% endblock %}
