{% extends 'base.html' %}
{% load form_helpers %}
{% load helpers %}

{% block title %}{{ job_model }}{% endblock %}

{% block content %}
<div class="h-100 vstack">
    <div class="d-print-none">
        <ol class="breadcrumb mb-16">
            <li class="breadcrumb-item"><a href="{% url 'extras:job_list' %}">Jobs</a></li>
            <li class="breadcrumb-item">{{ job_model.grouping | bettertitle }}</li>
            <li class="breadcrumb-item active" aria-current="page">{{ job_model|hyperlinked_object }}</li>
            <li class="breadcrumb-item">Submission and Scheduling</li>
        </ol>
    </div>
    <div>
        <h1 class="mb-16">{{ job_model }}</h1>
        {% if job_model.read_only %}
            <span class="badge bg-body-secondary border">Read-only</span>
        {% endif %}
            <p>{{ job_model.description | render_markdown }}</p>
        </div>
        <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="nav-item">
            <a href="#run" role="tab" data-bs-toggle="tab" class="nav-link active">Run</a>
        </li>
    </ul>
    <div class="tab-content flex-fill">
        <div role="tabpanel" class="tab-pane fade show active h-100 pt-16" id="run">
            <form action="" method="post" enctype="multipart/form-data" class="h-100 vstack">
                {% csrf_token %}
                <div class="row align-content-start flex-fill">
                    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                        {% if not perms.extras.run_job %}
                            <div class="alert alert-warning">
                                <span aria-hidden="true" class="mdi mdi-alert"></span>
                                You do not have permission to run jobs.
                            </div>
                        {% endif %}
                        {% if job_model.has_sensitive_variables and job_model.approval_required %}
                            <div class="alert alert-danger">
                                <span aria-hidden="true" class="mdi mdi-alert"></span>
                                This job is flagged as possibly having sensitive variables but is also flagged as requiring approval.
                                One of these two flags must be removed before this job can be run.
                            </div>
                        {% endif %}
                        {% if not job_model.installed or job_model.job_class is None %}
                            <div class="alert alert-warning">
                                <span aria-hidden="true" class="mdi mdi-alert"></span> This job is not presently installed and cannot be run.
                            </div>
                        {% elif not job_model.enabled %}
                            <div class="alert alert-warning">
                                <span aria-hidden="true" class="mdi mdi-alert"></span> This job is not enabled to be run.
                            </div>
                        {% endif %}
                        {% if job_form.non_field_errors or schedule_form.non_field_errors %}
                            <div class="card border-danger mb-16">
                                <div class="card-header bg-danger-subtle border-danger text-body">
                                    <strong>Errors</strong>
                                </div>
                                <div class="card-body">
                                    {{ job_form.non_field_errors }}
                                    {{ schedule_form.non_field_errors }}
                                </div>
                            </div>
                        {% endif %}
                        <div class="card mb-16">
                            <div class="card-header">
                                <strong>Job Data</strong>
                            </div>
                            <div class="card-body">
                                {% block job_form %}
                                    {% render_form job_form excluded_fields="[]" %}
                                {% endblock %}
                            </div>
                            {% if job_model.has_sensitive_variables %}
                                <div class="card-footer">
                                    <span class="help-block">
                                        <span aria-hidden="true" class="mdi mdi-information-outline"></span>
                                        This job may have sensitive variables and can only be executed immediately. This can be changed in the Job edit view to set `has_sensitive_variables` to `False` if appropriate.
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card job_execution mb-16">
                            <div class="card-header">
                                <strong>Job Execution</strong>
                            </div>
                            <div class="card-body">
                                {% block schedule_form %}
                                    {% render_form schedule_form %}
                                {% endblock %}
                            </div>
                            {% if job_model.approval_required %}
                                <div class="card-footer">
                                    <span class="help-block">
                                        <span aria-hidden="true" class="mdi mdi-information-outline"></span>
                                        This job requires approval to run or schedule.
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="nb-form-sticky-footer">
                    <button
                        class="btn btn-primary"
                        id="id__run"
                        name="_run"
                        type="submit"
                        {% if not perms.extras.run_job or not job_model.runnable %}disabled="disabled"{% endif %}
                    >
                        <span aria-hidden="true" class="mdi mdi-play"></span><!--
                        -->Run Job Now
                    </button>
                    <a href="{% url 'extras:job_list' %}" class="btn btn-secondary">
                        <span aria-hidden="true" class="mdi mdi-close me-4"></span><!--
                        -->Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{{ block.super }}
<script type="text/javascript">
    var requires_approval = {{ job_model.approval_required|yesno:"true,false" }};
    var run_now_text;
    var schedule_text;
    var dry_run_text = "Run Job Now (DRYRUN)";
    var schedule_dry_run_text = "Schedule Job (DRYRUN)";

    if (requires_approval) {
        run_now_text = "Request to Run Job Now";
        schedule_text = "Request to Schedule Job";
    } else {
        run_now_text = "Run Job Now";
        schedule_text = "Schedule Job";
    }

    function toggleExecutionType() {
        /**
         * Toggle form elements based on the job execution type.
         * If the type is `immediately` (the default), don't show
         * any of the scheduling related elements, else, show them.
         * If dryrun is selected, the job may run without approval.
         **/
        var dryrun = false;
        if ($("#id_dryrun").prop("type") === "checkbox") {
            dryrun = $("#id_dryrun").prop("checked")
        } else if ($("#id_dryrun").prop("type") === "hidden") {
            dryrun = ($("#id_dryrun").val() === "True")
        }
        if ($("#id__schedule_type").val() == "immediately") {
            // Toggle run button
            if (dryrun){
                $("#id__run").html('<i class="mdi mdi-play"></i> ' + dry_run_text);
            } else {
                $("#id__run").html('<i class="mdi mdi-play"></i> ' + run_now_text);
            }
            $("#id__run").addClass("btn-primary");
            $("#id__run").removeClass("btn-warning");

            // Toggle schedule fields
            $("#id__schedule_name").parent().parent().hide();
            $("#id__schedule_start_date").parent().parent().hide();
            $("#id__schedule_start_time").parent().parent().hide();
        } else {
            // Toggle run button
            if (dryrun){
                $("#id__run").html('<i class="mdi mdi-clock"></i> ' + schedule_dry_run_text);
            } else {
                $("#id__run").html('<i class="mdi mdi-clock"></i> ' + schedule_text);
            }
            $("#id__run").addClass("btn-warning");
            $("#id__run").removeClass("btn-primary");

            // Toggle schedule fields
            $("#id__schedule_name").parent().parent().show();
            $("#id__schedule_start_date").parent().parent().show();
            $("#id__schedule_start_time").parent().parent().show();
        }
        // Toggle custom crontab field
        if ($("#id__schedule_type").val() != "custom") {
            $("#id__recurrence_custom_time").parent().parent().hide();
        } else {
            $("#id__recurrence_custom_time").parent().parent().show();
        }
    }

    $(document).ready(function() {
        {% if not job_model.has_sensitive_variables %}
            $("#id__schedule_type").change(toggleExecutionType);
        {% else %}
            $("#id__schedule_type").val("immediately");
            $(".job_execution").hide();
        {% endif %}
        $("#id_dryrun").change(toggleExecutionType);
        toggleExecutionType();
    });
</script>
{{ job_form.media }}
{% endblock %}
