{% extends 'base.html' %}
{% load helpers %}

{% block title %}{{ scheduled_job }} - Confirm Approval{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="card panel-danger">
                <div class="card-header"><strong>Confirm Approval</strong></div>
                <div class="card-body">
                    <p><strong>Warning:</strong> You are approving a job that is past its scheduled date ({{ scheduled_job.start_time }}). It will run immediately after approval.</p>
                    {% block message_extra %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="text-center">
                    <button type="submit" name="_force_approve" class="btn btn-danger">Confirm</button>
                    <a href="{{ return_url }}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
