{% extends 'base.html' %}
{% load helpers %}

{% block javascript %}
    <script>
        $("button.button-toggle").click(function() {
            $(this).children("i").toggleClass("mdi-chevron-right mdi-chevron-down");
        });
    </script>
    <script>
	$(".accordion-toggle").click(function() {
	    $(this).toggleClass("mdi-chevron-down mdi-chevron-right");
        });
    </script>
{% endblock %}

{% block content %}
    <h1>{% block title %}Jobs{% endblock %}</h1>
    <div class="row">
        <div class="col-md-12">
            {% if jobs %}
	        <div class="panel-group" id="accordion">
		    <div class="row panel">
                        <div class="col-md-2">Module / Job</div>
                        <div class="col-md-4">Description</div>
                        <div class="col-md-2 text-right">Last Run</div>
                        <div class="col-md-2">&nbsp;</div>
                        <div class="col-md-1">Last Status</div>
                        <div class="col-md-1">Last Results</div>
                    </div>
                    {% for module, module_jobs in jobs %}
                        <div class="row panel panel-default">
			    <div class="panel-heading">
				<h3 class="panel-title">
				    <a class="accordion-toggle mdi mdi-chevron-down" type="button" data-toggle="collapse" href=".collapse-{{ module|slugify }}" name="module.{{ module }}">
					{{ module|bettertitle }}
				    </a>
				</h3>
			    </div>
			</div>
                        {% for job in module_jobs %}
                            {% if not job.hidden %}
                            <div class="row collapse-{{ module|slugify }} collapse in">
                                <div class="col-md-2">
                                    <a href="{% url 'extras:job' class_path=job.class_path %}"
                                       id="{{ job.class_path }}">
                                        <strong>{{ job }}</strong>
                                    </a>
                                    {% if job.read_only %}
                                        <label class="label label-default">Read-only</label>
                                    {% endif %}
                                </div>
				<div class="col-md-4">
				    {{ job.description_first_line | render_markdown | placeholder }}
				</div>
                                <div class="col-md-2 text-right text-nowrap">
                                    {% if job.result %}
                                        <a href="{% url 'extras:job_jobresult' pk=job.result.pk %}">
                                            {{ job.result.created }} by {{ job.result.user }}
                                        </a>
                                    {% else %}
                                        <span class="text-muted">Never</span>
                                    {% endif %}
                                </div>
				<div class="col-md-2">
                                    {% if job.result %}
                                        <a class="btn btn-xs btn-default"
                                           href="{% url 'extras:jobresult_list' %}?name={{ job.class_path|urlencode }}"
                                           title="See job history">
                                            <i class="mdi mdi-history"></i>
                                        </a>
                                    {% endif %}
                                </div>
                                <div class="col-md-1">
                                    {% include 'extras/inc/job_label.html' with result=job.result %}
				</div>
                                <div class="col-md-1 text-nowrap report-stats">
                                    {% if job.result %}
                                        <label class="label label-success">{{ job.result.data.total.success }}</label>
                                        <label class="label label-info">{{ job.result.data.total.info }}</label>
                                        <label class="label label-warning">{{ job.result.data.total.warning }}</label>
                                        <label class="label label-danger">{{ job.result.data.total.failure }}</label>
                                        {% comment %}
                                            Every job.result.data has keys 'output', 'total', those don't count.
                                            Only show the "more" button if there's more than one result grouping;
                                            i.e. 'output' + 'total' + 'grouping1' + 'grouping2' (+ ...)
                                        {% endcomment %}
                                        {% if job.result.data and job.result.data|length > 3 %}
                                            <button class="btn btn-xs btn-default button-toggle" type="button"
                                                    data-toggle="collapse"
                                                    data-target=".{{ job.class_path_js_escaped }}"
                                                    aria-controls="{{ job.class_path }}"
                                                    title="Show / hide detailed results">
                                                Details <i class="mdi mdi-chevron-right"></i>
                                            </button>
                                        {% endif %}
                                    {% else %}
                                        —
                                    {% endif %}
                                </div>
                            </div>
                            {% for method, stats in job.result.data.items %}
                                {% if method != "total" and method != "output" %}
                                    <div class="row {{ job.class_path }} collapse">
                                        <div class="col-md-8 method">
                                            <a href="{% url 'extras:job_jobresult' pk=job.result.pk %}#{{method}}">
                                                {{ method }}
                                            </a>
                                        </div>
                                        <div class="col-md-4 text-nowrap report-stats">
                                            <label class="label label-success">{{ stats.success }}</label>
                                            <label class="label label-info">{{ stats.info }}</label>
                                            <label class="label label-warning">{{ stats.warning }}</label>
                                            <label class="label label-danger">{{ stats.failure }}</label>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </table>
            {% else %}
                <div class="alert alert-info">
                    <p><strong>No jobs found.</strong></p>
                    <p>Jobs should be saved to <code>{{ settings.JOBS_ROOT }}</code>. (This path can be changed by setting <code>JOBS_ROOT</code> in {{ settings.BRANDING_TITLE }}'s configuration.)</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
