{% extends "generic/object_edit.html" %}
{% load form_helpers %}
{% load helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Job</strong></div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Source</label>
                <div class="col-md-9" style="padding-top: 7px">{{ obj.source | split:"." | first | bettertitle }}</div>
            </div>
            {% if "git." in obj.source %}
                <div class="form-group">
                    <label class="col-md-3 control-label">Repository</label>
                    <div class="col-md-9" style="padding-top: 7px">
                        {% if obj.git_repository is not None %}
                            <td>{{ obj.git_repository }}</td>
                        {% else %}
                            <td><code>{{ obj.source | split:"." | last }}</code></td>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="form-group">
                <label class="col-md-3 control-label">Module</label>
                <div class="col-md-9" style="padding-top: 7px"><code>{{ obj.module_name }}</code></div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Job Class</label>
                <div class="col-md-9" style="padding-top: 7px"><code>{{ obj.job_class_name }}</code></div>
            </div>
            {% render_field form.slug %}
            <div class="form-group">
                <div class="col-md-9 col-md-offset-3">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" disabled="true" {% if obj.installed %}checked="checked"{% endif %}>
                            Installed
                        </label>
                    </div>
                </div>
            </div>
            {% render_field form.enabled %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Job Properties</strong></div>
        <div class="panel-body">
            {% render_field form.approval_required %}
            {% render_field form.approval_required_override %}
            {% render_field form.commit_default %}
            {% render_field form.commit_default_override %}
            {% render_field form.hidden %}
            {% render_field form.hidden_override %}
            {% render_field form.soft_time_limit %}
            {% render_field form.soft_time_limit_override %}
            {% render_field form.time_limit %}
            {% render_field form.time_limit_override %}
        </div>
    </div>
    {% include 'inc/extras_features_edit_form_fields.html' %}
{% endblock form %}
