{% extends base_template %}

{% block extra_styles %}
    <style>
        #main-content {
            overflow-y: hidden;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="card h-100 mb-0">
        <div class="card-header">
            <div class="float-start">
                <strong>Console Log</strong>
                {% if is_running %}
                    <small class="align-middle text-secondary" id="job-status-message">(updating every 2 seconds...)</small>
                {% endif %}
            </div>
            <div class="float-end">
                <span id="job-status">{% include 'extras/inc/job_label.html' with result=object %}</span>
            </div>
        </div>

        {% spaceless %}
        <pre class="h-100 mb-0 overflow-y-auto" id="console-output">
            <code class="hljs bg-body h-100">
                {% include "extras/inc/jobresult_console_log_lines.html" %}
            </code>
        </pre>
        {% endspaceless %}

        {% if is_running %}
            <div
                class="d-none"
                id="htmx-poller"
                hx-get="{% url 'extras:jobresult_job_console_entries' pk=object.pk %}"
                hx-trigger="every 2s"
                hx-swap="beforeend"
                hx-target="#console-output code"
                hx-vals="js:{last_timestamp: window.nb.jobResult.getLastTimestamp()}"
            ></div>
        {% endif %}
    </div>

    <script>
        (() => {
            const getContentContainer = () => document.querySelector('#console-output code');

            const getLastTimestamp = () => {
                const lastLine = document.querySelector('.console-line[data-timestamp]:last-of-type');
                return lastLine?.getAttribute('data-timestamp') ?? '{{ last_timestamp }}';
            }

            window.nb = window.nb || {};
            window.nb.jobResult = { getLastTimestamp };

            const scrollToBottom = () => {
                const contentContainer = getContentContainer();
                if (contentContainer) {
                    contentContainer.scrollTop = contentContainer.scrollHeight;
                }
            }

            // Initial scroll to bottom on page load
            document.addEventListener('DOMContentLoaded', scrollToBottom);

            // Scroll to bottom after HTMX updates
            document.body.addEventListener('htmx:afterSwap', (event) => {
                const contentContainer = getContentContainer();
                if (event.target === contentContainer) {
                    scrollToBottom();
                }
            });
        })();
    </script>
{% endblock %}
