{% extends 'generic/object_create.html' %}
{% load static %}
{% load form_helpers %}
{% load helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Contact/Team</strong></div>
        <div class="panel-body">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#new_contact" aria-controls="contact" role="tab" data-toggle="tab">Add New Contact</a></li>
                <li role="presentation"><a href="#new_team" aria-controls="team" role="tab" data-toggle="tab">Add New Team</a></li>
                <li role="presentation"><a href="#existing" aria-controls="existing" role="tab" data-toggle="tab">Add Existing Contact/Team</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="new_contact">
                    {% render_field form.name %}
                    {% render_field form.phone %}
                    {% render_field form.email %}
                    {% render_field form.address %}
                    {% render_field form.teams %}
                    {% render_field form.contact_role %}
                    {% render_field form.comments %}
                    <!-- Contact Association -->
                    {% render_field form.associated_object_type %}
                    {% render_field form.associated_object_id %}
                    {% render_field form.contact_association_role %}
                    {% render_field form.contact_association_status %}
                </div>
                <div class="tab-pane" id="new_team">
                    {% render_field form.name %}
                    {% render_field form.phone %}
                    {% render_field form.email %}
                    {% render_field form.address %}
                    {% render_field form.contacts %}
                    {% render_field form.team_role %}
                    {% render_field form.comments %}
                    <!-- Contact Association -->
                    {% render_field form.associated_object_type %}
                    {% render_field form.associated_object_id %}
                    {% render_field form.team_association_role %}
                    {% render_field form.team_association_status %}
                </div>
                <div class="tab-pane" id="existing">
                    {% render_field form.contact %}
                    {% render_field form.team %}
                    {% render_field form.associated_object_type %}
                    {% render_field form.associated_object_id %}
                    {% render_field form.role %}
                    {% render_field form.status %}
                </div>
            </div>
        </div>
    </div>
    {% include 'inc/extras_features_edit_form_fields.html' %}
{% endblock %}
