{% extends 'generic/object_create.html' %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript">
        /*
         * Deliberately use `var` instead of `const` or `let` here to prevent JavaScript engine from throwing an
         * exception when the constant is defined multiple times, which can be the case for embedded action modal.
         */
        var slugify_prefer_underscores = true; // Relationships work better in GraphQL (etc.) with underscore-based slugs
    </script>
{% endblock javascript %}
