{% extends "generic/object_detail.html" %}
{% load helpers %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Secrets Group</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Description</td>
                <td>{{ object.description | placeholder }}</td>
            </tr>
            <tr>
                <td>Secrets</td>
                <td>
                    <ul>
                        {% for secret in object.secrets.all %}
                            <li><a href="{{ secret.get_absolute_url }}">{{ secret }}</a></li>
                        {% empty %}
                            <li><span class="text-muted">None</span></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </div>
{% endblock content_left_page %}
