{% extends 'generic/object_retrieve.html' %}
{% load helpers %}

{% block content_left_page %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Tag</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Name</td>
                        <td>
                            {{ object.name }}
                        </td>
                    </tr>
                    <tr>
                        <td>Tagged Items</td>
                        <td>
                            {{ items_count }}
                        </td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>
                            <span class="label color-block" style="background-color: #{{ object.color }}">&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Content Type(s)</td>
                        <td>
                            <ul class="list-unstyled">
                                {% for ct in content_types %}
                                    <li>{{ ct }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>
                            {{ object.description|placeholder }}
                        </td>
                    </tr>
                </table>
            </div>
{% endblock content_left_page %}

{% block content_right_page %}
            {% include 'panel_table.html' with table=items_table heading='Tagged Objects' %}
            {% include 'inc/paginator.html' with paginator=items_table.paginator page=items_table.page %}
            <div class="row"></div>
{% endblock content_right_page %}
