{% extends 'extras/job.html' %}
{% load helpers %}
{% load form_helpers %}

{% block job_form_wrapper %}
    <div class="card">
        <div class="card-header">
            <strong>Job Data</strong>
        </div>
        <div class="card-body">
            {% render_field job_form.content_type %}
            {% render_field job_form.import_format %}
            {% render_field job_form.roll_back_if_error %}
            {% render_field job_form.match_fields %}
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#csv-file" role="tab" data-bs-toggle="tab">File Upload</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#csv-text" role="tab" data-bs-toggle="tab">Text Input</a></li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active py-16" id="csv-file">
                    {% render_field job_form.csv_file %}
                </div>
                <div role="tabpanel" class="tab-pane fade py-16" id="csv-text">
                    {% render_field job_form.csv_data %}
                </div>
            </div>
            {% include "system_jobs/inc/csv_fields_table.html" with verbose=True %}
        </div>
    </div>
{% endblock job_form_wrapper %}

{% block javascript %}
    {{ block.super }}
    {% include "system_jobs/inc/csv_fields_table_script.html" %}
{% endblock javascript %}
