{% extends 'utilities/bulk_edit_form.html' %}
{% load form_helpers %}

{% block title %}Circuit Bulk Edit{% endblock %}

{% block selected_objects_table %}
    <tr>
        <th>Circuit</th>
        <th>Type</th>
        <th>Provider</th>
        <th>Port speed</th>
        <th>Commit rate</th>
    </tr>
    {% for circuit in selected_objects %}
        <tr>
            <td><a href="{% url 'circuits:circuit' pk=circuit.pk %}">{{ circuit }}</a></td>
            <td>{{ circuit.type }}</td>
            <td>{{ circuit.provider }}</td>
            <td>{{ circuit.port_speed_human }}</td>
            <td>{{ circuit.commit_rate_human }}</td>
        </tr>
    {% endfor %}
{% endblock %}
