{% extends '_base.html' %}
{% load helpers %}

{% block title %}Circuits{% endblock %}

{% block content %}
<div class="pull-right">
    {% if perms.circuits.add_circuit %}
		<a href="{% url 'circuits:circuit_add' %}" class="btn btn-primary">
			<span class="fa fa-plus" aria-hidden="true"></span>
			Add a circuit
		</a>
    {% endif %}
    {% include 'inc/export_button.html' with obj_type='circuits' %}
</div>
<h1>Circuits</h1>
<div class="row">
	<div class="col-md-9">
        {% include 'utilities/obj_table.html' with bulk_edit_url='circuits:circuit_bulk_edit' bulk_delete_url='circuits:circuit_bulk_delete' %}
    </div>
    <div class="col-md-3">
		{% include 'inc/search_panel.html' %}
		{% include 'inc/filter_panel.html' %}
    </div>
</div>
{% endblock %}
