{% extends '_base.html' %}
{% load buttons %}

{% block content %}
<div class="pull-right">
    {% if perms.circuits.add_circuittype %}
        {% add_button 'circuits:circuittype_add' %}
        {% import_button 'circuits:circuittype_import' %}
    {% endif %}
    {% export_button content_type %}
</div>
<h1>{% block title %}Circuit Types{% endblock %}</h1>
<div class="row">
	<div class="col-md-12">
        {% include 'utilities/obj_table.html' with bulk_delete_url='circuits:circuittype_bulk_delete' %}
    </div>
</div>
{% endblock %}
