{% extends '_base.html' %}
{% load helpers %}

{% block content %}
<div class="pull-right">
    {% if perms.circuits.add_circuittype %}
        <a href="{% url 'circuits:circuittype_add' %}" class="btn btn-primary">
            <span class="fa fa-plus" aria-hidden="true"></span>
            Add a circuit type
        </a>
        <a href="{% url 'circuits:circuittype_import' %}" class="btn btn-info">
            <span class="fa fa-download" aria-hidden="true"></span>
            Import circuit types
        </a>
    {% endif %}
</div>
<h1>{% block title %}Circuit Types{% endblock %}</h1>
<div class="row">
	<div class="col-md-12">
        {% include 'utilities/obj_table.html' with bulk_delete_url='circuits:circuittype_bulk_delete' %}
    </div>
</div>
{% endblock %}
