{% extends 'utilities/bulk_edit_form.html' %}
{% load form_helpers %}

{% block title %}Provider Bulk Edit{% endblock %}

{% block selected_objects_table %}
    <tr>
        <th>Provider</th>
        <th>Account</th>
        <th>ASN</th>
    </tr>
    {% for provider in selected_objects %}
        <tr>
            <td><a href="{% url 'circuits:provider' slug=provider.slug %}">{{ provider }}</a></td>
            <td>{{ provider.account }}</td>
            <td>{{ provider.asn }}</td>
        </tr>
    {% endfor %}
{% endblock %}
