{% extends 'utilities/obj_import.html' %}

{% block title %}Provider Import{% endblock %}

{% block instructions %}
    <h4>CSV Format</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
                <th>Example</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>Provider's proper name</td>
                <td>Level 3</td>
            </tr>
            <tr>
                <td>Slug</td>
                <td>URL-friendly name</td>
                <td>level3</td>
            </tr>
            <tr>
                <td>ASN</td>
                <td>Autonomous system number (optional)</td>
                <td>3356</td>
            </tr>
            <tr>
                <td>Account</td>
                <td>Account number (optional)</td>
                <td>08931544</td>
            </tr>
            <tr>
                <td>Portal URL</td>
                <td>Customer service portal URL (optional)</td>
                <td>https://mylevel3.net</td>
            </tr>
        </tbody>
    </table>
    <h4>Example</h4>
    <pre>Level 3,level3,3356,08931544,https://mylevel3.net</pre>
{% endblock %}
