{% extends '_base.html' %}
{% load static from staticfiles %}
{% load helpers %}

{% block title %}{{ provider }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <ol class="breadcrumb">
            <li><a href="{% url 'circuits:provider_list' %}">Providers</a></li>
            <li>{{ provider }}</li>
        </ol>
    </div>
    <div class="col-md-3">
        <form action="{% url 'circuits:provider_list' %}" method="get">
            <div class="input-group">
                <input type="text" name="q" class="form-control" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <span class="fa fa-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="pull-right">
    {% if show_graphs %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#graphs_modal" data-obj="{{ provider.name }}" data-url="{% url 'circuits-api:provider_graphs' pk=provider.pk %}" title="Show graphs">
            <i class="fa fa-signal" aria-hidden="true"></i>
            Graphs
        </button>
    {% endif %}
    {% if perms.circuits.change_provider %}
		<a href="{% url 'circuits:provider_edit' slug=provider.slug %}" class="btn btn-warning">
			<span class="fa fa-pencil" aria-hidden="true"></span>
			Edit this provider
		</a>
    {% endif %}
    {% if perms.circuits.delete_provider %}
		<a href="{% url 'circuits:provider_delete' slug=provider.slug %}" class="btn btn-danger">
			<span class="fa fa-trash" aria-hidden="true"></span>
			Delete this provider
		</a>
    {% endif %}
</div>
<h1>{{ provider }}</h1>
<div class="row">
	<div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Provider</strong>
            </div>
            <table class="table table-hover panel-body">
                <tr>
                    <td>ASN</td>
                    <td>
                        {% if provider.asn %}
                            {{ provider.asn }}
                        {% else %}
                            <span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Account</td>
                    <td>
                        {% if provider.account %}
                            {{ provider.account }}
                        {% else %}
                            <span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Customer Portal</td>
                    <td>
                        {% if provider.portal_url %}
                            <a href="{{ provider.portal_url }}">{{ provider.portal_url }}</a>
                        {% else %}
                            <span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>NOC Contact</td>
                    <td>
                        {% if provider.noc_contact %}
                            {{ provider.noc_contact|linebreaksbr }}
                        {% else %}
                            <span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Admin Contact</td>
                    <td>
                        {% if provider.admin_contact %}
                            {{ provider.admin_contact|linebreaksbr }}
                        {% else %}
                            <span class="text-muted">N/A</span>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {% with provider.custom_fields as custom_fields %}
            {% include 'inc/custom_fields_panel.html' %}
        {% endwith %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Comments</strong>
            </div>
            <div class="panel-body">
                {% if provider.comments %}
                    {{ provider.comments|gfm }}
                {% else %}
                    <span class="text-muted">None</span>
                {% endif %}
            </div>
        </div>
        {% include 'inc/created_updated.html' with obj=provider %}
	</div>
	<div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Circuits</strong>
            </div>
            <table class="table table-hover panel-body">
                {% for c in circuits %}
                    <tr>
                        <td>
                            <a href="{% url 'circuits:circuit' pk=c.pk %}">{{ c.cid }}</a>
                        </td>
                        <td>
                            <a href="{% url 'dcim:site' slug=c.site.slug %}">{{ c.site }}</a>
                        </td>
                        <td>
                            {% if c.interface %}
                                <a href="{% url 'dcim:device' pk=c.interface.device.pk %}">{{ c.interface.device }}</a>
                            {% endif %}
                        </td>
                        <td>{{ c.port_speed_human }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td class="text-muted">None</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% include 'inc/graphs_modal.html' %}
{% endblock %}

{% block javascript %}
<script src="{% static 'js/graphs.js' %}"></script>
{% endblock %}
