<tr>
    <td class="position-relative" colspan="2">
        <button
            aria-expanded="false"
            class="btn float-none fs-4 fw-medium stretched-link nb-collapse-toggle"
            data-bs-toggle="collapse"
            data-bs-target=".collapseme-{{ body_id }}-{{ counter }}"
            name="grouping.{{ grouping }}"
            type="button"
        >
            <span class="mdi mdi-chevron-down me-4"></span><!--
            -->{{ grouping }}
        </button>
    </td>
</tr>
