<div class="card mb-16">
    {% if label.strip or header_extra_content.strip %}
        <div class="card-header">
            {% if label %}
                <strong>{{ label }}</strong>
            {% endif %}
            <a class="btn stretched-link nb-collapse-toggle" data-bs-toggle="collapse" panel-id="{{body_id}}" href="#{{body_id}}" role="button" aria-expanded="true" aria-controls="{{body_id}}">
                <span class="mdi mdi-chevron-down"></span>
            </a>
            {{ header_extra_content }}
        </div>
    {% endif %}
    {{ body }}
    {% if footer_content.strip %}
        <div class="card-footer">
            {{ footer_content }}
        </div>
    {% endif %}
</div>

{% if body_content_table.paginator %}
    {% include 'inc/paginator.html' with paginator=body_content_table.paginator page=body_content_table.page %}
{% endif %}
