{% extends 'base.html' %}
{% load static %}
{% load helpers %}
{% load form_helpers %}

{% block content %}
<form method="post" class="form form-horizontal">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    {% if form.non_field_errors %}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-danger">
                    <div class="panel-heading"><strong>Errors</strong></div>
                    <div class="panel-body">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% with termination_a=form.instance.termination_a %}
        <h3>{% block title %}Connect {{ termination_a.device }} {{ termination_a }} to {{ termination_b_type|bettertitle }}{% endblock %}</h3>
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <strong>A Side</strong>
                    </div>
                    <div class="panel-body">
                        {% render_field form.termination_a_region %}
                        {% render_field form.termination_a_site %}
                      {% if 'termination_a_rack' in form.fields %}
                          {% render_field form.termination_a_rack %}
                      {% endif %}
                      {% if 'termination_a_device' in form.fields %}
                          {% render_field form.termination_a_device %}
                      {% endif %}
                      {% if 'termination_a_powerpanel' in form.fields %}
                          {% render_field form.termination_a_powerpanel %}
                      {% endif %}
                      {% if 'termination_a_provider' in form.fields %}
                          {% render_field form.termination_a_provider %}
                      {% endif %}
                      {% if 'termination_a_circuit' in form.fields %}
                          {% render_field form.termination_a_circuit %}
                      {% endif %}
                      {% render_field form.a_terminations %}
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-center" style="padding-top: 90px;">
                <i class="mdi mdi-swap-horizontal-bold mdi-48px"></i>
            </div>
            <div class="col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <strong>B Side</strong>
                    </div>
                    <div class="panel-body">
                        {% render_field form.termination_b_region %}
                        {% render_field form.termination_b_site %}
                      {% if 'termination_b_rack' in form.fields %}
                          {% render_field form.termination_b_rack %}
                      {% endif %}
                      {% if 'termination_b_device' in form.fields %}
                          {% render_field form.termination_b_device %}
                      {% endif %}
                      {% if 'termination_b_powerpanel' in form.fields %}
                          {% render_field form.termination_b_powerpanel %}
                      {% endif %}
                      {% if 'termination_b_provider' in form.fields %}
                          {% render_field form.termination_b_provider %}
                      {% endif %}
                      {% if 'termination_b_circuit' in form.fields %}
                          {% render_field form.termination_b_circuit %}
                      {% endif %}
                      {% render_field form.b_terminations %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% include 'dcim/inc/cable_form.html' %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12 text-center">
                <button type="submit" name="_update" class="btn btn-primary">Connect</button>
                <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
            </div>
        </div>
    {% endwith %}
</form>
{% endblock %}
