{% extends 'dcim/controller/base.html' %}
{% load helpers %}

{% block drawer %}
    {% table_config_form wireless_networks_table %}
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Wireless Networks</strong>
        </div>
        {% include 'responsive_table.html' with table=wireless_networks_table %}
    </div>
</form>
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% versioned_static 'js/tableconfig.js' %}"></script>
{% endblock javascript %}
