{% extends 'generic/object_create.html' %}
{% load form_helpers %}
{% load helpers %}
{% load static %}

{% block javascript %}
<script type="text/javascript">
    const parentInput = $('select#id_parent');
    const controllerInput = $('select#id_controller');

    const controllerUrl = '{% url 'dcim-api:controllermanageddevicegroup-list' %}';

    const updateControllerFromParent = (parentUuid) => {
        const url = `${controllerUrl}${parentUuid}/`

        $.ajax({
            url,
            method: "GET",
            success: (data) => {
                if (data.controller) {
                    controllerInput.val(data.controller.id);
                }
            },
            error: (error) => {
                const message = `Error fetching controller device group from ${url}`
                console.error(message, error),
                alert(message);
            },
        });
    };

    const onParentInput = (event) => {
        const parentUuid = parentInput.val();
        if (parentUuid) {
            controllerInput.prop("disabled", true);
            if (event) {
                updateControllerFromParent(parentUuid);
            }
        } else {
            controllerInput.prop("disabled", false);
        }
    }

    parentInput.on('select2:select', onParentInput);
    parentInput.on('select2:unselect', onParentInput);

    onParentInput();
</script>
{% endblock %}
