{% extends 'dcim/controller/base.html' %}
{% load helpers %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Wireless Networks</strong>
            <div class="pull-right noprint">
                {% if request.user.is_authenticated %}
                    {% table_config_button_small wireless_networks_table %}
                {% endif %}
            </div>
        </div>
        {% include 'responsive_table.html' with table=wireless_networks_table %}
    </div>
</form>
{% table_config_form wireless_networks_table %}
{% endblock content %}

{% block javascript %}
    {{ block.super }}
    <script src="{% versioned_static 'js/tableconfig.js' %}"></script>
{% endblock javascript %}