{% extends 'base.html' %}
{% load form_helpers %}

{% block title %}Remove {{ device }} from Cluster{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post" class="form">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Remove {{ device }} from Cluster</strong>
                    </div>
                    <div class="panel-body">
                        <p>Are you sure you want to remove <strong>{{ device }}</strong> from cluster <strong>{{ cluster }}</strong>?</p>
                    </div>
                    <div class="panel-footer text-right">
                        <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}