{% extends 'base.html' %}
{% load form_helpers %}

{% block title %}Add {{ device }} to Clusters{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post" class="form form-horizontal">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>Add {{ device }} to Clusters</strong>
                    </div>
                    <div class="panel-body">
                        {% render_form form %}
                    </div>
                    <div class="panel-footer text-right">
                        <a href="{{ return_url }}" class="btn btn-default">Cancel</a>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}