{% extends 'base.html' %}
{% load form_helpers %}

{% block title %}Add {{ component_type }} to {{ parent }}{% endblock %}

{% block content %}
<form action="." method="post" class="h-100 vstack">
    {% csrf_token %}
    <div class="row align-content-start flex-fill">
        <div class="col-md-6 offset-md-3">
            {% if form.non_field_errors %}
                <div class="card border-danger mb-16">
                    <div class="card-header bg-danger-subtle border-danger text-body">
                        <strong>Errors</strong>
                    </div>
                    <div class="card-body">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            {% endif %}
            <div class="card mb-16">
                <div class="card-header">
                    <strong>New {{ component_type }}</strong>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label nb-required">Device Type</label>
                        <div class="col-md-9">
                            <p class="form-control-static">{{ parent }}</p>
                        </div>
                    </div>
                    {% render_form form %}
                </div>
            </div>
        </div>
    </div>
    <div class="nb-form-sticky-footer">
        <button type="submit" name="_update" class="btn btn-primary">
            <span aria-hidden="true" class="mdi mdi-check me-4"></span><!--
            -->Save
        </button>
        <a href="{{ return_url }}" class="btn btn-secondary">
            <span aria-hidden="true" class="mdi mdi-close me-4"></span><!--
            -->Cancel
        </a>
    </div>
</form>
{% endblock %}
