{% extends 'generic/object_edit.html' %}
{% load form_helpers %}
{% load helpers %}

{% block form_fields %}
    {% if form.instance.device %}
        <div class="form-group">
            <label class="col-md-3 control-label required" for="id_device">Device</label>
            <div class="col-md-9">
                <p class="form-control-static">
                    {{ form.instance.device|hyperlinked_object }}
                </p>
            </div>
        </div>
    {% endif %}
    {% render_form form %}
{% endblock %}
