{% extends 'base.html' %}
{% load form_helpers %}

{% block title %}Add {{ component_type }} to {{ parent }}{% endblock %}

{% block content %}
<form action="." method="post" class="form form-horizontal">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            {% if form.non_field_errors %}
                <div class="card bg-danger">
                    <div class="card-header"><strong>Errors</strong></div>
                    <div class="card-body">
                        {{ form.non_field_errors }}
                    </div>
                </div>
            {% endif %}
            <div class="card mb-3">
                <div class="card-header">
                    <strong>New {{ component_type }}</strong>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="col-md-3 control-label required">Device Type</label>
                        <div class="col-md-9">
                            <p class="form-control-static">{{ parent }}</p>
                        </div>
                    </div>
                    {% render_form form %}
                </div>
            </div>
		    <div class="form-group">
                <div class="col-md-9 offset-md-3">
                    <button type="submit" name="_update" class="btn btn-primary">Save</button>
                    <a href="{{ return_url }}" class="btn btn-outline-secondary">Cancel</a>
                </div>
		    </div>
        </div>
    </div>
</form>
{% endblock %}
