{% extends 'generic/object_detail.html' %}
{% load helpers %}

{% block content_left_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Manufacturer</strong>
            </div>
            <table class="table table-hover panel-body attr-table">
                <tr>
                    <td>Description</td>
                    <td>{{ object.description|placeholder }}</td>
                </tr>
                <tr>
                    <td>Devices</td>
                    <td>
                        <a href="{% url 'dcim:device_list' %}?manufacturer={{ object.slug }}">{{ device_table.rows|length }}</a>
                    </td>
                </tr>
            </table>
        </div>
{% endblock content_left_page %}

{% block content_full_width_page %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Devices</strong>
            </div>
            {% include 'inc/table.html' with table=device_table %}
            {% if perms.dcim.add_device %}
                <div class="panel-footer text-right noprint">
                    <a href="{% url 'dcim:device_add' %}?manufacturer={{ object.pk }}" class="btn btn-xs btn-primary">
                        <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add device
                    </a>
                </div>
            {% endif %}
        </div>
    {% include 'inc/paginator.html' with paginator=device_table.paginator page=device_table.page %}
    <div class="row"></div>
{% endblock content_full_width_page %}
