{% extends 'generic/object_edit.html' %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Power Panel</strong></div>
        <div class="panel-body">
            {% render_field form.region %}
            {% render_field form.site %}
            {% render_field form.power_panel %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Power Feed</strong></div>
        <div class="panel-body">
            {% render_field form.rack %}
            {% render_field form.name %}
            {% render_field form.status %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Characteristics</strong></div>
        <div class="panel-body">
            {% render_field form.type %}
            {% render_field form.supply %}
            {% render_field form.voltage %}
            {% render_field form.amperage %}
            {% render_field form.phase %}
            {% render_field form.max_utilization %}
        </div>
    </div>
    {% include 'inc/extras_features_edit_form_fields.html' %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Comments</strong></div>
        <div class="panel-body">
            {% render_field form.comments %}
        </div>
    </div>
{% endblock %}
