{% extends 'generic/object_retrieve.html' %}
{% load helpers %}

{% block content_left_page %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Software Image</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Status</td>
                        <td>
                            {{ object.status|hyperlinked_object_with_color }}
                        </td>
                    </tr>
                    <tr>
                        <td>Software Version</td>
                        <td>{{ object.software_version|hyperlinked_object }}</td>
                    </tr>
                    <tr>
                        <td>Image File Name</td>
                        <td>
                            {% if object.image_file_name %}
                            <span class="hover_copy">
                                <span id="copy_image_file_name"><code>{{ object.image_file_name }}</code></span>
                                <button type="button" class="btn btn-inline btn-default hover_copy_button" data-clipboard-target="#copy_image_file_name">
                                    <span class="mdi mdi-content-copy"></span>
                                </button>
                            </span>
                            {% else %}
                            <span class="text-muted">&mdash;</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Image File Checksum</td>
                        <td>
                            {% if object.image_file_checksum %}
                            <span class="hover_copy">
                                <span id="copy_image_file_checksum"><code>{{ object.image_file_checksum }}</code></span>
                                <button type="button" class="btn btn-inline btn-default hover_copy_button" data-clipboard-target="#copy_image_file_checksum">
                                    <span class="mdi mdi-content-copy"></span>
                                </button>
                            </span>
                            {% else %}
                            <span class="text-muted">&mdash;</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Hashing Algorithm</td>
                        <td>{{ object.hashing_algorithm|placeholder }}</td>
                    </tr>
                    <tr>
                        <td>Download URL</td>
                        <td>
                            {% if object.download_url %}
                            <span class="hover_copy">
                                <span id="copy_image_file_checksum"><code>{{ object.download_url }}</code></span>
                                <button type="button" class="btn btn-inline btn-default hover_copy_button" data-clipboard-target="#copy_image_file_checksum">
                                    <span class="mdi mdi-content-copy"></span>
                                </button>
                            </span>
                            {% else %}
                            <span class="text-muted">&mdash;</span>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
{% endblock content_left_page %}
