{% extends 'generic/object_create.html' %}
{% load form_helpers %}

{% block form %}
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Virtual Device Context</strong></div>
        <div class="panel-body">
            {% render_field form.name %}
            {% render_field form.device %}
            {% render_field form.role %}
            {% render_field form.interfaces %}
            {% render_field form.description %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Management</strong></div>
        <div class="panel-body">
            {% render_field form.status %}
            {% render_field form.identifier %}
            {% if editing %}
                {% render_field form.primary_ip4 %}
                {% render_field form.primary_ip6 %}
            {% endif %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"><strong>VRF Assignments</strong></div>
        <div class="panel-body">
            {% render_field form.vrfs %}
        </div>
    </div>
    {% include 'inc/tenancy_form_panel.html' %}
    {% include 'inc/extras_features_edit_form_fields.html' %}
{% endblock %}
