{% load helpers %}

<strong>{{ body_content_table_verbose_name_plural|bettertitle }}</strong>
{% if body_content_table_list_url %}
    <a href="{{ body_content_table_list_url }}" class="badge badge-primary">{{ body_content_table.rows|length }}</a>
{% endif %}

<div class="pull-right noprint">
    {% if request.user.is_authenticated %}
        {% table_config_button_small body_content_table %}
    {% endif %}
</div>

{% table_config_form body_content_table %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% versioned_static 'js/tableconfig.js' %}"></script>
