{% load helpers %}

<ul class="nav nav-tabs" style="margin-bottom: 20px">
    <li class="nav-item" role="presentation">
        <a class="nav-link{% if active_tab == 'add' %} active{% endif %}" href="{% url 'ipam:ipaddress_add' %}{% legacy_querystring request %}">New IP</a>
    </li>
    {% if 'interface' in request.GET or 'vminterface' in request.GET %}
        <li class="nav-item" role="presentation">
            <a class="nav-link{% if active_tab == 'assign' %} active{% endif %}" href="{% url 'ipam:ipaddress_assign' %}{% legacy_querystring request %}">Assign IP</a>
        </li>
    {% else %}
        <li class="nav-item" role="presentation">
            <a class="nav-link{% if active_tab == 'bulk_add' %} active{% endif %}" href="{% url 'ipam:ipaddress_bulk_add' %}{% legacy_querystring request %}">Bulk Create</a>
        </li>
    {% endif %}
</ul>
