{% load helpers %}
<tr>
    <td><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></td>
    <td>{{ service.get_protocol_display }}</td>
    <td>{{ service.port_list }}</td>
    <td>
        {% for ip in service.ipaddresses.all %}
            {{ ip|hyperlinked_object }}<br>
        {% empty %}
            <span class="text-muted">All IPs</span>
        {% endfor %}
    </td>
    <td>{{ service.description }}</td>
    <td class="text-right noprint">
        <a href="{% url 'ipam:service_changelog' pk=service.pk %}" class="btn btn-default btn-xs" title="Change log">
            <i class="mdi mdi-history"></i>
        </a>
        {% if perms.ipam.change_service %}
            <a href="{% url 'ipam:service_edit' pk=service.pk %}?return_url={{ service.parent.get_absolute_url }}" class="btn btn-info btn-xs" title="Edit service">
                <i class="mdi mdi-pencil"></i>
            </a>
        {% endif %}
        {% if perms.ipam.delete_service %}
            <a href="{% url 'ipam:service_delete' pk=service.pk %}?return_url={{ service.parent.get_absolute_url }}" class="btn btn-danger btn-xs">
                <i class="mdi mdi-trash-can-outline" title="Delete service"></i>
            </a>
        {% endif %}
    </td>
</tr>
