{% load helpers %}
<div class="btn-group" role="group">
    <a href="{% django_querystring show_available='true' %}"
       class="btn btn-primary{% if show_available %} bg-primary nb-text-body-bg{% endif %}">
        <span class="mdi mdi-eye-outline"></span> Show {{ label }}
    </a>
    <a href="{% django_querystring show_available='false' %}"
       class="btn btn-primary{% if not show_available %} bg-primary nb-text-body-bg{% endif %}">
        <span class="mdi mdi-eye-off-outline"></span> Hide {{ label }}
    </a>
</div>
