{% load helpers %}
{% if show_available is not None %}
        <div class="btn-group" role="group">
            <a href="{{ request.path }}{% querystring request show_available='true' %}" class="btn btn-default{% if show_available %} active disabled{% endif %}">
              <i class="mdi mdi-eye-outline"></i> Show available
            </a>
            <a href="{{ request.path }}{% querystring request show_available='false' %}" class="btn btn-default{% if not show_available %} active disabled{% endif %}">
              <i class="mdi mdi-eye-off-outline"></i> Hide available
            </a>
        </div>
{% endif %}
