{% load helpers %}
<div class="btn-group" role="group">
    <a href="{% legacy_querystring request show_available='true' %}" class="btn btn-primary{% if show_available %} active disabled{% endif %}">
        <span class="mdi mdi-eye-outline"></span> Show {{ label }}
    </a>
    <a href="{% legacy_querystring request show_available='false' %}" class="btn btn-primary{% if not show_available %} active disabled{% endif %}">
        <span class="mdi mdi-eye-off-outline"></span> Hide {{ label }}
    </a>
</div>