---
# A lighter-weight version of CI specifically for pull requests
name: "CI - Pull Request"
concurrency:  # Cancel any existing runs of this workflow for this same PR
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
on:  # yamllint disable
  pull_request:
  workflow_call:

jobs:
  test-user-id:
    name: "Get User ID"
    runs-on: "bryan-test"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Get user id"
        run: "id"
      - name: "Get PATH"
        run: "echo $PATH"
      - name: "Get poetry path"
        run: "which poetry"
      - name: "Get / permissions"
        run: "ls -al /"
      - name: "Get /usr permissions"
        run: "ls -al /usr"        
      - name: "Get usr/local permissions"
        run: "ls -al /usr/local"
      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          poetry-install-options: "--only dev --only linting"
          poetry-version: "2.1.4"
          python-version: "3.12"    
