---
name: "Nautobot Plugin Upstream Testing - Base"

on:
  workflow_call:
    inputs:
      invoke_context_name:
        required: true
        type: string
      plugin_name:
        required: true
        type: string

env:
  PYTHON_VERSION: "3.8"

jobs:
  unittest:
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        nautobot-version: ["next", "develop", "ltm-1.6"]
    runs-on: "ubuntu-24.04"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v2"
        with:
          ref: "${{ matrix.nautobot-version == 'next' && 'next-2.0' || matrix.nautobot-version == 'ltm-1.6' && 'ltm-1.6' || env.GITHUB_REF_NAME || 'develop' }}"
      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          poetry-install-options: ""  # override default "--only dev"
          poetry-version: "1.8.2"
          python-version: "3.10"
      - name: "Set up Docker Buildx"
        id: "buildx"
        uses: "docker/setup-buildx-action@v1"
      - name: "Build"
        uses: "docker/build-push-action@v2"
        with:
          builder: "${{ steps.buildx.outputs.name }}"
          context: "./"
          push: false
          load: true
          tags: "${{ inputs.plugin_name }}/nautobot:${{ matrix.nautobot-version }}-py${{ env.PYTHON_VERSION }}"
          file: "./development/Dockerfile"
          cache-from: "type=gha,scope=nautobot-${{ matrix.nautobot-version }}"
          build-args: |
            NAUTOBOT_VER=${{ matrix.nautobot-version }}
            PYTHON_VER=${{ env.PYTHON_VERSION }}
      - name: "Copy credentials"
        run: "cp development/creds.example.env development/creds.env"
      - name: "Run Tests"
        run: "INVOKE_${{ inputs.invoke_context_name }}_NAUTOBOT_VER=${{ matrix.nautobot-version }} INVOKE_${{ inputs.invoke_context_name }}_PYTHON_VER=${{ env.PYTHON_VERSION }} poetry run invoke unittest --failfast --keepdb"
