---
name: "Release"
on:
  release:
    types: ["published"]  # covers releases, prereleases, and drafts

jobs:
  # Publish to GitHub followed by pypi
  publish_python:
    if: "${{ ! github.event.release.draft }}"
    name: "Publish Python Packages"
    runs-on: "ubuntu-24.04"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - name: "Setup environment"
        uses: "networktocode/gh-action-setup-poetry-environment@v6"
        with:
          poetry-install-options: "--no-root"
          poetry-version: "2.1.4"
          python-version: "3.12"
      - name: "Build Documentation"
        run: "poetry run mkdocs build --no-directory-urls --strict"
      - name: "Run Poetry Build"
        run: "poetry build"
      - name: "Upload binaries to release"
        uses: "svenstaro/upload-release-action@04733e069f2d7f7f0b4aebc4fbdbce8613b03ccd" # v2
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          file: "dist/*"
          tag: "${{ github.ref }}"
          overwrite: true
          file_glob: true
      - name: "Push to PyPI"
        uses: "pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc" # release/v1
        with:
          user: "__token__"
          password: "${{ secrets.PYPI_API_TOKEN }}"

  publish_containers:
    if: "${{ ! github.event.release.draft }}"
    name: "Build & Publish Container Images"
    runs-on: "ubuntu-24.04"
    strategy:
      fail-fast: true
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
    env:
      INVOKE_NAUTOBOT_PYTHON_VER: "${{ matrix.python-version }}"
    steps:
      - name: "Check out repository code"
        uses: "actions/checkout@v4"
      - run: echo "branch=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_OUTPUT
        id: "gitbranch"
      - name: "Set up QEMU"
        uses: "docker/setup-qemu-action@2b82ce82d56a2a04d2637cd93a637ae1b359c0a7" # v2
      - name: "Set up Docker Buildx"
        uses: "docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55" # v2
      - name: "Login to GitHub Container Registry"
        uses: "docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc" # v2
        with:
          registry: "ghcr.io"
          username: "${{ github.actor }}"
          password: "${{ secrets.GITHUB_TOKEN }}"
      - name: "Login to Docker"
        uses: "docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc" # v2
        with:
          username: "${{ secrets.DOCKERHUB_USERNAME }}"
          password: "${{ secrets.DOCKERHUB_TOKEN }}"
      - name: "Docker Metadata"
        id: "dockermeta"
        uses: "docker/metadata-action@818d4b7b91585d195f67373fd9cb0332e31a7175" # v4
        with:
          images: "networktocode/nautobot,ghcr.io/nautobot/nautobot"
          flavor: |
            latest=${{ ! github.event.release.prerelease && matrix.python-version == 3.12 }}
          tags: |
            type=semver,pattern={{version}}-py${{ matrix.python-version }}
            type=semver,pattern={{version}},enable=${{ matrix.python-version == 3.12 }}
            type=semver,pattern={{major}}.{{minor}}-py${{ matrix.python-version }},enable=${{ ! github.event.release.prerelease }}
            type=semver,pattern={{major}}.{{minor}},enable=${{ ! github.event.release.prerelease && matrix.python-version == 3.12 }}
            type=raw,value=latest-py${{ matrix.python-version }},enable=${{ ! github.event.release.prerelease }}
            type=raw,value=stable,enable=${{ ! github.event.release.prerelease && matrix.python-version == 3.12 }}
            type=raw,value=stable-py${{ matrix.python-version }},enable=${{ ! github.event.release.prerelease }}
          labels: |
            org.opencontainers.image.title=Nautobot
      - name: "Build"
        uses: "docker/build-push-action@0a97817b6ade9f46837855d676c4cca3a2471fc9" # v4
        with:
          push: true
          target: "final"
          file: "docker/Dockerfile"
          platforms: "linux/amd64,linux/arm64"
          tags: "${{ steps.dockermeta.outputs.tags }}"
          labels: "${{ steps.dockermeta.outputs.labels }}"
          cache-from: "type=gha,scope=nautobot-${{ steps.gitbranch.outputs.branch }}-${{ matrix.python-version }}"
          cache-to: "type=gha,mode=max,scope=nautobot-${{ steps.gitbranch.outputs.branch }}-${{ matrix.python-version }}"
          context: "."
          build-args: |
            PYTHON_VER=${{ matrix.python-version }}
            POETRY_INSTALLER_PARALLEL=false
      - name: "Docker Dev Metadata"
        id: "dockerdevmeta"
        uses: "docker/metadata-action@818d4b7b91585d195f67373fd9cb0332e31a7175" # v4
        with:
          images: "networktocode/nautobot-dev,ghcr.io/nautobot/nautobot-dev"
          flavor: |
            latest=${{ ! github.event.release.prerelease && matrix.python-version == 3.12 }}
          tags: |
            type=semver,pattern={{version}}-py${{ matrix.python-version }}
            type=semver,pattern={{version}},enable=${{ matrix.python-version == 3.12 }}
            type=semver,pattern={{major}}.{{minor}}-py${{ matrix.python-version }},enable=${{ ! github.event.release.prerelease }}
            type=semver,pattern={{major}}.{{minor}},enable=${{ ! github.event.release.prerelease && matrix.python-version == 3.12 }}
            type=raw,value=latest-py${{ matrix.python-version }},enable=${{ ! github.event.release.prerelease }}
            type=raw,value=stable,enable=${{ ! github.event.release.prerelease && matrix.python-version == 3.12 }}
            type=raw,value=stable-py${{ matrix.python-version }},enable=${{ ! github.event.release.prerelease }}
          labels: |
            org.opencontainers.image.title=Nautobot
      - name: "Build Dev Containers"
        uses: "docker/build-push-action@0a97817b6ade9f46837855d676c4cca3a2471fc9" # v4
        with:
          push: true
          target: "final-dev"
          file: "docker/Dockerfile"
          platforms: "linux/amd64,linux/arm64"
          tags: "${{ steps.dockerdevmeta.outputs.tags }}"
          labels: "${{ steps.dockerdevmeta.outputs.labels }}"
          cache-from: "type=gha,scope=nautobot-${{ steps.gitbranch.outputs.branch }}-${{ matrix.python-version }}"
          cache-to: "type=gha,mode=max,scope=nautobot-${{ steps.gitbranch.outputs.branch }}-${{ matrix.python-version }}"
          context: "."
          build-args: |
            PYTHON_VER=${{ matrix.python-version }}
            POETRY_INSTALLER_PARALLEL=false

  slack-notify:
    if: "${{ ! github.event.release.draft }}"
    needs:
      - "publish_python"
      - "publish_containers"
    runs-on: "ubuntu-24.04"
    env:
      SLACK_WEBHOOK_URL: "${{ secrets.SLACK_WEBHOOK_URL }}"
      SLACK_MESSAGE: >-
        *NOTIFICATION: NEW-RELEASE-PUBLISHED*\n
        Repository: <${{ github.server_url }}/${{ github.repository }}|${{ github.repository }}>\n
        Release: <${{ github.server_url }}/${{ github.repository }}/releases/tag/${{ github.ref_name }}|${{ github.ref_name }}>\n
        Published by: <${{ github.server_url }}/${{ github.actor }}|${{ github.actor }}>
    steps:
      - name: "Send a notification to Slack"
        # ENVs cannot be used directly in job.if. This is a workaround to check
        # if SLACK_WEBHOOK_URL is present.
        if: "${{ env.SLACK_WEBHOOK_URL != '' }}"
        uses: "slackapi/slack-github-action@8157a0f4d70c5099e42dcff1258b19bdaabb030b" # v1.17.0
        with:
          payload: |
            {
              "text": "${{ env.SLACK_MESSAGE }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "${{ env.SLACK_MESSAGE }}"
                  }
                }
              ]
            }
        env:
          SLACK_WEBHOOK_URL: "${{ secrets.SLACK_WEBHOOK_URL }}"
          SLACK_WEBHOOK_TYPE: "INCOMING_WEBHOOK"

  deploy-sandbox:
    if: "${{ ! github.event.release.draft && ! github.event.release.prerelease }}"
    needs:
      - "publish_python"
      - "publish_containers"
    runs-on: "ubuntu-24.04"
    steps:
      - name: "Call deploy sandbox workflow for demo.nautobot.com"
        run: "gh workflow run deploy_sandbox.yml -R nautobot/sandboxes -f sandbox_environment=demo"
        env:
          GH_TOKEN: "${{ secrets.GH_NAUTOBOT_BOT_TOKEN }}"
